## 实体类生成模板
##
## 参数:
## - ${namespace}
## - ${applicationName}
## - ${sectionName}
namespace ${namespace}
{
    #region Using Libraries
    using System.Configuration;

    using X3Platform.Configuration;
    using X3Platform.Yaml.RepresentationModel;
    #endregion

    /// <summary>配置信息</summary>
    public class ${applicationName}Configuration : XmlConfiguraton
    {
        /// <summary>所属应用的名称</summary>
        public const string ApplicationName = "${applicationName}";
        
        /// <summary>配置区域的名称</summary>
        public const string SectionName = "${sectionName}";

        /// <summary>获取配置区的名称</summary>
        public override string GetSectionName()
        {
            return SectionName;
        }
        
        #region 构造函数:${applicationName}Configuration()
        /// <summary>构造函数</summary>
        public ${applicationName}Configuration()
        {
            // 根据内置 YAML 资源配置文件初始化对象信息

            // 注:需根据实际资源名称修改资源名称
            var root = YamlConfiguratonOperator.GetRootNodeByResourceStream<YamlMappingNode>(
                this.GetType().Assembly,
                "X3Platform.${applicationName}.defaults.config.yaml");

            // 加载 Keys 键值配置信息
            YamlConfiguratonOperator.SetKeyValues(this.Keys, (YamlMappingNode)root.Children[new YamlScalarNode("keys")]);

            this.Initialized = true;
        }
        #endregion
    }
}
