@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
@section scripts {
  <script type="text/javascript" id="x-client-api-template-script" src="/resources/javascript/x-client-api-template.zh-cn.js"></script>
  <script type="text/javascript" id="x-app-script" src="/resources/javascript/app/x.app.js"></script>
  <script type="text/javascript" id="shared-wizards-contacts-wizard-script" src="/views/shared/wizards/contacts-wizard.js"></script>
  <script type="text/javascript" id="main-customizes-customize-content-list-script" src="/views/main/customizes/customize-content-list.js"></script> }
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"应用管理\应用配置管理" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header x-freeze-height">
      <div id="toolbar" class="table-toolbar">
        <a href="/customizes/customize-content/form" target="_blank" class="btn btn-default"><i class="glyphicon glyphicon-plus" title="新增"></i> 新增</a>
      </div>
      <span>自定义内容管理</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div class="table-row-filter form-inline text-right x-freeze-height">
        <input id="searchText" type="text" value="" class="form-control input-sm" />
        <button id="btnFilter" class="btn btn-default btn-sm" title="查询"><i class="glyphicon glyphicon-search"></i></button>
      </div>
      <div id="window-main-table-container"><span class="tooltip-loading-text "><img src="/resources/images/loading.gif" alt="正在加载..." /></span></div>
    </div>
    <div id="window-main-table-footer" class="table-footer x-freeze-height"></div>
  </div>
</div>