##
## /apps/templates/web/customize/widgets/meeting.vm
##
<style type="text/css">
.windows-widgets-meeting-attend-list {padding:0px 10px 10px 10px; border:0px solid #ccc; height:160px; overflow:auto;}
.windows-widgets-meeting-attend-item-link a {text-decoration:none; line-height:120%;}
.windows-widgets-meeting-attend-item-link a:hover {text-decoration:underline; color:maroon;}
.windows-widgets-meeting-attend-item-link a * {vertical-align:middle;}
</style>

<script type="text/javascript" >
//<![CDATA[
$(document).ready(function()
{
    // 本地服务器状态不可用或者当前用户为匿名用户时退出脚本
    if(x.cookies.find('session$local$status') == 0 || x.cookies.find('session$local$account') == 'anonymous') { return; }
   
    var account = x.toJSON(x.cookies.find('session$local$account'));
    
    var maxRowCount = x.form.query('${widgetRuntimeId}\$maxRowCount').val();
    
    var outString = '<?xml version="1.0" encoding="utf-8" ?>';

    outString += '<ajaxStorage>';
    outString += '<maxRowCount>' + x.form.query('${widgetRuntimeId}\$maxRowCount').val() + '</maxRowCount>';
    outString += '<maxLength>' + x.form.query('${widgetRuntimeId}\$maxLength').val() + '</maxLength>';
    outString += '</ajaxStorage>';
    
    x.net.xhr('/api/meeting.getWidget.aspx', outString, {
        waitingType: 'mini',
        waitingMessage: i18n.strings.msg_net_waiting_query_tip_text,
        outputException: 'console',
        callback: function(response)
        {
            var result = x.toJSON(response);

            var list = result.ajaxStorage;
                    
            var outString = '';

            list.each(function(node, index)
            {
                outString += '<div class="windows-widgets-meeting-attend-item" ><a href="/apps/pages/meeting/meeting-view.aspx?id=' + node.id + '" target="_blank" >' + node.title + '</a></div>';
            });

            x.form.query('${widgetRuntimeId}$container').html(outString);
        }
    });
});
//]]>
</script>

<div id="${widgetRuntimeId}" class="x-ui-pkg-customize-widget-whitebox" style="${height} ${width}" >
<input id="${widgetRuntimeId}\$maxRowCount" type="hidden" value="${maxRowCount}" />
<input id="${widgetRuntimeId}\$maxLength" type="hidden" value="${maxLength}" />
<div id="${widgetRuntimeId}$container" class="windows-widgets-meeting-attend-list" >
    <div style="padding:4px 0 0 0px;" >正在加载中...</div>
</div>
</div>
