##
##
##
##
<div style="padding:10px;" class="x-ui-pkg-customize-widget-whitebox" >

<input id="${widgetRuntimeId}_mobile" type="text" style="width:200px;" /> <br />

<input id="${widgetRuntimeId}_btn" type="button" style="margin:10px 0 0 0;" value="查询手机号码归属地" />

<div id="${widgetRuntimeId}"></div>

<script type="text/javascript">

$(document).ready(function(){

	var widget = '${widgetRuntimeId}';

	$('#' + widget + '_btn').bind('click', function(){
		
		var url = '/services/Elane/X/Location/Spy/Ajax.MobileWrapper.aspx';
		
		var outString = '';
	    
		outString += '<ajaxStorage>';
		outString += '<action><![CDATA[getLocation]]></action>';
		outString += '<mobile><![CDATA['+ $('#' + widget + '_mobile').val() + ']]></mobile>';
		outString += '</ajaxStorage>';

		var options = {
			resultType: 'json',
			xml: outString
		};
	    
		jQuery.post( url, options, function(response) {
					
					x.net.fetchException(response);
	        
					var result = x.toJSON(response).ajaxStorage;
					
					$('#${widgetRuntimeId}').html('<div style="padding:6px 0 4px 0;"><strong>Mobile:</strong> ' + result.mobile + '</div><div><strong>归属地:</strong> ' + result.location+ '</div>');
				}
		);    
	});
});
</script>

</div>
