<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>服务提供者配置信息 | 数据提供者配置信息</description>

    <!-- 密码加密方式 -->
    <object name="X3Platform.Membership.Passwords.IPasswordEncryptionManagement"
            type="X3Platform.Membership.Passwords.SHA1PasswordEncryptionManagement"
            lazy-init="true" />

    <!-- 授权对象 -->
    <object name="X3Platform.Membership.IBLL.IAuthorizationObjectService"
            type="X3Platform.Membership.BLL.AuthorizationObjectService"
            lazy-init="true" />

    <!-- 授权对象 -->
    <object name="X3Platform.Membership.IDAL.IAuthorizationObjectProvider"
            type="X3Platform.Membership.DAL.IBatis.AuthorizationObjectProvider"
            lazy-init="true" />

    <!-- 帐号 -->
    <object name="X3Platform.Membership.IBLL.IAccountService"
            type="X3Platform.Membership.BLL.AccountService"
            lazy-init="true" />
    
    <object name="X3Platform.Membership.IDAL.IAccountProvider"
            type="X3Platform.Membership.DAL.IBatis.AccountProvider"
            lazy-init="true" />

    <!-- 帐号日志 -->
    <object name="X3Platform.Membership.IBLL.IAccountLogService"
            type="X3Platform.Membership.BLL.AccountLogService"
            lazy-init="true" />
    
    <object name="X3Platform.Membership.IDAL.IAccountLogProvider"
            type="X3Platform.Membership.DAL.IBatis.AccountLogProvider"
            lazy-init="true" />

    <!-- 帐号委托 -->
    <object name="X3Platform.Membership.IBLL.IAccountGrantService"
            type="X3Platform.Membership.BLL.AccountGrantService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IAccountGrantProvider"
            type="X3Platform.Membership.DAL.IBatis.AccountGrantProvider"
            lazy-init="true" />

    <!-- 成员 -->
    <object name="X3Platform.Membership.Model.MemberInfo.ExtensionInformation"
            type="X3Platform.Membership.HumanResources.Model.MemberExtensionInformation,X3Platform.Membership.HumanResources"
            singleton="false" />

    <object name="X3Platform.Membership.IBLL.IMemberService"
            type="X3Platform.Membership.BLL.MemberService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IMemberProvider"
            type="X3Platform.Membership.DAL.IBatis.MemberProvider"
            lazy-init="true" />

    <!-- 组织单位 -->
    <object name="X3Platform.Membership.Model.OrganizationUnitInfo.ExtensionInformation"
            type="X3Platform.Membership.HumanResources.Model.OrganizationUnitExtensionInformation,X3Platform.Membership.HumanResources"
            singleton="false" />

    <object name="X3Platform.Membership.IBLL.IOrganizationUnitService"
            type="X3Platform.Membership.BLL.OrganizationUnitService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IOrganizationUnitProvider"
            type="X3Platform.Membership.DAL.IBatis.OrganizationUnitProvider"
            lazy-init="true" />

    <!-- 角色 -->
    <object name="X3Platform.Membership.Model.RoleInfo.ExtensionInformation"
            type="X3Platform.Membership.HumanResources.Model.RoleExtensionInformation,X3Platform.Membership.HumanResources"
            singleton="false" />

    <object name="X3Platform.Membership.IBLL.IRoleService"
            type="X3Platform.Membership.BLL.RoleService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IRoleProvider"
            type="X3Platform.Membership.DAL.IBatis.RoleProvider"
            lazy-init="true" />

    <!-- 通用角色 -->
    <object name="X3Platform.Membership.IBLL.IGeneralRoleService"
            type="X3Platform.Membership.BLL.GeneralRoleService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IGeneralRoleProvider"
            type="X3Platform.Membership.DAL.IBatis.GeneralRoleProvider"
            lazy-init="true" />

    <!-- 标准组织 -->
    <object name="X3Platform.Membership.IBLL.IStandardOrganizationUnitService"
            type="X3Platform.Membership.BLL.StandardOrganizationUnitService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IStandardOrganizationUnitProvider"
            type="X3Platform.Membership.DAL.IBatis.StandardOrganizationUnitProvider"
            lazy-init="true" />

    <!-- 标准通用角色 -->
    <object name="X3Platform.Membership.IBLL.IStandardGeneralRoleService"
            type="X3Platform.Membership.BLL.StandardGeneralRoleService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IStandardGeneralRoleProvider"
            type="X3Platform.Membership.DAL.IBatis.StandardGeneralRoleProvider"
            lazy-init="true" />

    <!-- 标准角色 -->
    <object name="X3Platform.Membership.IBLL.IStandardRoleService"
            type="X3Platform.Membership.BLL.StandardRoleService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IStandardRoleProvider"
            type="X3Platform.Membership.DAL.IBatis.StandardRoleProvider"
            lazy-init="true" />

    <!-- 非标准角色 -->
    <object name="X3Platform.Membership.IBLL.INonstandardRoleService"
            type="X3Platform.Membership.BLL.NonstandardRoleService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.INonstandardRoleProvider"
            type="X3Platform.Membership.DAL.IBatis.NonstandardRoleProvider"
            lazy-init="true" />

    <!-- 群组 -->
    <object name="X3Platform.Membership.IBLL.IGroupService"
            type="X3Platform.Membership.BLL.GroupService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IGroupProvider"
            type="X3Platform.Membership.DAL.IBatis.GroupProvider"
            lazy-init="true" />

    <!-- 群组分类 -->
    <object name="X3Platform.Membership.IBLL.ICatalogService"
            type="X3Platform.Membership.BLL.CatalogService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.ICatalogProvider"
            type="X3Platform.Membership.DAL.IBatis.CatalogProvider"
            lazy-init="true" />

    <!-- 群组分类子节点 -->
    <object name="X3Platform.Membership.IBLL.ICatalogItemService"
            type="X3Platform.Membership.BLL.CatalogItemService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.ICatalogItemProvider"
            type="X3Platform.Membership.DAL.IBatis.CatalogItemProvider"
            lazy-init="true" />

    <!-- 外部联系人信息 -->
    <object name="X3Platform.Membership.IBLL.IContactService"
            type="X3Platform.Membership.BLL.ContactService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IContactProvider"
            type="X3Platform.Membership.DAL.IBatis.ContactProvider"
            lazy-init="true" />

    <!-- 岗位 -->
    <object name="X3Platform.Membership.IBLL.IAssignedJobService"
            type="X3Platform.Membership.BLL.AssignedJobService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IAssignedJobProvider"
            type="X3Platform.Membership.DAL.IBatis.AssignedJobProvider"
            lazy-init="true" />

    <!-- 职位序列 -->
    <object name="X3Platform.Membership.IBLL.IJobFamilyService"
            type="X3Platform.Membership.BLL.JobFamilyService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IJobFamilyProvider"
            type="X3Platform.Membership.DAL.IBatis.JobFamilyProvider"
            lazy-init="true" />

    <!-- 职级 -->
    <object name="X3Platform.Membership.IBLL.IJobGradeService"
            type="X3Platform.Membership.BLL.JobGradeService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IJobGradeProvider"
            type="X3Platform.Membership.DAL.IBatis.JobGradeProvider"
            lazy-init="true" />

    <!-- 职位 -->
    <object name="X3Platform.Membership.IBLL.IJobService"
            type="X3Platform.Membership.BLL.JobService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.IJobProvider"
            type="X3Platform.Membership.DAL.IBatis.JobProvider"
            lazy-init="true" />

    <!-- 参数设置 -->
    <object name="X3Platform.Membership.IBLL.ISettingService"
            type="X3Platform.Membership.BLL.SettingService"
            lazy-init="true" />

    <object name="X3Platform.Membership.IDAL.ISettingProvider"
            type="X3Platform.Membership.DAL.IBatis.SettingProvider"
            lazy-init="true" />

    <!-- 数据包管理[标准组织] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.StandardOrganizationUnitPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.StandardOrganizationUnitPackage"
            lazy-init="true" />

    <!-- 数据包管理[标准角色] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.StandardRolePackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.StandardRolePackage"
            lazy-init="true" />

    <!-- 数据包管理[组织] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.OrganizationUnitPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.OrganizationUnitPackage"
            lazy-init="true" />

    <!-- 数据包管理[角色] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.RolePackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.RolePackage"
            lazy-init="true" />

    <!-- 数据包管理[人员] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.UserPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.UserPackage"
            lazy-init="true" />

    <!-- 数据包管理[群组] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.GroupPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.GroupPackage"
            lazy-init="true" />

    <!-- 数据包管理[职位] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.JobPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.JobPackage"
            lazy-init="true" />

    <!-- 数据包管理[岗位] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.AssignedJobPackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.AssignedJobPackage"
            lazy-init="true" />

    <!-- 数据包管理[职级] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Membership.JobGradePackage"
            type="X3Platform.Membership.Synchronize.Packages.Membership.JobGradePackage"
            lazy-init="true" />

    <!-- 数据包管理[应用功能] -->
    <object name="X3Platform.Membership.Synchronize.Packages.Applications.ApplicationFeaturePackage"
            type="X3Platform.Membership.Synchronize.Packages.Applications.ApplicationFeaturePackage"
            lazy-init="true" />

    <!-- 数据包管理[工作流模板] -->
    <object name="X3Platform.Membership.Synchronize.Packages.WorkflowPlus.WorkflowTemplatePackage"
            type="X3Platform.Membership.Synchronize.Packages.WorkflowPlus.WorkflowTemplatePackage"
            lazy-init="true" />
</objects>
