<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The membership application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="membershipConfiguration"  type="X3Platform.Membership.Configuration.MembershipConfiguration,X3Platform.Membership" />
    </configSections>

    <!-- membership configuration begin -->

    <membershipConfiguration>
        <keys>
            <!-- SQL Server : 数据库连接名称 -->
            <add name="DataSourceName" value="ConnectionString" />
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.Membership.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Membership.IBatis.SqlMap.config" />
            <!-- 授权范围数据表的前缀：当多库时需要配置 `sys_config`. | `sys_hris`. -->
            <add name="PrefixAuthorizationScopeEntitySQLTable" value="`sys_hris`." />
            <!-- 单点登录 : 可选的值 1.On 2.Off(默认) -->
            <add name="SingleSignOn" value="Off" />
            <!-- 密码加密方式 : 可选的值 1.None(默认) 2.SHA1(不可逆加密) 3.AES(可逆加密) -->
            <add name="PasswordEncryption" value="None" />
            <!-- 密码可逆加密方式的密钥 (长度必须为32位GUID类型字符串) -->
            <add name="PasswordEncryptionSecret" value="${ApplicationClientId}" />
            <!-- 根据字段数据自动绑定组织信息 : 可选的值 1.None(默认) 2.Self 3.AssignedJobId 4.RoleId -->
            <add name="AutoBindingOrganizationByPrimaryKey" value="None" />
            <!-- 根据岗位数据自动绑定职位信息 : 可选的值 1.None(默认) 2.Self 3.AssignedJobId -->
            <add name="AutoBindingJobByPrimaryKey" value="None" />
            <!-- 根据岗位数据自动绑定职级信息 : 可选的值 1.None(默认) 2.Self 3.AssignedJobId -->
            <add name="AutoBindingJobGradeByPrimaryKey" value="None" />
            <!-- 模拟验证的密码 -->
            <add name="MockAuthenticationPassword" value="888888" />
            <!-- 管理员的 Cookie 标记 -->
            <add name="AdministratorIdentityCookieToken" value="administratorIdentity" />
            <!-- 用户的 Cookie 标记 -->
            <add name="MemberIdentityCookieToken" value="memberIdentity" />
            <!-- 默认单机版登录名 -->
            <add name="StandaloneLoginName" value="admin" />
            <!-- 默认系统帐号的登录名 -->
            <add name="SystemAccountLoginName" value="admin" />
            <!-- 默认的游客帐号 -->
            <add name="GuestLoginName" value="guest" />
            <!-- 默认的游客名称 -->
            <add name="GuestNickName" value="匿名帐号" />
            <!-- 默认初始密码 : 系统新建帐号和重置时的初始密码 -->
            <add name="DefaultPassword" value="888888" />
            <!-- 默认的组织标识 : 组织结构(帐号创建时默认所在的组织信息) -->
            <add name="DefaultOrganizationId" value="00000000-0000-0000-0000-000000000001" />
            <!-- 默认的标准角色标识 : 默认标准角色(角色创建时默认的标准角色信息) -->
            <add name="DefaultStandardRoleId" value="00000000-0000-0000-0000-000000000000" />
            <!-- 默认的通用角色标识 : 默认通用角色(角色创建时默认的通用角色信息) -->
            <add name="DefaultGeneralRoleId" value="00000000-0000-0000-0000-000000000000" />
            <!-- 默认的权限范围 -->
            <add name="DefaultScopeText" value="Role#00000000-0000-0000-0000-000000000000#所有人" />
            <!-- 同步服务响应时显示的名称 -->
            <add name="PackageServiceDisplayName" value="人员及权限数据同步管理系统" />
            <!-- 同步服务验证安全标识 : 可选的值 1.On 2.Off(默认) -->
            <add name="PackageServiceValidateSecurityToken" value="Off" />
            <!-- 同步更新包文件夹根目录位置 -->
            <add name="PackageStoragePathRoot" value="${ApplicationPathRoot}packages\" />
            <!-- 同步更新包输出时使用的 ApplicationId -->
            <add name="PackageStorageOutputApplicationId" value="00000000-0000-0000-0000-000000000000" />
            <!-- 同步更新包输出的数据包类型值 -->
            <add name="PackageStorageOutputPackageTypeValues" value="standardOrganization,standardRole,organization,role,application,application.feature,application.menu,application.settingGroup,application.setting,user,grant,job,assignedJob" />
            <!-- 同步更新包输出时每个数据包的最大记录数 -->
            <add name="PackageStorageOutputMaxRowCount" value="50" />
            <!-- 同步更新包查看地址前缀 -->
            <add name="PackageStorageViewUrlPrefix" value="${HostName}" />
            <!-- 同步更新包变化提醒模式 : 可选的值 1.On 2.Off(默认) -->
            <add name="PackageStorageNoticeMode" value="Off" />
            <!-- 同步更新包变化提醒范围 -->
            <add name="PackageStorageNoticeScope" value="Account#00000000-0000-0000-0000-000000011137#冯驰" />
            <!-- 地址簿禁止预览的对象 -->
            <add name="ProhibitedPreviewObjects" value=" 一级员工 | 二级员工 | 三级员工 | 四级员工 | 五级员工 | 六级员工 | 七级员工 | 八级员工 | 九级员工 " />
            <!-- 职级群组数值映射关系 -->
            <add name="JobGradeMapping" value="{&quot;ajaxStorage&quot;:{&quot;[e2bede28-01e0-4b61-861e-0ab835cfc23a]&quot;:&quot;10&quot;,&quot;[e2bede28-01e0-4b61-861e-0ab835cfc23a]&quot;:&quot;20&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;30&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;40&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;50&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;60&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;70&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;80&quot;,&quot;e2bede28-01e0-4b61-861e-0ab835cfc23a&quot;:&quot;90&quot;}}" />
            <!-- 流程角色：权重优先领导角色 -->
            <add name="PriorityLeader90DisplayName" value="集团部门负责人/地区公司负责人" />
            <add name="PriorityLeader80DisplayName" value="集团中心负责人/地区职能部门负责人" />
            <add name="PriorityLeader70DisplayName" value="七级负责人角色" />
            <add name="PriorityLeader60DisplayName" value="六级负责人角色" />
            <add name="PriorityLeader50DisplayName" value="五级负责人角色" />
            <!-- 流程角色：正向领导角色 -->
            <add name="ForwardLeader01DisplayName" value="公司负责人" />
            <add name="ForwardLeader02DisplayName" value="部门负责人" />
            <add name="ForwardLeader03DisplayName" value="中心负责人" />
            <add name="ForwardLeader04DisplayName" value="小组负责人" />
            <add name="ForwardLeader05DisplayName" value="正向五级领导" />
            <!-- 流程角色：反向领导角色 -->
            <add name="BackwardLeader01DisplayName" value="直接上级领导" />
            <add name="BackwardLeader02DisplayName" value="反向二级领导" />
            <add name="BackwardLeader03DisplayName" value="反向三级领导" />
            <add name="BackwardLeader04DisplayName" value="反向四级领导" />
            <add name="BackwardLeader05DisplayName" value="反向五级领导" />
        </keys>
    </membershipConfiguration>

    <!-- membership configuration end -->

</configuration>