<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <settings>
        <setting useStatementNamespaces="false"/>
        <setting cacheModelsEnabled="true"/>
        <setting validateSqlMap="false"/>
        <setting useReflectionOptimizer="true"/>
    </settings>

    <providers resource="${ApplicationPathRoot}config/X3Platform.IBatis.Providers.config"/>

    <database>
        <provider name="${DatabaseSettings.Provider}" />
        <dataSource name="IBatis" connectionString="data source=${DatabaseSettings.DataSource};database=${DatabaseSettings.Database};user id=${DatabaseSettings.LoginName};password=${DatabaseSettings.Password};connection reset=false;connection lifetime=10;min pool size=1;max pool size=100" />
    </database>
    
    <typeHandlers>
        <typeHandler type="string" callback="AnsiStringTypeHandler"/>
    </typeHandlers>

    <sqlMaps>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\AuthorizationObjectProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\AccountProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\AccountLogProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\AccountGrantProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\MemberProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\OrganizationUnitProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\RoleProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\GeneralRoleProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\StandardRoleProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\StandardGeneralRoleProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\StandardOrganizationUnitProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\GroupProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\GroupTreeProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\GroupTreeNodeProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\ContactProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\AssignedJobProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\JobGradeProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\JobProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Membership\SettingProvider.xml"/>
    </sqlMaps>
</sqlMapConfig>
