<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The active directory application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <activeDirectory>
        <keys>
            <!-- Active Directory 集成模式 On | Off(默认) -->
            <add name="IntegratedMode" value="Off" />
            <!-- Active Directory 域 -->
            <add name="Domain" value="x3platform.com" />
            <!-- Active Directory 邮箱的后缀域名 -->
            <add name="SuffixEmailDomain" value="@x3platform.com" />
            <!-- Active Directory 对象唯一名称的后缀 -->
            <add name="SuffixDistinguishedName" value=",DC=x3platform,DC=com" />
            <!-- Active Directory LDAP Path -->
            <add name="LDAPPath" value="LDAP://192.168.1.1/DC=x3platform,DC=com" />
            <!-- Active Directory 登录名 -->
            <add name="LoginName" value="x3platform\admin" />
            <!-- Active Directory 密码 -->
            <add name="Password" value="${password}" />
            <!-- Active Directory 公司组织存放的根目录 (包括角色) -->
            <add name="CorporationOrganizationFolderRoot" value="组织结构" />
            <!-- Active Directory 公司用户存放的根目录 -->
            <add name="CorporationUserFolderRoot" value="组织用户" />
            <!-- Active Directory 公司群组存放的根目录 -->
            <add name="CorporationGroupFolderRoot" value="常用群组" />
            <!-- Active Directory 公司角色存放的根目录 (非组织结构中的角色数据) -->
            <add name="CorporationRoleFolderRoot" value="通用角色" />
            <!-- Active Directory 新建帐号的默认密码 -->
            <add name="NewlyCreatedAccountPassword" value="${password}" />
        </keys>
    </activeDirectory>
</configuration>