<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The forum application block configuration file.
     *
     * Update : 2010.01.01
     */
     
     DataSourceName : 
        1.SQLServer : ConnectionString 
-->
<configuration>
  <!-- forum configuration begin -->
  <forum>
    <keys>
      <!-- Spring.NET : 配置文件 -->
      <add name="SpringObjectFile" value="config\X3Platform.Plugins.Forum.Spring.config" />
      <!-- IBatis : 配置映射文件 -->
      <add name="IBatisMapping" value="config\X3Platform.Plugins.Forum.IBatis.SqlMap.config" />
    </keys>
  </forum>
  <!-- forum configuration end -->
</configuration>