<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="${ApplicationPathRoot}config/X3Platform.IBatis.Providers.config"/>

  <database>
    <provider name="${DatabaseSettings.Provider}" />
    <dataSource name="IBatis" connectionString="data source=${DatabaseSettings.DataSource};database=${DatabaseSettings.Database};user id=${DatabaseSettings.LoginName};password=${DatabaseSettings.Password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
  </database>

  <typeHandlers>
    <typeHandler type="string" callback="AnsiStringTypeHandler"/>
  </typeHandlers>

  <sqlMaps>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Forum\ForumCategoryProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Forum\ForumThreadProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Forum\ForumCommentProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Forum\ForumMemberProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Forum\ForumFollowProvider.xml"/>
  </sqlMaps>
</sqlMapConfig>
