<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>配置信息</description>

    <!-- 应用存储架构信息 -->
    <object name="X3Platform.Storages.IBLL.IStorageSchemaService"
            type="X3Platform.Storages.BLL.StorageSchemaService,X3Platform.Storages"
            lazy-init="true" />

    <object name="X3Platform.Storages.IDAL.IStorageSchemaProvider"
            type="X3Platform.Storages.DAL.IBatis.StorageSchemaProvider,X3Platform.Storages"
            lazy-init="true" />

    <!-- 应用存储节点信息 -->
    <object name="X3Platform.Storages.IBLL.IStorageNodeService"
            type="X3Platform.Storages.BLL.StorageNodeService,X3Platform.Storages"
            lazy-init="true" />

    <object name="X3Platform.Storages.IDAL.IStorageNodeProvider"
            type="X3Platform.Storages.DAL.IBatis.StorageNodeProvider,X3Platform.Storages"
            lazy-init="true" />
</objects>
