##
## thome
##
<!-- header begin -->
<nav class="navbar navbar-inverse navbar-fixed-top x-freeze-height">
    <div class="navbar-padding">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"></button>
            <a href="/" class="navbar-brand"><img alt="Brand" src="/resources/images/corporation/default/corporation.logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                ${topMenu}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        ## <img src="${certifiedAvatar}" alt="${account.Name}" class="setting-menu-show" style="position: absolute; top: 6px; left: -20px; border-radius: 5px;" /> 
                        <i class="fa fa-user"></i> <strong>${account.Name}</strong>
                    </p>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#i18n("Translates.Membership.Settings") <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/account/settings/profile">#i18n("Translates.Membership.MyProfile")</a></li>
                        <li><a href="/tasks/">#i18n("Translates.Membership.MyTasks")</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="masterpage.logout();">#i18n("Translates.Membership.SignOut")</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
<!-- header end -->
