/**********************************************************

CSS Document 2.0

default / window.css

**********************************************************/

#window-main-table-header {
    height:48px;
    border-bottom: 1px solid #ccc; 
}

#window-main-table-header > span {
    line-height: 36px;
    font-size: 16px;
}
#window-main-table-footer {
    height:40px;
}
.window-container {
	padding: 0;
	border-top: none;
    display: table-cell; 
}
.window-container-padding {
	padding: 0;
}

.window-load-process-context {
	position: absolute;
	top: 8px; /* left: 8px; */
	left: 330px;
	background-color: #f00;
	color: #fff;
	padding: 4px 8px 4px 8px;
}
.window-message-context {
	position: absolute;
	top: 8px;
	left: 330px;
	background-color: #f00;
	color: #fff;
	padding: 4px 8px 4px 8px;
	z-index: 200;
}

.window-wrapper {
	padding: 10px;
	line-height: 200%;
}
.window-wrapper-summary {
	position: absolute;
	padding: 0 0 0 700px;
	margin: 0; /* opacity: 0.6;filter:alpha(opacity=60);*/
}
.window-wrapper-summary ul {
	width: 200px;
	border: 1px solid #ccc;
	padding: 8px;
	background-color: #FCF1DC;
}
.window-wrapper-summary li {
	font-size: 14px;
}
.window-wrapper-content {
	font-size: 14px;
	line-height: 200%;
	width: 680px;
	margin: 10px 0 50px 0;
	min-height: 180px;
	height: auto; *height:180px;
}
.window-wrapper-adsense {
	border: 1px solid #ccc;
	margin: 4px 0 0 10px;
	width: 560px;
	height: 60px;
	float: left;
	text-align: center;
	padding: 8px 0 6px 0;
}
.window-wrapper-toolbar {
	padding: 10px 40px 10px 0;
}
.window-wrapper-toolbar a {
	color: #000;
	text-decoration: none;
}
.window-wrapper-toolbar-button {
	float: right;
	width: 57px;
	height: 54px; /* 40 + 24 = 64 */
	text-align: center;
	background-image: url(../../images/btn_wrapper_toolbar_bg.png);
	background-repeat: no-repeat;
	margin: 0 0 0 8px;
	padding: 10px 0 0 0;
}
.window-wrapper-toolbar-button div {
	font-weight: bold;
	height: 30px;
}
.window-wrapper-toolbar-back {
	float: right;
	width: 57px;
	height: 24px; /* 40 + 24 = 64 */
	text-align: center;
	background-image: url(../../images/btn_wrapper_toolbar_back.png);
	margin: 0 0 0 8px;
	padding: 40px 0 0 0;
}
.window-wrapper-toolbar-up {
	float: right;
	width: 57px;
	height: 24px; /* 40 + 24 = 64 */
	text-align: center;
	background-image: url(../../images/btn_wrapper_toolbar_up.png);
	margin: 0 0 0 8px;
	padding: 40px 0 0 0;
}
.window-wrapper-other {
	padding: 14px;
}
.window-wrapper-other li {
	line-height: 200%;
}
/**********************************************************
window main | date : 2007.06.13
**********************************************************/
.window-main-container {
	margin: auto;
	padding: 8px 0 10px 0;
	min-height: 380px;
	_height: 378px; /* ie 6*/
}
.window-main-menu {
	height: 26px; /*18 + 6 = 24 */
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-image: url(images/table_header_bg.png);
	background-position: 0 1px;
}
.window-main-menu-item {
	height: 26px;
	width: 89px;
	float: left;
}
.window-main-menu-item a {
	height: 18px; /* 18 + 8 = 26 */
	width: 89px;
	background-image: url(images/main_button.png);
	display: block;
	padding: 8px 0 0 0;
}
.window-main-menu-item a:hover {
	/* 	background-image: url(images/main_button.png); 	background-repeat: no-repeat; 	background-position: 0 -26px; 	*/
	color: #f00;
}
.window-main-menu-item-hover a {
	height: 18px; /* 18 + 8 = 26 */
	width: 89px;
	display: block;
	padding: 8px 0 0 0;
	color: #f00;
	background-image: url(images/main_button.png);
	background-repeat: no-repeat;
	background-position: 0 -26px;
	float: left;
}
.window-main-menu-end {
	height: 16px; /* 16 + 8 = 24 */
	width: 267px; /* 267 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}
.window-main-menu-container-end {
	height: 16px; /* 16 + 8 = 24 */
	width: 483px; /* 483 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}
.window-main-menu-container-2-end {
	height: 16px; /* 16 + 8 = 24 */
	width: 572px; /* 572 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}
.window-main-menu-container-4-end {
	height: 16px; /* 16 + 8 = 24 */
	width: 394px; /* 394 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}
.window-main-body {
	border: 1px solid #d1d1d1;
	border-top: none;
	padding: 0 1px 0 1px;
	background-color: #fff; /*background-color: #FFFFE0;*/
	height: auto; *height:1%;
}
.window-main-body a {
	font-weight: bold;
	color: #039;
	text-decoration: underline;
}
.window-main-body a:hover {
	color: #f00;
	text-decoration: underline;
}
.window-main-row-header {
	font-weight: bold;
	padding: 8px 0 4px 0;
	background-color: #fff;
}
.window-main-row-item {
	border-top: 1px solid #ccc;
	color: #000;
	background-color: #FFFFE0;
	height: 1%; /* hack the poo bug */
}
.window-main-row-item * {
	vertical-align: baseline;
}
.window-main-row-footer {
	background-color: #f0f0f0;
	border-top: 1px solid #ccc;
	height: 28px;
	padding: 2px;
}
.window-main-row-footer-icon {
	vertical-align: middle;
	padding: 8px 8px 4px 8px;
}
.window-main-row-footer * {
	vertical-align: middle;
}
.window-main-row-footer-item {
	vertical-align: middle;
	padding: 8px 8px 4px 8px;
}
.window-main-row-column {
	float: left;
	color: #000;
	padding: 6px 8px 4px 8px; /* height: 16px; */
}
.window-main-row-column span.button {
	border: none;
	background-color: transparent;
	padding: 0;
}

.window-main-row-column span.button a {
	color: Green;
	text-decoration: none;
	font-weight: normal;
}

.window-main-advanced {
	padding: 0px 10px 10px 10px;
}
.window-main-advanced-first {
	padding: 10px 10px 10px 10px;
}
.window-main-advanced-header {
	border: 1px solid #ccc;
	padding: 4px 8px 2px 8px;
	font-weight: bold;
	background-color: #f2f2f2;
}
.window-main-advanced-header a {
	font-weight: normal;
}
.window-main-advanced-header a.gray-text {
	color: #ccc;
	text-decoration: none;
	padding: 0 0 0 12px;
}
.window-main-advanced-header a.gray-text:hover {
	color: #f00;
	text-decoration: underline;
}
.window-main-advanced-body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 1%;
	padding: 8px 0 4px 10px;
	background-color: #fff;
}
.window-main-advanced-footer {
	border: 1px solid #ccc;
	padding: 4px 8px 2px 8px;
	font-weight: bold;
	background-color: #f2f2f2;
}
/**********************************************************
window member
**********************************************************/
.window-member {
	width: 206px;
	background-color: #fff;
}
.window-member-context {
	padding-top: 8px;
	height: 214px; /* 214 + 8 = 222 */
}
.window-member-text {
	padding: 6px 0 0 20px;
}
.window-member-input {
	padding: 6px 0 0 20px;
}
.window-member-input input {
	width: 154px;
}
.window-member-input-show-text {
	/*border: 1px solid #27536B;*/
	width: 120px; /* 154 */
	padding: 0px 0 4px 40px; /*background-color: #fff6e1;*/
	border-bottom: 1px solid #ccc;
	margin-bottom: 4px;
	font-weight: bold;
}
.window-member-wrapper {
	width: 180px;
	margin: auto;
	margin-top: 8px; *margin-top:16px;
}
.window-member-wrapper-header {
	padding: 6px 8px 4px 10px;
	margin-bottom: 4px;
	color: #333;
	font-weight: bold;
}
.window-member-wrapper-header div.float-right {
	color: #ccc;
	font-weight: normal;
}
.window-member-wrapper-footer {
	padding: 2px 8px 4px 8px;
	text-align: left;
	color: #B7B7B7;
	margin-top: 4px;
}
.window-member-wrapper-footer a {
	display: block;
	text-decoration: none;
	color: #039;
	padding: 4px 0 0 0;
	height: 12px;
}
.window-member-wrapper-footer a:hover {
	display: block;
	text-decoration: none;
	color: #039;
}
.window-member-wrapper-context {
	border: 0px solid #ccc;
	height: 106px;
}
.window-member-row {
	height: 26px;
}
.window-member-row-text {
	padding: 6px 0 4px 8px;
	width: 40px;
	float: left;
	text-align: right;
}
.window-member-row-input {
	padding: 6px 0 4px 10px;
	float: left;
	font-weight: bold;
}
.window-member-button {
	text-align: center;
	padding: 8px 0 8px 0;
}
.window-member-botton input {
	text-align: right;
	font-weight: bold;
	padding: 2px 0 0 0;
}

.window-member-help {
	height: 26px;
	text-align: center;
	padding: 6px 0 0 10px;
	line-height: 24px;
	vertical-align: middle;
}
.window-member-help img {
	vertical-align: middle;
}
/**********************************************************
window last news
**********************************************************/
.window-last-news {
	width: 206px;
	background-color: #fff;
	margin: 8px 0 0 0;
}
.window-last-news-item {
	background-image: url(images/point.png);
	background-repeat: no-repeat;
	background-position: 10px 14px;
}
.window-last-news-item a {
	padding: 6px 8px 0px 20px;
	display: block;
	height: 20px;
}
/**********************************************************
window register channel
**********************************************************/
.window-register-channel {
	width: 204px;
	height: 116px;
	background-image: url(images/register_channel_bg.png);
	border: 1px solid #d1d1d1;
}
.window-register-channel-item {
	float: left;
	width: 92px;
	height: 46px;
	margin: 8px 2px 0 4px;
}
.window-register-channel-item a {
	width: 92px;
	height: 40px; /* 40 + 6 = 46 */
	font-size: 14px;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 6px 0 0 0;
	color: #039;
}
.window-register-channel-item a.buttonA {
	background-image: url(images/register_channel_A.png);
}
.window-register-channel-item a.buttonA:hover {
	background-image: url(images/register_channel_A.png);
	background-position: 0 -46px;
	background-repeat: no-repeat;
}
.window-register-channel-item a.buttonB {
	background-image: url(images/register_channel_B.png);
}
.window-register-channel-item a.buttonB:hover {
	background-image: url(images/register_channel_B.png);
	background-position: 0 -46px;
	background-repeat: no-repeat;
}
.window-register-channel-item a.buttonC {
	background-image: url(images/register_channel_C.png);
}
.window-register-channel-item a.buttonC:hover {
	background-image: url(images/register_channel_C.png);
	background-position: 0 -46px;
	background-repeat: no-repeat;
}
.window-register-channel-item a.buttonD {
	background-image: url(images/register_channel_D.png);
}
.window-register-channel-item a.buttonD:hover {
	background-image: url(images/register_channel_D.png);
	background-position: 0 -46px;
	background-repeat: no-repeat;
}
/**********************************************************
window hot shop
**********************************************************/
.window-hot-shop {
	margin: 8px 0 0 0;
	width: 206px;
	background-color: #fff;
}
.window-hot-full-shop {
	margin: 0px 0 0 0;
	width: 206px;
	background-color: #fff;
}
.window-hot-shop-icon {
	padding: 14px 0 0 0;
	width: 185px;
	margin: auto;
}
.window-hot-shop-icon a {
	text-align: center;
	padding: 1px;
	width: 183px;
	border: 1px solid #d1d1d1;
	display: block;
}
.window-hot-shop-text {
	padding: 6px 8px 0 10px;
}
.window-hot-shop-url {
	text-align: right;
	padding: 6px 8px 8px 8px;
}

.window-adsense {
	background-image: url(images/adSense_bg.png);
	height: 126px; /* 126 + 4 = 130 */
	width: 556px; /* 556 + 4 = 560 */
	padding: 4px 0 0 4px;
}
/**********************************************************
window hot corporation
***********************************************************/
.window-hot-corporation {
	padding: 8px 0 8px 0;
	background-color: #fff;
	width: 168px;
}
.window-hot-corporation-header {
	height: 16px;
	padding: 4px 0 0 8px;
	background-color: #eee;
	border: solid 1px #ccc;
	font-weight: bold;
}
.window-hot-corporation-tr-normal {
	background-color: #fff;
}

.window-hot-corporation-tr-over {
	background-color: #333;
	color: #fff;
}
.window-hot-corporation-tr-over td {
	color: #fff;
}
.window-hot-corporation-tr-over a {
	color: #fff;
}

.window-hot-corporation-text-1 {
	height: 18px;
	padding: 2px 0 1px 8px;
	border: solid 1px #ccc;
	width: 24px;
}
.window-hot-corporation-text-2 {
	padding: 2px 0 1px 8px;
	border: solid 1px #ccc;
	text-align: left;
	width: 116px;
}
.window-hot-corporation-text-link {
	height: 15px;
	padding: 4px 3px 2px 0;
	text-align: right;
	border: solid 1px #ccc;
	border-top: none;
	margin: 0 0 0 -1px !important;
	margin: 0;
	width: 146px;
}
/**********************************************************
window hot member
***********************************************************/
.window-hot-member {
	padding: 8px 0 8px 4px !important;
	padding: 8px 0 8px 4px;
	width: 160px;
}
.window-hot-member-header {
	padding: 6px 0 2px 8px;
	height: 16px;
	background-color: #eee;
	text-align: left;
	border: solid 1px #ccc;
	font-weight: bold;
}
.window-hot-member-row-normal {
	padding: 6px 0 2px 8px;
	height: 12px;
	background-color: #fff;
	text-align: left;
	border: solid 1px #ccc;
	border-top: none;
}
.window-hot-member-row-over {
	padding: 6px 0 2px 8px;
	height: 12px;
	background-color: #333;
	text-align: left;
	border: solid 1px #ccc;
	border-top: none;
}
.window-hot-member-row-over a {
	color: #fff;
}

.window-hot-member-link {
	height: 15px;
	padding: 4px 3px 1px 0;
	background-color: #fff;
	text-align: right;
	border: solid 1px #ccc;
	border-top: none;
}
.window-hot-normal {
}
/**********************************************************
window search
**********************************************************/
.window-search {
	/*	float:left;*/
	height: 100px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
.window-search-hot-key {
	height: 16px;
	color: #333; /*background-image:url(images/image_14.png);*/
	padding: 6px 0 5px 8px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.window-search-form {
	height: 62px; /*height:110px;*/
	width: 500px; /* 512-20 = 492*/
	border-right: 1px solid #ccc;
	padding: 8px 0 0 12px;
	text-align: left;
	float: left;
}
.window-search-form-row {
	height: 22px;
	vertical-align: middle;
	padding: 4px 0 0 0;
	font-family: ËÎÌו;
}
.window-search-result {
	min-height: 85px;
	height: auto;
	height: 85px;
}
.window-search-result-header {
	color: #000;
	padding: 0 0 4px 8px;
	border-bottom: 1px dashed #BBBBBB;
	width: 280px;
	font-family: Arial;
	font-weight: bold;
}
.window-search-result-content {
	font-size: 14px;
	padding: 8px 0 4px 8px;
	text-indent: 2em;
}
.window-search-result-trackurl {
	padding: 4px 0 4px 8px;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Arial;
}
.window-search-result-trackurl a {
	color: #666;
	text-decoration: none;
	border: none;
}
.window-search-result-trackurl a:hover {
	color: #FF1717;
	text-decoration: underline;
	border: none;
}
/**********************************************************
channel
***********************************************************/
.window-search-channel {
	width: 107px;
	text-align: center;
	margin: 0 0 0 2px;
	float: left;
}
.window-search-channel-item {
	height: 24px;
	color: #000;
	float: left;
	padding: 8px 0 0 0;
}
.window-search-channel-item a {
	color: #000;
	display: block;
	padding: 8px 0 0 4px;
}
.window-search-channel-item a:hover {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}

/**********************************************************
window build infomation
***********************************************************/

.window-build {
	border: 0px solid #7D7D7D;
	background-color: #fff;
	text-align: left;
	margin: auto;
	padding: 14px 14px 14px 14px;
	height: 1%;
}

.window-build-adsense {
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px 0 6px 0;
	margin-bottom: 14px;
}

.window-build div.margin-bottom {
	margin-bottom: 14px;
}
.window-build-container {
	float: left;
	width: 730px;
	margin: 0 20px 10px 0px;
	border: 0px solid #ccc;
}
.window-build-sidebar {
	float: left;
	width: 200px;
}
.window-build-sidebar-cotenancy-token {
	text-align: left;
	padding: 2px 4px 4px 8px;
	background-color: #fff6e1;
	border: 1px solid #ccc;
	margin: 0px 4px 4px 14px;
	width: 100px;
	font-weight: bold;
}
.window-build-sidebar-button {
	text-align: left;
	padding: 8px 8px 4px 8px;
	margin: 6px 4px 4px 4px;
}
.window-build-header {
	height: 14px; /* 14 + 6 + 4 = 24 */
	text-align: left;
	padding: 6px 8px 4px 8px;
	font-weight: bold;
	background-color: #E7E7E7;
	border-bottom: 1px solid #333;
	color: #000; /*background-image: url(images/table_header_gay_bg.png);*/
	font-size: 14px;
}
.window-build-row {
	background-color: #fff;
	line-height: 150%;
}
.window-build-row-text {
	color: #000;
	width: 80px;
	font-weight: bold;
	padding: 12px 8px 2px 8px;
	text-align: right;
	float: left;
}
.window-build-row-input {
	text-align: left;
	padding: 12px 8px 6px 8px;
	border-bottom: 1px solid #ccc;
	float: left;
}
.window-build-row-sidebar-text {
	color: #000;
	width: 60px;
	font-weight: bold;
	padding: 8px 8px 4px 0px;
	text-align: right;
	float: left;
}
.window-build-row-sidebar-input {
	text-align: left;
	width: 112px; /* 112 + 8 = 120px */
	padding: 6px 0px 4px 8px;
	border-bottom: 1px solid #ccc;
	float: left;
}
.window-build-row-sidebar-agent {
	text-align: right;
	height: 24px;
	font-weight: bold;
	padding: 6px 20px 4px 8px;
	margin: 0px 4px 4px 4px;
	background-image: url(images/build_agent_bg.png);
	background-repeat: no-repeat;
	background-position: 56px 0;
}
.window-build-row-sidebar-message {
	text-align: left;
	padding: 2px 4px 4px 8px;
	background-color: #FDF5E6;
	border: 1px solid #ccc;
	margin: 0px 4px 4px 4px;
}
.window-build-row-sidebar-message * {
	vertical-align: middle;
}
.window-build-row-feedback-text {
	color: #000;
	width: 80px;
	letter-spacing: 2px;
	padding: 12px 8px 2px 8px;
	text-align: right;
	font-weight: bold;
	float: left;
}
.window-build-row-feedback-input {
	width: 506px;
	text-align: left;
	padding: 6px 8px 7px 8px;
	border-left: 1px solid #ccc;
	float: left;
}

.window-build-message {
	padding: 6px 8px 6px 8px;
	background-color: #FCF1DC;
	font-weight: bold;
	line-height: 200%;
}
.window-build-message * {
	vertical-align: middle;
}
.window-build-message a {
	text-decoration: none;
}
.window-build-relation {
	border-bottom: 1px solid #333;
}
.window-build-relation-header {
	font-weight: bold;
	padding: 6px 8px 4px 8px;
}
.window-build-relation-item {
	padding: 6px 8px 4px 8px;
	border-top: 1px solid #333;
}
.window-build-footer {
	height: 16px;
	padding: 8px 8px 2px 8px;
	background-color: #E4E4E4;
	font-weight: bold;
}
.window-build-tool-bar {
	border: 1px solid #ccc;
	padding: 8px 10px 0 10px;
	margin: -15px 0 14px 0;
	height: 24px;
	background-color: #f5f5f5;
}
.window-build-tool-bar a {
	font-weight: bold;
}
.window-build-other {
	padding: 14px;
}
.window-build-other li {
	line-height: 200%;
}
/**********************************************************
window recommend
**********************************************************/
.window-recommend {
	width: 210px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin: 0 0 8px 0;
}
.window-recommend-build {
	float: left;
	width: 122px;
	height: 129px;
}
.window-recommend-build-company {
	height: 16px;
	color: #000;
	background-color: transparent; /*padding:14px 14px 0 14px;*/
	padding: 4px 0 0 0;
	margin: 8px 14px 0 14px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #FFF6E1;
}

.window-recommend-build-company a {
	color: black;
	cursor: pointer;
}
.window-recommend-build-company a:hover {
	color: #BC3030;
	text-decoration: none;
}

.window-recommend-build-body {
	text-align: left;
	padding: 8px 0 4px 0;
}
.window-recommend-build-body a {
	color: black;
	cursor: pointer;
}
.window-recommend-build-body a:hover {
	color: #BC3030;
	text-decoration: none;
}
.window-recommend-build-name-sale {
	height: 20px;
	background-image: url(images/image_sale.gif);
	background-repeat: no-repeat;
	background-position: 14px 0px;
	text-align: center;
	font-weight: 700;
	padding: 0 0 0px 14px;
	vertical-align: middle;
}
.window-recommend-build-name-rent {
	height: 20px;
	background-image: url(images/image_rent.gif);
	background-repeat: no-repeat;
	background-position: 14px 0px;
	text-align: center;
	font-weight: 700;
	padding: 0px 0 0px 14px;
	vertical-align: middle;
}
.window-recommend-build-item {
	color: black;
	height: 18px;
	text-align: left;
	padding: 4px 0 0 2px;
	margin: 0px 4px 0 14px;
	border-bottom: 0px solid #eee;
}
/**********************************************************
window friendlink
**********************************************************/
.window-friend-link {
	padding: 8px 0 0 8px;
	border: 1px solid #ccc;
	margin: 0 6px 0 8px;
	background-color: #eee;
	height: 1%;
	margin-top: 0px;
}
.window-friend-link-context {
	padding: 8px 0 0 40px;
	margin: 8px;
	background-color: #FFF;
	height: 1%;
}
.window-friend-link-discription {
	padding: 8px 0 0 40px;
	margin: 8px;
	background-color: #FFF;
	height: 1%;
}
.window-friend-link-group {
	margin-bottom: 8px;
	height: auto;
}
.window-friend-link-image {
	float: left;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #AFAFAF;
	margin: 10px 10px 0 0;
}
.window-friend-link-image a {
	background-color: #F4F4F4;
	display: block;
	padding: 4px;
}
.window-friend-link-image a:hover {
	background-color: #ffffe0;
}
.window-friend-link-text {
	float: left;
	width: 96px;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #AFAFAF;
	margin: 10px 10px 8px 0;
}
.window-friend-link-text a {
	display: block;
	color: #000;
	background-color: #f5f5f5;
	padding: 6px 0 0px 0;
	height: 18px; /*14 + 6 + 4 = 24*/
}
.window-friend-link-text a:hover {
	color: #000;
	background-color: #ffffe0;
}

.window-friend-link-text a.exchange {
	display: block;
	color: #000;
	background-color: #eee;
	padding: 6px 0 4px 0;
	height: 14px; /*14 + 6 + 4 = 24*/
}

.window-friend-link-text a.exchange:hover {
	color: #fff;
	background-color: #f00;
	padding: 6px 0 4px 0;
}
.window-friend-link-container {
	padding: 16px 40px 20px 40px;
	text-align: left;
	font-size: 14px;
	line-height: 150%;
}
.window-friend-link-container ul {
	line-height: 200%;
}
.window-friend-link-container h1 {
	margin-top: 8px;
}
.window-friend-link-container td {
	padding: 8px 8px 8px 8px;
}
.window-friend-link-table-colspan2 {
	padding: 10px 0 8px 142px !important;
}
.window-friend-link-code {
	color: #790079;
	font-family: Arial;
	border: 2px solid #790079;
	padding: 6px 10px 8px 10px;
	font-weight: bold;
	background-color: #eee;
}
/**********************************************************
window rss
**********************************************************/
.window-rss {
	padding: 6px 8px 4px 8px;
	font-weight: bold;
}
.window-rss-table {
}
.window-rss-table-pages {
	padding: 6px 8px 4px 8px;
	text-align: right;
	vertical-align: top;
	height: 24px;
}
.window-rss-table-pages a {
	padding: 0 0 0 8px;
}
.window-rss-table-pages a:hover {
	text-decoration: underline;
}
.window-rss-table-row-title {
	padding: 6px 8px 4px 8px;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	background-color: #F5F5DC;
}
.window-rss-table-row-title a {
	color: Maroon;
}

.window-rss-table-row-description {
	padding: 6px 8px 4px 8px;
	text-align: left;
	text-indent: 2em;
	line-height: 150%;
}
.window-rss-table-row-feed {
	padding: 6px 8px 4px 8px;
	text-align: right;
	color: Gray;
}
/**********************************************************
window forum list
**********************************************************/
.window-forum-category {
	margin: 8px auto 14px auto;
}
.window-forum-category-header {
	border-top: 1px solid #c4cacd;
	border-bottom: 1px solid #c4cacd;
	background-color: #fff6e1;
	color: #900000;
	text-align: left;
	padding: 4px 8px 2px 8px;
	font-weight: bold;
}
.window-forum-category-header a {
	color: #900000;
}

.window-forum-category-footer {
	background-color: #fff6e1;
	border-bottom: 1px solid #c4cacd;
	color: #333;
	text-align: left;
	padding: 4px 8px 2px 8px;
}
.window-forum-header-m {
	background-color: #f2f4f6;
	padding: 4px 8px 2px 8px;
	border-right: 1px solid #c4cacd;
	border-bottom: 1px solid #c4cacd;
	font-weight: bold;
}
.window-forum-header-r {
	background-color: #f2f4f6;
	padding: 4px 8px 2px 8px;
	border-bottom: 1px solid #c4cacd;
	font-weight: bold;
}
.window-forum-body-m {
	padding: 4px 8px 2px 8px;
	border-bottom: 1px solid #e3e6eb;
}

.window-forum-body-m a {
	color: #333;
}
.window-forum-body-m a:hover {
	color: #333;
	text-decoration: underline;
}

.window-forum-body-r {
	padding: 4px 8px 2px 8px;
	border-bottom: 1px solid #e3e6eb;
}

/**********************************************************
window forum table
***********************************************************/

.window-forum-table {
	border: 1px solid #7D7D7D;
	width: 620px;
	margin: 4px;
	background-color: #fff;
	text-align: left;
	margin: auto;
}
.window-forum-table-header {
	height: 16px;
	text-align: left;
	padding: 8px 8px 4px 8px;
	font-weight: bold;
	background-color: #E7E7E7;
	border-bottom: 1px solid #333;
	color: #000;
}
.window-forum-table-row {
	background-color: #DCDCDC;
	border-bottom: 1px solid #333;
}
.window-forum-table-row-text {
	color: #000;
	width: 80px;
	letter-spacing: 2px;
	padding: 12px 8px 2px 8px;
	text-align: right;
	float: left;
}

.window-forum-table-row-input-m {
	height: auto !important;
	min-height: 16px !important;
	height: 16px;
	text-align: left;
	background-color: #eee;
	padding: 6px 8px 6px 8px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	float: left;
}
.window-forum-table-row-input-r {
	width: 212px;
	height: auto !important;
	min-height: 16px !important;
	height: 16px;
	text-align: left;
	background-color: #eee;
	padding: 6px 8px 6px 8px;
	border-left: 1px solid #333;
	display: block;
	float: left;
}
.window-forum-table-row-member {
	color: #000;
	background-color: #DCDCDC;
	width: 80px;
	letter-spacing: 2px;
	padding: 12px 8px 2px 8px;
	text-align: left;
	float: left;
	height: 240px;
}
.window-forum-table-row-member-name {
	color: #000;
	font-weight: bold;
	height: 20px;
}
.window-forum-table-row-member-icon img {
	width: 48px;
	height: 48px;
}
.window-forum-table-row-member-item {
	color: #000;
	padding: 8px 0 0 0;
}
.window-forum-table-row-header {
	width: 506px;
	height: auto !important;
	min-height: 16px !important;
	height: 16px;
	text-align: left;
	background-color: #eee;
	padding: 6px 8px 4px 8px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	display: block;
	float: right;
	font-weight: bold;
}
.window-forum-table-row-container {
	width: 506px;
	height: auto !important;
	min-height: 200px !important;
	height: 200px;
	text-align: left;
	background-color: #eee;
	padding: 6px 8px 6px 8px;
	border-left: 1px solid #333;
	display: block;
	float: right;
}
.window-forum-table-row-footer {
	width: 506px;
	min-height: 16px;
	text-align: left;
	background-color: #eee;
	padding: 8px 8px 2px 8px;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	float: right;
}
.window-forum-table-message {
	padding: 8px 8px 2px 8px;
	background-color: #EBEBEB;
	font-weight: bold;
	border-bottom: 1px solid #333;
}
.window-forum-table-footer {
	height: 16px;
	padding: 8px 8px 2px 8px;
	background-color: #E4E4E4;
	font-weight: bold;
}

/**********************************************************
window site map
**********************************************************/
.window-map-container {
	padding: 20px;
}
.window-map-item {
	float: left;
	width: 230px; /* 230 + 10 = 240 */
	height: 30px; /* 20 + 10 = 30 */
	padding: 10px 0 0 10px;
}

.window-map-icon {
	float: left;
}
.window-map-url {
	float: left;
	padding: 6px 0 0px 10px;
}
.window-map-item a {
	color: #039;
	font-weight: bold;
	text-decoration: underline;
}
.window-map-item a:hover {
	color: #f00;
	font-weight: bold;
	text-decoration: underline;
}
/**********************************************************
window login show window
**********************************************************/
.window-login-show-window {
	border: 1px solid #ccc;
	margin: 0 4px 0 0;
	height: 248px;
}
.window-login-show-window-text {
	float: left;
	padding: 20px 0 0 60px;
	width: 280px;
}
.window-login-show-window-text p {
	text-indent: 2em;
	line-height: 150%;
}
.window-login-show-window-text div {
	padding: 6px 0 4px 0;
}
.window-login-show-window-image {
	float: left;
	padding: 20px 0 0 60px;
}
.window-login-show-window-url {
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
}
.window-login-show-window-url a {
	color: #039;
	text-decoration: underline;
	padding: 0 4px 0 12px;
	background-image: url(images/link_line.png);
	background-repeat: no-repeat;
}
.window-login-show-window-url a.menu-begin {
	color: #039;
	text-decoration: underline;
	padding: 0 4px 0 0px;
	background-image: none;
	background-repeat: no-repeat;
}
.window-login-show-window-url a:hover {
	color: #f00;
	text-decoration: underline;
}
/**********************************************************
window register memeber | date:2007.06.10
**********************************************************/
.window-register-memeber {
	/*border: 1px solid #ccc;*/
	margin: 8px 4px 0 12px;
}
.window-register-member-header {
	height: 26px; /*18 + 6 = 24 */
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-image: url(images/table_header_bg.png);
	background-position: 0 1px;
}
.window-register-member-header-item {
	height: 26px;
	width: 89px;
	float: left;
}
.window-register-member-header-item a {
	height: 18px; /* 18 + 8 = 26 */
	width: 89px;
	background-image: url(images/main_button.png);
	display: block;
	padding: 8px 0 0 0;
}
.window-register-member-header-message {
	height: 16px; /* 16 + 8 = 24 */
	width: 873px; /* 873 + 10 + 10 = 893 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #f00;
}
.window-register-member-body {
	border: 1px solid #ccc;
	border-top: none;
}
.window-register-member-body a {
	color: #039;
	text-decoration: underline;
}
.window-register-member-body a:hover {
	color: #f00;
	text-decoration: underline;
}

.window-register-member-body-form {
	float: left;
	margin: 20px 0 0 0;
	width: 500px;
}
.window-register-member-body-form-row {
	padding: 0 0 10px 0;
}
.window-register-member-body-form-text {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 120px;
	padding: 6px 16px 4px 8px;
	text-align: right;
}
.window-register-member-body-form-input {
	float: left;
}
.window-register-member-body-form-button {
	padding: 20px 0 0 136px;
}
.window-register-member-body-form-button input {
	margin: 0 20px 0 0;
}
.window-register-member-body-law {
	float: left;
	width: 420px;
	border: 1px solid #ccc;
	background-color: #FFFBE2;
	padding: 18px 12px 12px 20px;
	margin: 20px 0 20px 0;
}
.window-register-member-body-law strong {
	font-size: 14px;
}
.window-register-member-body-law pre {
	line-height: 200%;
}
.window-register-member-body-law div {
	text-align: right;
	color: #039;
}
/**********************************************************
window message box | date:2008.01.26
**********************************************************/
.window-message-box {
	width: 206px;
	background-color: #fff;
	margin-top: 14px;
}
.window-message-box a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-message-box a:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	background-color: #F5F0E3;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-message-box a.message-currenttime {
	display: block;
	text-decoration: none;
	color: #ccc;
	padding: 8px 8px 4px 8px;
	text-align: right;
	border-bottom: none;
}
.window-message-box a.message-currenttime:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	padding: 8px 8px 4px 8px;
	border-bottom: none;
}
.window-message-box-item-new a {
	background-image: url(images/member_message_new.png);
}
.window-message-box-item-new a:hover {
	background-image: url(images/member_message_new.png);
	background-position: 0 -29px;
}
/**********************************************************
window member welcome | date:2007.06.10
**********************************************************/
.window-member-welcome {
	background-color: #FFF6E1;
}
.window-member-welcome-function {
	float: left;
	width: 460px; /* 460 + 20 + 20 = 500 */
	padding: 20px;
}
.window-member-welcome-function-item {
	float: left;
	width: 135px;
	margin: 0 18px 20px 0;
}
.window-member-welcome-function-item-header {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 4px 8px 2px 8px;
	font-weight: bold;
	cursor: default;
	color: #666;
}
.window-member-welcome-function-item-header a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.window-member-welcome-function-item-header a:hover {
	color: #f00;
	font-weight: bold;
	text-decoration: none;
}
.window-member-welcome-function-item-body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fff;
	height: 80px;
	background-image: url(images/member_function_bg.png);
}
.window-member-welcome-function-item-footer {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 4px 8px 2px 8px;
}
.window-member-welcome-blackboard {
	border-left: 1px solid #ccc;
	width: 246px; /* 160 + 20 + 20 = 200 */
	height: 480px; /* 380 + 20 = 400 */
	float: left;
	padding: 10px 10px 0 10px;
}
.window-member-welcome-blackboard-map {
	height: 220px;
	font-size: 11px;
	font-weight: normal;
}
.window-member-welcome-blackboard-notice {
	border: 1px solid #ccc;
	height: 220px;
	background-color: #F7F5DD;
}
.window-member-welcome-blackboard-notice-button {
	position: absolute;
	z-index: 10;
	margin: 4px 0 0 8px;
}
.window-member-welcome-blackboard-notice-button a {
	display: block;
	padding: 4px 8px 2px 8px;
	border: 1px solid #369;
	color: #369;
	background-color: #CCDDEE;
	text-align: center;
	text-decoration: none;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
.window-member-welcome-blackboard-notice-button a:hover {
	display: block;
	padding: 4px 8px 2px 8px;
	border: 1px solid #f00;
	color: #f00;
	background-color: #FFD4D4;
	text-align: center;
	text-decoration: none;
}
.window-member-welcome-blackboard-freeissue {
	padding: 10px 0 0 4px;
}
.window-member-welcome-blackboard-freeissue li {
	line-height: 200%;
}
.window-member-welcome-message {
	padding: 8px 0 0 8px;
	border-bottom: 0px solid #000;
}
/**********************************************************
window member welcome | date:2007.06.10
**********************************************************/
.window-member-menu {
	width: 206px;
	margin-bottom: 8px;
}
.window-member-menu a {
	display: block;
	text-decoration: none;
	color: #000;
	height: 17px; /*17 + 8 + 4 + 1 = 30 */
	padding: 8px 0 4px 50px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	background-image: url(images/member_menu_bg.png);
}
.window-member-menu a:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	padding: 8px 0 4px 50px;
	border-bottom: 1px solid #ccc;
	background-image: url(images/member_menu_bg.png);
	background-position: 0 -29px;
}
.window-member-menu-item-over {
}
.window-member-menu-item-over a {
	display: block;
	text-decoration: none;
	color: #f00;
	padding: 8px 0 4px 50px;
	border-bottom: 1px solid #ccc;
	background-image: url(images/member_menu_bg.png);
	background-position: 0 -29px;
}
.window-member-menu-item-text {
	text-decoration: none;
	color: #333;
	height: 17px; /*17 + 8 + 4 + 1 = 30 */
	padding: 8px 0 4px 50px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	background-image: url(images/member_menu_bg.png);
	background-position: 0 -58px;
	cursor: default;
}

/**********************************************************
window shop compositor | date:2007.06.14
**********************************************************/
.window-shop-compositor {
}
.window-shop-compositor a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-shop-compositor a:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	background-color: #F5F0E3;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-shop-compositor a.message-currenttime {
	display: block;
	text-decoration: none;
	color: #ccc;
	padding: 8px 8px 4px 8px;
	text-align: right;
	border-bottom: none;
}
.window-shop-compositor a.message-currenttime:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	padding: 8px 8px 4px 8px;
	border-bottom: none;
}
/**********************************************************
window shop list | date:2007.06.14
**********************************************************/
.window-shop-list {
}
.window-shop-list-item-first {
	padding: 20px 0px 20px 40px;
	float: left;
	width: 200px;
}
.window-shop-list-item {
	padding: 0px 0px 20px 40px;
	float: left;
	width: 200px;
}

.window-shop-list-item-icon {
	padding: 14px 0 0 0;
	width: 185px;
	margin: auto;
}
.window-shop-list-item-icon a {
	text-align: center;
	padding: 1px;
	width: 183px;
	border: 1px solid #d1d1d1;
}
.window-shop-list-item-text {
	padding: 4px 8px 4px 8px;
}
/**********************************************************
window bugzilla question | date:2007.07.10
**********************************************************/
.window-bugzilla-question {
	background-color: #fff;
	line-height: 150%;
}
.window-bugzilla-question-text {
	color: #000;
	width: 80px;
	font-weight: bold;
	padding: 12px 8px 2px 8px;
	text-align: right;
	float: left;
}
.window-bugzilla-question-input {
	text-align: left;
	padding: 12px 8px 6px 8px;
	border-bottom: 1px solid #ccc;
	float: left;
}
.window-bugzilla-question-button {
	padding: 8px 8px 12px 100px;
	padding: 8px 8px 12px 100px; *margin-bottom:-1px;
*border-bottom:1pxsolid#ccc;
clear:both;
}
/**********************************************************
window studio | date:2007.07.24
**********************************************************/
.window-studio-container {
	padding: 16px 40px 20px 40px;
	text-align: left;
	font-size: 14px;
	line-height: 150%;
}
.window-studio-container div {
	margin: 8px 0 0px 0px;
	line-height: 200%;
}
.window-studio-container p {
	line-height: 200%;
}
.window-studio-container h1, h2 {
	font-size: 14px;
	font-weight: blod;
}
.window-studio-container ul {
	margin: 8px 0 20px 20px;
	line-height: 200%;
}

/**********************************************************
window calculator | date:2007.07.27
**********************************************************/

.window-calculator {
	border: 1px solid #ccc;
	width: 424px;
	margin: 20px !important;
	margin: 20px 20px 20px 10px; /* fix ie 6. */
	padding: 6px 6px 4px 6px;
	font-size: 11px;
	float: left;
}
.window-calculator-hader {
	padding: 0 0 0 8px;
}
.window-calculator-hader h1 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.window-calculator-result {
	color: #DE007A;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	padding: 6px 6px 6px 0;
	line-height: 150%;
}
.window-calculator-container {
	border: 1px solid #ccc;
	width: 410px;
	background-color: #A0C0E5;
	padding: 0px 6px 8px 6px;
	font-size: 11px;
}
.window-calculator-row {
	/*padding: 8px 0 0 0 ;*/
	background-color: #EBF1F3;
	height: 1%;
}
.window-calculator-message {
	padding: 4px 8px 2px 8px;
	font-weight: bold;
	font-size: 12px;
	background-color: #A0C0E5;
}
.window-calculator-column {
	width: 176px; /* 160 + 8 + 8 = 176 */
	padding: 4px 8px 4px 8px;
	float: left;
}
.window-calculator-column-full {
	padding: 4px 8px 8px 8px;
	font-size: 12px;
}
.window-calculator-text {
	font-size: 11px;
}
.window-calculator-input {
	font-size: 11px;
	padding: 4px 0 0 0;
}
.window-calculator-input * {
	vertical-align: middle;
}
.window-calculator-input select, .window-calculator-input input {
	font-size: 12px;
}


.window-calculator-plan {
	border: 1px solid #ccc;
	float: left;
	width: 480px; /* 480 */
	margin: 20px 20px 0 0 !important;
	margin: 20px 0px 0 0;
	overflow: scroll;
	height: 652px;
}
.window-calculator-plan table {
	width: 463px;
}
.window-calculator-plan-header td {
	font-weight: bold;
	padding: 6px 8px 4px 8px;
	font-size: 12px;
}
.window-calculator-plan-row td {
	padding: 6px 8px 4px 8px;
	font-size: 12px;
}
.window-calculator-plan-row-alternating td {
	padding: 6px 8px 4px 8px;
	font-size: 12px;
	background-color: #eee;
}
/**********************************************************
window widget container | date:2007.06.10
**********************************************************/
.window-widget-container {
	width: 206px;
	background-color: #fff;
	margin: 8px 0 0 0;
}
.window-widget-container a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-widget-container a:hover {
	display: block;
	text-decoration: none;
	color: #f00;
	background-color: #F5F0E3;
	padding: 8px 0 4px 35px;
	border-bottom: 1px solid #ccc;
}
.window-widget-item-new a {
	background-image: url(images/member_message_new.png);
}
.window-widget-item-new a:hover {
	background-image: url(images/member_message_new.png);
	background-position: 0 -29px;
}

/**********************************************************
window forget password container | date:2007.09.26
**********************************************************/

.window-forget-password-container {
	margin: 0px auto 20px auto;
	text-align: left;
	padding: 10px;
	width: 500px;
}
.window-forget-password-wrapper {
	border: 1px solid #ccc;
	padding: 20px 0 0 0;
}
.window-forget-password-row {
	padding: 0 0 10px 0;
}
.window-forget-password-text {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 120px;
	padding: 6px 16px 4px 8px;
	text-align: right;
}
.window-forget-password-input {
	float: left;
}
.window-forget-password-button {
	padding: 0px 0 0 146px;
}
.window-forget-password-button input {
	margin: 0 20px 0 0;
}

/**********************************************************
window live shop container | date:2007.10.05
**********************************************************/
.window-live-shop-container {
	border: 0px solid #f00;
}
.window-live-shop-left-box {
	width: 220px;
	padding: 8px;
	float: left;
}
.window-live-shop-text {
	padding: 6px 8px 0 18px;
}
.window-live-shop-right-box {
	width: 295px;
	padding: 8px;
	float: left;
}
.window-live-shop-summary {
	margin: 0 0 8px 10px;
}
.window-live-shop-message {
	margin: 0 0 0 10px;
	padding: 6px 0 6px 20px;
	background-image: url(images/point.png);
	background-repeat: no-repeat;
	background-position: 10px 14px;
}
.window-live-shop-message-null {
	margin: 0 0 0 10px;
	padding: 6px 0 6px 20px;
}
.window-live-shop-navigation {
	border: 0px solid #000;
	margin: 16px 0 0 0;
}
.window-live-shop-button {
	border: 1px solid #9bafd5;
	float: right;
	width: 100px;
	margin: 0 0 0 8px;
}
.window-live-shop-button a {
	display: block;
	background-color: #e6eef9;
	color: #8F959F;
	font-weight: normal;
	text-align: center;
	padding: 4px 0 4px 0;
	text-decoration: none;
}
.window-live-shop-button a:hover {
	background-color: #E4EBFB;
	color: #000;
	text-decoration: none;
}

.window-newspaper-configuration-container {
	border: 1px solid #ccc;
	width: 302px;
	margin: 4px 0 0 0px;
	height: 22px;
	background-color: #fff6e1;
}

.window-newspaper-configuration-summary {
	float: right;
	padding: 0 8px 0 0;
}

.window-newspaper-publish-week {
	/* border: 1px solid #000; */ /* margin-top: -14px; */
	height: 24px;
	width: 324px; /**/
	_width: 330px;
	position: absolute;
	margin-left: 435px;
}
.window-newspaper-publish-week li {
	float: left;
	width: 50px;
	border-top: none;
	border-right: none;
	margin: 0 0 0 4px;
}

.window-newspaper-publish-week li a {
	padding: 4px 0 2px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	border: 1px solid #ccc;
	border-top: none;
	color: #666;
}
.window-newspaper-publish-week li a:hover {
	border: 1px solid #ccc;
	border-top: none;
	text-decoration: none;
	background-color: #FFFFE0;
	color: #000;
}
.window-newspaper-publish-week li.today a {
	color: #003399;
	padding: 4px 0 3px 0;
	border-bottom: 2px solid #A3A3A3;
	background-color: #FFFFE0;
}
.window-agent-container {
	padding: 10px 0 10px 20px;
}
.window-agent-item {
	float: left;
	width: 80px;
	line-height: 200%;
}

/*#region window-authority-container*/
.window-authority-container {
	line-height: 200%;
	padding:10px;
}

.window-authority-item {
	float: left;
	width: 340px;
}
.window-authority-item * {
	vertical-align: middle;
}
/*#endregion*/

.window-main-menu-mini-bar {
	height: 16px; /* 16 + 8 = 24 */
	width: 152px; /* 483 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
}

.window-main-menu-mini-bar a {
	font-weight: bold;
}
.window-main-menu-mini-bar a:hover {
	font-weight: bold;
	color: #f00;
}

.window-main-menu-broadcast {
	height: 16px; /* 16 + 8 = 24 */
	width: 400px; /* 483 + 10 + 10 = 287 */
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding: 6px 10px 2px 10px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

/* ajax-billboard */

.window-billboard-wrapper {
	overflow: hidden;
	height: 98px;
	margin: 1px;
}

.window-billboard-wrapper-border {
	border: 1px solid #ccc;
	width: 554px;
	margin: 0 0 10px 2px;
	overflow: hidden;
}

.window-billboard-image-begin {
	border-bottom: 2px solid #fff;
	height: 99px;
	overflow: hidden;
}

.window-billboard-image {
	margin-bottom: 2px;
	height: 100px;
	overflow: hidden;
}

/* window-mini-dropdown-wrapper */

.window-mini-dropdown-wrapper {
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	position: absolute;
	width: 40px;
	border-top: none;
	margin: -2px 0 0 -7px;
	text-align: center;
}
.window-mini-dropdown-wrapper a {
	border-top: none !important;
	display: block;
	padding: 2px 0 2px 0;
	text-decoration: none;
	background-color: #ffffe0;
}
.window-mini-dropdown-wrapper a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #333;
}

.window-mini-dropdown-controller {
	border: 1px solid #fff;
	width: 38px;
	color: #333;
}

.window-mini-dropdown-controller-over {
	border: 1px solid #ccc;
	width: 40px;
	margin: -1px 0 0 -7px;
	text-align: center;
}
.window-mini-dropdown-controller-over a {
	text-decoration: none;
	background-color: #f00;
	color: #fff;
	display: block;
	padding: 1px 0 0px 0;
}
.window-mini-dropdown-controller-over a:hover {
	text-decoration: none;
	background-color: #f00;
	color: #fff;
}
/* window contacts wrapper */
.winodw-contacts-wrapper {
	border: 1px solid #ccc;
	height: 428px; *height:428px;
}

.winodw-contacts-toolbar {
	padding: 6px 8px 4px 8px;
	border-bottom: 1px solid #ccc;
}

.winodw-contacts-toolbar-item
{	
	float: left;
}
.winodw-contacts-toolbar-item a{
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 12px;
	padding:2px 0 0 10px;
}
.winodw-contacts-toolbar-item a:hover{
	text-decoration: underline;
	display: block;
}
.winodw-contacts-sidebar {
	float: left;
	width: 198px;
	border-right: 1px solid #ccc;
}
.winodw-contacts-search {
	border-bottom: 1px solid #ccc;
	padding: 6px 0 4px 4px;
}
.winodw-contacts-search-text {
	width: 140px;
	border: 1px solid #ccc;
	padding: 2px 0 0 4px;
	height: 17px;
	font-size: 12px;
}
.winodw-contacts-search-button 
{
	color:#003399;
	padding:1px 0 0 8px;
	cursor:pointer;
}
.winodw-contacts-tree-view {
	padding: 4px 0 0 4px;
	margin-right: 20px;
	_margin-right: 0px;
	height: 368px;
	*height: 365px;
	width:194px; /* 198 = 192 + 4 */
	overflow:auto;
}

.winodw-contacts-container {
	float: left;
	height: 360px;
	width: 243px;
	min-height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.winodw-contacts-container select
{
	height: 360px;
	width: 243px;
	border: 1px solid #ccc;
	overflow:auto;
}
.winodw-contacts-container-hover {
	background-color: #ff5500;
	color: #000;
}
.winodw-contacts-original-item {
	border: 1px solid #ccc;
	margin: 10px 10px 0px 10px;
	padding: 6px 8px 4px 8px;
	z-index: 999;
	cursor: pointer;
}
.winodw-contacts-help-container
{
	float:left;
	width:519px;
	border-top:1px solid #ccc;
}
.winodw-contacts-help-text
{
	padding:4px 0 0 10px;
}

/*#region window wizard wrapper*/
.winodw-wizard-wrapper {
	border: 1px solid #000;
    margin: 40px auto 0 auto;
    background-color: #fff;
    border-radius:4px;
    box-shadow:0 0 10px #fff;
}

.winodw-wizard-toolbar {
	padding: 0px 8px 0px 8px;
	border-bottom: 1px solid #000;
	background-image: url(images/header_bg.png);
	height: 38px;
	background-repeat: repeat-x;
}
.winodw-wizard-toolbar a
{
	color:#000;
}
.winodw-wizard-toolbar span
{
	color:#fff;
	padding: 8px 0px 4px 0px;
	_padding: 12px 0px 4px 0px;
	display:block;
}
.winodw-wizard-toolbar-item
{	
	width: 70px;
	float: left;
	padding:2px 0 0 0;
}
.winodw-wizard-toolbar-item a{
	color: #fff;
	text-decoration: none;
	padding: 8px 10px 4px 10px;
	display: block;
	text-align: center;
	font-size: 12px;
}
.winodw-wizard-toolbar-item a:hover{
	color: #fff;
	text-decoration: underline;
	padding: 8px 10px 4px 10px;
	display: block;
}
.winodw-wizard-toolbar-close
{	
	float:right;
	padding:2px 0 0 0;
}
.winodw-wizard-toolbar-close a{
	color: #fff;
	text-decoration: none;
	padding: 8px 0px 4px 0px;
	_padding: 12px 0px 4px 0px;
	display: block;
}
.winodw-wizard-toolbar-close a:hover{
	text-decoration: underline;
}
.winodw-wizard-sidebar {
	float: left;
	width: 198px;
	border-right: 1px solid #ccc;
}
.winodw-wizard-search {
	border-bottom: 1px solid #ccc;
	padding: 6px 0 4px 4px;
}
.winodw-wizard-search-text {
	width: 140px;
	border: 1px solid #ccc;
	padding: 2px 0 0 4px;
	height: 17px;
	font-size: 12px;
}
.winodw-wizard-search-button
{
	color:#003399;
	padding:1px 0 0 8px;
	cursor:pointer;
}
.winodw-wizard-tree-view {
	padding: 4px 0 0 4px;
	height: 365px;
	width:194px; /* 296 = 192 + 4 */
	overflow:auto;
}
.winodw-wizard-container {
	float: left;
	height: 148px;
	width: 498px;
	min-height: 40px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 12px;
	_margin-bottom: 6px; /* fixed ie 6 */
}
.winodw-wizard-container select
{
	height: 148px;
	*height: 154px;
	width: 498px;
	border: 1px solid #ccc;
	overflow:auto;
}
.winodw-wizard-help-toolbar
{
	float:left;
	padding:0 10px 0 10px;
	width:518px;
}
.winodw-wizard-help-container
{
	float: right;
	width:300px;
}
.winodw-wizard-result-container
{
	height: 40px;
    border-top: 1px solid #ccc;
    padding: 3px 10px 2px 10px;
}
.winodw-wizard-result-item
{
	padding:4px 0 0 10px;
	text-align:right;
	float:left;
}
.winodw-wizard-result-item-text {
	padding: 6px 0 0px 4px;
	width:60px;
	font-weight:bold;
    text-align:right;
}
.winodw-wizard-result-item-input {
	width: 130px;
	border: 1px solid #ccc;
	padding: 4px 0 2px 4px;
}
/*#endregion*/

/*
 * window speed search container
 */
.window-speed-search-container {
	border: 0px solid #ccc;
	margin: auto;
	height: 60px;
	width: 400px;
	padding-top: 40px;
}
.window-speed-search-container * {
	vertical-align: middle;
}
.window-speed-search-input {
	border: 1px solid #bdc7d8;
	background-image: url(images/login-input.png);
	width: 300px;
	height: 22px;
	padding: 8px 8px 0 8px;
}
.window-speed-search-input-over {
	border: 1px solid #bdc7d8;
	background-image: url(images/login-input.png);
	background-position: 0 -30px;
	background-repeat: no-repeat;
	width: 241px;
	height: 22px;
	padding: 8px 8px 0 8px;
}
.window-speed-search-button {
	cursor: point;
}
/* window speed dial */

.window-speed-dial-container {
	border: 0px solid #ccc;
	margin: auto;
	width: 688px; /*  686= 222x3 + 20 */
	padding: 10px 0 10px 0px;
}

.window-speed-dial-item a {
	float: left;
	width: 202px;
	height: 152px;
	background-image: url(images/speed-dial-bg.png);
	margin: 10px 0 10px 20px;
	text-align: center;
	display: black;
	text-decoration:none;
}

.window-speed-dial-item a:hover {
	background-image: url(images/speed-dial-bg.png);
	background-position: 0 -152px;
	font-weight: blod;
	text-decoration:none;
}

.window-speed-dial-item a img {
	margin: 15px 10px 2px 9px;
}

.window-speed-dial-item a span {
	display: block;
	clear: both;
}

.window-toolbar-wrapper{
	color:#000;
	background-color:#efefef;
	border-bottom:1px solid #ccc;
	height:25px;
}

.window-toolbar-container{
	float:right;
	padding:3px 4px 0 0;
}

.window-toolbar-input-wrapper
{
	width:205px;
	height:20px;
	padding:2px 0 0 4px;
	*padding:1px 0 0 4px;
	background: url(images/header_search_input_bg.png) no-repeat 0px 0px;
}

.window-toolbar-input{
	font-size:12px;
	height:15px;	
	width:180px;
	border:0px none;
}

.window-toolbar-input-over{
	font-size:12px;
	height:15px;	
	width:180px;
	border:0px none;
}

.window-toolbar-button{
	font-weight:bold;
	font-size:12px;
}

/*
 * window-bugzilla-comment
 */
.window-bugzilla-comment-wrapper
{
}
.window-bugzilla-comment-title 
{
	padding:10px 0 10px 0;	
	font-weight:bold;
}
.window-bugzilla-comment-content textarea
{
	
}
.window-bugzilla-comment-button
{
	padding:10px 0 10px 0;
}

/*
 * window wiki
 */
.window-wiki-wrapper
{
	padding:10px;
}

.window-wiki-wrapper h1,
.window-wiki-wrapper h2,
.window-wiki-wrapper h3
{
	margin-bottom:10px;
}
.window-wiki-wrapper h4,
.window-wiki-wrapper h5
{
	margin-bottom:6px;
}
.window-wiki-wrapper h6
{
	margin-bottom:6px;
	font-weight:normal;
}
.window-wiki-wrapper ul,
.window-wiki-wrapper ol
{
	margin-bottom:10px;
}

.window-wiki-wrapper ul li
{
	line-height:150%;
	list-style-type: disc;
	margin:0 0 0 2em;
}
.window-wiki-wrapper ol li
{
	line-height:150%;
	list-style-type: decimal;
	margin:0 0 0 2em;
}
.window-wiki-wrapper table
{
	margin-bottom:10px;
}

.window-wiki-wrapper th
{
	font-weight:bold;
	background-color:#f5f5f5;
}
.window-wiki-wrapper th,
.window-wiki-wrapper td
{
	padding: 6px 10px 4px 10px;
	border:1px solid #ccc;
}
.window-wiki-wrapper pre
{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	*word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.window-wiki-wrapper .code-color-wrapper
{
	border:1px solid #c75400;
	background-color:#fcffca;
	padding:6px 10px 6px 10px;
	margin:8px 0 10px 0;
}

.window-wiki-wrapper img
{	
	/* fixed ie 6 img width */
	_width:expression((this.offsetWidth > document.body.clientWidth - 45) ? ((document.body.clientWidth - 45) + "px") : this.offsetWidth + "px" );
}

.window-wiki-tag-wrapper
{  
	float:left; 
	margin:0 10px 10px 0px; 
	font-weight:normal;
	word-break:keep-all;
	overflow:hidden;
	width:120px;
}
.window-wiki-h1
{  
	padding-bottom:10px;
}
.window-wiki-book-chapter-keywords
{
	
}
.window-wiki-book-chapter-keywords a
{
	display:block;
	line-height:150%;
	padding:4px 0 0 10px;
}
.window-wiki-book-chapter-keywords-message
{
	background-color: rgb(255, 255, 224); 
	border-bottom: 1px solid rgb(204, 204, 204); 
	padding: 6px 10px 4px;
}
.window-wiki-book-chapter-suffix
{
	display:block;
	font-weight:bold;
	width:200px;
	background-color: rgb(255, 255, 224); 
	border: 1px solid rgb(204, 204, 204); 
	padding:2px 2px 2px 2px;
	margin-bottom:2px;
}

/* window-features-nav */
.window-feature-navigator-wrapper{
	line-height:150%;
	margin:10px;
}
.window-feature-navigator-title{
	font-weight:bold;
	padding:0px 10px 4px 10px;
	width:80%;
	border-bottom:1px solid #ccc;
}
.window-feature-navigator-ul{
	padding: 0 10px 10px 10px;
}

.window-feature-navigator-ul li {
	background: url("images/x_slide_menu_row_bg.png") no-repeat scroll 2px 12px #fff;
	padding: 4px 0 0 16px;
	line-height:150%;
}

/* attachemet */
.window-attachment-wrapper {
	
}
.window-attachment-wrapper span {
	margin-right:8px;
	text-decoration:underline;
	color:#039;
}