<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The web application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <!-- web configuration begin -->
  <web>
    <keys>
      <!-- Spring.NET : 配置文件 -->
      <add name="SpringObjectFile" value="config\X3Platform.Web.Spring.config" />
      <!-- IBatis : 配置映射文件 -->
      <add name="IBatisMapping" value="config\X3Platform.Web.IBatis.SqlMap.config" />
      <!-- 服务器名称: 当服务器不以域名方式访问时, 必须需要指定服务器IP地址. -->
      <add name="ServerName" value="127.0.0.1;" />
      <!-- 网站页面的布局: CollaborationPlatform | EnterprisePortalPlatform | Genius -->
      <add name="Layout" value="Genius" />
      <!-- 网站页面的主题名称 default | dynamic -->
      <add name="ThemeName" value="default" />
      <!-- 登录页面地址 -->
      <add name="SignInUrl" value="/account/signin?returnUrl={0}" />
      <!-- 网站页面的整体输出模板 -->
      <add name="RenderTemplatePath" value="sites/default/render.vm" />
      <!-- 网站页面的头部模板 -->
      <add name="RenderHeadTemplatePath" value="sites/default/head.vm" />
      <!-- 网站页面的主体模板 -->
      <add name="RenderBodyTemplatePath" value="sites/default/body.vm" />
    </keys>
    <navigation>
      <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.NavigationBuilder,X3Platform.Web.Builder.Layouts.Genius" />
    </navigation>
    <menu>
      <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.MenuBuilder,X3Platform.Web.Builder.Layouts.Genius" />
    </menu>
    <customize>
      <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.CustomizeBuilder,X3Platform.Web.Builder.Layouts.Genius" />
    </customize>
  </web>
  <!-- web configuration end -->
</configuration>
