<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The web application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="webConfiguration"  type="X3Platform.Web.Configuration.WebConfiguration,X3Platform.Web" />
    </configSections>

    <!-- web configuration begin -->

    <webConfiguration>
        <keys>
            <!-- SQL Server : 数据库连接名称 -->
            <add name="DataSourceName" value="ConnectionString" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Web.IBatis.SqlMap.config" />
            <!-- 布局: CollaborationPlatform | EnterprisePortalPlatform | Genius -->
            <add name="Layout" value="Genius" />
            <!-- 当服务器不以域名方式访问时,需要指定服务器地址. -->
            <add name="ServerName" value="127.0.0.1;" />
            <!-- 登录页面 -->
            <add name="AccountTokenServiceLogin" value="/apps/pages/login.aspx?returnUrl={0}" />
            <!-- 站点的主题名称 -->
            <add name="SiteThemeName" value="default" />
            <!-- 默认的页面整体输出模板 -->
            <add name="RenderTemplatePath" value="sites/genius/render.vm" />
            <!-- 默认的页面头部模板 -->
            <add name="RenderHeadTemplatePath" value="sites/genius/head.vm" />
            <!-- 默认的页面主体模板 -->
            <add name="RenderBodyTemplatePath" value="sites/genius/body.vm" />
        </keys>
        <customize>
            <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.CustomizeBuilder,X3Platform.Web.Builder.Layouts.Genius" />
        </customize>
        <menu>
            <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.MenuBuilder,X3Platform.Web.Builder.Layouts.Genius" />
        </menu>
        <navigation>
            <add name="x3platform.com" value="X3Platform.Web.Builder.Layouts.Genius.NavigationBuilder,X3Platform.Web.Builder.Layouts.Genius" />
        </navigation>
    </webConfiguration>

    <!-- web configuration end -->

</configuration>
