<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The authority application block configuration file.
     *
     * Update : 2010.01.01
     */     
-->
<configuration>
  <configSections>
    <section name="security.authority"  type="X3Platform.Security.Authority.Configuration.AuthorityConfiguration,X3Platform.Abstractions" />
  </configSections>
  <!-- authority configuration begin -->
  <security.authority>
    <keys>
      <!-- SQL Server : 数据库连接名称 -->
      <add name="DataSourceName" value="ConnectionString" />
      <!-- IBatis : 配置映射文件 -->
      <add name="IBatisMapping" value="config\X3Platform.Security.Authority.IBatis.SqlMap.config" />
    </keys>
  </security.authority>
  <!-- authority configuration end -->
</configuration>