<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The services application block configuration file.
     *
     * Update : 2010.01.01
     */     
     
     DataSourceName : Database_Logging
     
     TimerInterval : 60 (单位:秒)
     
     RunTimeRange : 2,3 代表 2点到3点之间执行. (时间范围:1-24)
     
     RunTimeInterval : 20 代表执行间隔20小时以上 (单位:小时)
     
     DefaultEmptyRoleId : 默认岗位Id
     
     DefaultDimissionRoleId : 默认离职岗位Id
-->
<configuration>
    <configSections>
        <section name="servicesConfiguration" type="X3Platform.Services.Configuration.ServicesConfiguration, X3Platform.Services" />
    </configSections>

    <!-- services configuration begin -->

    <servicesConfiguration>
        <keys>
            <clear />
            <!-- 服务的名称 -->
            <add name="ServiceName" value="X3Platform Services" />
            <!-- 服务的显示名称 -->
            <add name="ServiceDisplayName" value="X3Platform Services" />
            <!-- 服务的描述信息 -->
            <add name="ServiceDescription" value="X3Platform Services's Description" />
            <!-- 服务的定时器间隔时间 -->
            <add name="TimerInterval" value="60" />
            <!-- 跟踪运行时状态开关 -->
            <add name="TrackRunTime" value="Off" />
            <!-- 服务的默认Tcp端口 -->
            <add name="TcpPort" value="12345" />
        </keys>
        <services>
            <clear />
            <add name="DebugService" 
                 type="X3Platform.Services.ServiceContracts.DebugService,X3Platform.Services" />
            <add name="RequestService" 
                 type="X3Platform.Services.ServiceContracts.RequestService,X3Platform.Services" />
            <add name="PackageService" 
                 type="X3Platform.Membership.Synchronize.ServiceContracts.PackageService,X3Platform.Membership.Synchronize" />
            <add name="TaskWebService" 
                 type="X3Platform.Tasks.ServiceContracts.TaskWebService,X3Platform.Tasks" />
            <add name="XpsFileConvertService" 
                 type="X3Platform.AttachmentStorage.XpsConvert.XpsFileConvertService,X3Platform.AttachmentStorage.XpsConvert" />
        </services>
        <observers>
            <clear />
            <add name="ProjectService" args="-minutes:5" nextRunTime="05/28/2009 00:07:38"
                 type="X3Platform.Projects.ServiceObservers.ProjectServiceObserver,X3Platform.Projects" />
            <add name="SynchronizeService" args="-minutes:5" nextRunTime="05/28/2009 00:07:38"
                 type="X3Platform.Membership.Synchronize.ServiceObservers.SynchronizeServiceObserver,X3Platform.Membership.Synchronize" />
        </observers>

    </servicesConfiguration>

    <!-- services configuration end -->

</configuration>