<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <description>服务提供者配置信息 | 数据提供者配置信息</description>

  <!-- 成员 -->
  <object name="X3Platform.Location.Regions.IBLL.IRegionService"
          type="X3Platform.Location.Regions.BLL.RegionService,X3Platform.Location.Regions"
          lazy-init="true" />

  <object name="X3Platform.Location.Regions.IDAL.IRegionProvider"
          type="X3Platform.Location.Regions.DAL.IBatis.RegionProvider,X3Platform.Location.Regions"
          lazy-init="true" />

  <!-- 菜单 -->
  <object name="X3Platform.Location.Regions.IBLL.IRegionMenuService"
          type="X3Platform.Location.Regions.BLL.RegionMenuService,X3Platform.Location.Regions"
          lazy-init="true" />

  <object name="X3Platform.Location.Regions.IDAL.IRegionMenuProvider"
          type="X3Platform.Location.Regions.DAL.IBatis.RegionMenuProvider,X3Platform.Location.Regions"
          lazy-init="true" />

</objects>
