<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The digital number application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <!-- digital number configuration begin -->
  <digitalNumber>
    <keys>
      <!-- Spring.NET : 配置文件 -->
      <add name="SpringObjectFile" value="config\X3Platform.DigitalNumber.Spring.config" />
      <!-- IBatis : 配置映射文件 -->
      <add name="IBatisMapping" value="config\X3Platform.DigitalNumber.IBatis.SqlMap.config" />
      <!-- 忽略不需要自增的编号和更新时间的编号 一般适用于随机数和 GUID -->
      <add name="IgnoreIncrementSeed" value="Key_32DigitGuid,Key_Guid,Key_Nonce,Key_Random_10,Key_Session" />
    </keys>
  </digitalNumber>
  <!-- digital number configuration end -->
</configuration>