<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging" />
    </sectionGroup>
    <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
    <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="X3Platform.Logging.LoggerFactoryAdapter, X3Platform.Support">
        <!-- INLINE FILE FILE-WATCH EXTERNAL -->
        <arg key="configType" value="INLINE" />
        <!-- 
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="${ApplicationPathRoot}config\X3Platform.Logging.config" />
        -->
      </factoryAdapter>
    </logging>
  </common>
  <logging>
    <root>
      <!-- [DEBUG < INFO < WARN < ERROR < FATAL] -->
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!-- 日志配置 -->
    <appender name="RollingFileAppender" type="X3Platform.Logging.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="${ApplicationPathRoot}\log\" />
      <appendToFile value="true" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <staticLogFileName value="false" />
      <datePattern value="\\yyyy\\MM\\dd&quot;.txt&quot;" />
      <rollingStyle value="Composite" />
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%5level %date{yyyy-MM-dd HH:mm:ss.fff} thread: [%thread] source: [%logger] description: %message%n" />
      </layout>
    </appender>
  </logging>
  <kernel>
    <!-- 系统名称 -->
    <key name="SystemName" value="代码测试程序" />
    <!-- 应用程序的登录验证类型 -->
    <key name="AuthenticationManagementType" value="X3Platform.Membership.Authentication.TestingAuthenticationManagement,X3Platform.Membership" />
    <!-- 数据库的服务器地址 -->
    <key name="DatabaseSettings.DataSource" value="tests.x3platform.com" />
    <!-- 数据库的应用数据库名称 -->
    <key name="DatabaseSettings.Database" value="X3_Testing" />
    <!-- 数据库的登录帐号 -->
    <key name="DatabaseSettings.LoginName" value="test" />
    <!-- 数据库的登录密码 -->
    <key name="DatabaseSettings.Password" value="test" />
  </kernel>
  <appSettings>
    <!-- 应用标识 -->
    <add key="appKey" value="52cf89ba-7db5-4e64-9c64-3c868b6e7a99"/>
    <!-- 应用密钥 -->
    <add key="appSecret" value="00000000"/>
    <!-- API宿主服务器前缀 -->
    <add key="apiHostPrefix" value="http://tests.x3platform.com"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
