@{
    Layout = "~/views/templates/themes/genius/render.cshtml";
}
<script id="x-main" type="text/javascript" >
  x.require({
    files: [
        { fileType: 'script', id: 'x-client-api-template-script', path: x.dir() + 'x-client-api-template.zh-cn.js' },
        { fileType: 'script', id: 'x-client-api-ui-script', path: x.dir() + 'x-client-api-ui.zh-cn.js' },
        { fileType: 'script', id: 'x-ui-pkg-tabs-script', path: x.ui.pkg.dir() + 'x.ui.pkg.tabs.js' },
        { fileType: 'script', id: 'x-ui-pkg-tree-script', path: x.ui.pkg.dir() + 'x.ui.pkg.tree.js' },
        { fileType: 'script', id: 'x-app-script', path: x.dir() + 'app/x.app.js' },
        { fileType: 'script', id: 'shared-wizards-contacts-wizard-script', path: '/views/shared/wizards/contacts-wizard.js' },
        { fileType: 'script', id: 'main-applications-home-script', path: '/views/main/applications/default.js' }
    ]});
</script>
<div id="window-container" class="window-container">
    home
</div>