<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The velocity application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="velocityConfiguration"  type="X3Platform.Velocity.Configuration.VelocityConfiguration,X3Platform.Velocity" />
    </configSections>

    <!-- velocity configuration begin -->
    <velocityConfiguration mode="On" >
        <keys>
            <add name="TemplatePath" value="${ApplicationPathRoot}views\templates" />
        </keys>
    </velocityConfiguration>
    <!-- velocity configuration end -->
</configuration>