<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The bugzilla application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <configSections>
    <section name="bugzillaConfiguration"  type="X3Platform.Plugins.Bugs.Configuration.BugConfiguration,X3Platform.Plugins.Bugs" />
  </configSections>

  <!-- bugzilla configuration begin -->

  <bugzillaConfiguration>
    <keys>
      <!-- Spring.NET : 配置文件 -->
      <add name="SpringObjectFile" value="config\X3Platform.Plugins.Bugs.Spring.config" />
      <!-- IBatis : 配置映射文件 -->
      <add name="IBatisMapping" value="config\X3Platform.Plugins.Bugs.IBatis.SqlMap.config" />
      <!-- 友好的地址重写 : On | Off(默认) -->
      <add name="FriendlyUrl" value="Off" />
      <!-- 发送邮件提醒 : On | Off(默认) -->
      <add name="SendMailAlert" value="Off" />
      <!-- 编号的相关实体数据表 -->
      <add name="DigitalNumberEntityTableName" value="tb_Bug" />
      <!-- 编号的前缀编码规则 : {ApplicationPinYin} 应用拼音 -->
      <add name="DigitalNumberPrefixCodeRule" value="{ApplicationPinYin}" />
      <!-- 编号的自增流水号长度 -->
      <add name="DigitalNumberIncrementCodeLength" value="3" />
      <!-- 数据库名称(Bug) -->
      <add name="DB_BUGZILLA" value="`sys_bugzilla`" />
      <!-- 数据库名称(Project) -->
      <add name="DB_PROJECTS" value="`sys_projects`" />
    </keys>
  </bugzillaConfiguration>

  <!-- bugzilla configuration end -->

</configuration>