<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <settings>
        <setting useStatementNamespaces="false"/>
        <setting cacheModelsEnabled="true"/>
        <setting validateSqlMap="false"/>
        <setting useReflectionOptimizer="true"/>
    </settings>

    <providers resource="${ApplicationPathRoot}config/X3Platform.IBatis.Providers.config"/>

    <database>
        <provider name="SqlServer" />
        <dataSource name="IBatis" connectionString="data source=${DatabaseSettings.DataSource};database=${DatabaseSettings.Database};user id=${DatabaseSettings.LoginName};password=${DatabaseSettings.Password};connection reset=false;connection lifetime=60;min pool size=1;max pool size=512"/>
    </database>

    <typeHandlers>
        <typeHandler type="string" callback="AnsiStringTypeHandler"/>
    </typeHandlers>

    <sqlMaps>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TaskProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TaskReceiverProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TaskCategoryProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TaskHistoryProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TimingTaskProvider.xml"/>
        <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Tasks\TimingTaskReceiverProvider.xml"/>
    </sqlMaps>
</sqlMapConfig>
