<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The tasks application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="tasksConfiguration"  type="X3Platform.Tasks.Configuration.TasksConfiguration,X3Platform.Tasks" />
    </configSections>

    <!-- tasks configuration begin -->

    <tasksConfiguration>
        <keys>
            <!-- SQL Server : 数据库连接名称 -->
            <add name="DataSourceName" value="ConnectionString" />
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.Tasks.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Tasks.IBatis.SqlMap.config" />
            <!-- 消息队列模式: 可选的值 1.On 2.Off(默认) -->
            <add name="MessageQueueMode" value="Off" />
            <!-- 消息队列机器名称 -->
            <add name="MessageQueueMachineName" value=".\private$" />
            <!-- 消息队列名称 -->
            <add name="MessageQueueName" value="tasks$default$queue" />
            <!-- 任务的默认前缀地址 -->
            <add name="PrefixTargetUrl" value="${HostName}" />
        </keys>
    </tasksConfiguration>

    <!-- tasks configuration end -->

</configuration>