<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The velocity application block configuration file.
     *
     * Update : 2009.01.01
     */
-->
<configuration>
  <configSections>
    <section name="velocityConfiguration"  type="X3Platform.Velocity.Configuration.VelocityConfiguration,X3Platform.Velocity" />
  </configSections>

  <!-- velocity configuration begin -->
  <velocityConfiguration mode="On" >
    <keys>
      <add name="TemplatePath" value="E:\\Workspace\\X3Platform/branches\\1.0.0\\trunk\\Velocity\\Velocity\\templates" />
    </keys>
  </velocityConfiguration>
  <!-- velocity configuration end -->
</configuration>