<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The apps application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <!-- apps configuration begin -->
    <apps>
        <keys>
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.Apps.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Apps.IBatis.SqlMap.config" />
            <!-- 内置超级管理员帐号,多个人以逗号隔开 -->
            <add name="Administrators" value="administrator,admin,root" />
            <!-- 隐藏开始菜单 : 可选的值 1.On 2.Off(默认) -->
            <add name="HiddenStartMenu" value="Off" />
            <!-- 隐藏顶部菜单 : 可选的值 1.On 2.Off(默认) -->
            <add name="HiddenTopMenu" value="Off" />
            <!-- 隐藏快捷方式 : 可选的值 1.On 2.Off(默认) -->
            <add name="HiddenShortcutMenu" value="Off" />
       </keys>
    </apps>
    <!-- apps configuration end -->
</configuration>