<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers resource="${ApplicationPathRoot}config/X3Platform.IBatis.Providers.config"/>

  <database>
    <provider name="${DatabaseSettings.Provider}" />
    <dataSource name="IBatis" connectionString="data source=${DatabaseSettings.DataSource};database=${DatabaseSettings.Database};user id=${DatabaseSettings.LoginName};password=${DatabaseSettings.Password};connection reset=${DatabaseSettings.ConnectionReset};connection lifetime=${DatabaseSettings.ConnectionLifetime};min pool size=${DatabaseSettings.MinPoolSize};max pool size=${DatabaseSettings.MaxPoolSize};connection timeout=${DatabaseSettings.ConnectionTimeout};" />
  </database>

  <typeHandlers>
    <typeHandler type="string" callback="AnsiStringTypeHandler"/>
  </typeHandlers>

  <sqlMaps>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationErrorProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationEventProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationFeatureProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationFeatureDateLimitProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationSettingGroupProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationSettingProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationMenuProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationMethodProvider.xml"/>
    <sqlMap resource="${ApplicationPathRoot}resources\ibatis\Apps\ApplicationOptionProvider.xml"/>
  </sqlMaps>
</sqlMapConfig>
