<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support" />
    </configSections>

    <!-- kernel configuration begin -->
    <kernel>
        <key name="SystemName" value="默认测试网站" />
        <key name="HostName" value="http://dev.x3platform.com" />
        <key name="Version" value="1.0.0.0" />
        <key name="Author" value="RuanYu" />
        <key name="WebmasterEmail" value="ruanyu@live.com" />
        <key name="DatabaseSettings.DataSource" value="(local)"/>
        <key name="DatabaseSettings.Database" value="X3Platform.debug"/>
        <key name="DatabaseSettings.LoginName" value="sa"/>
        <key name="DatabaseSettings.Password" value="sa"/>
        <key name="DatabaseSettings.IBatisSqlMapFilePathRoot" value="${ApplicationPathRoot}\config\"/>
    </kernel>
    <!-- kernel configuration end -->

</configuration>