<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The logging application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
    </configSections>
    <logging>
        <!-- 1.定义输出源 -->
        <!-- 配置参数
        %thread | %t 当前语句所在的线程。
        %message | %m 输出的消息内容。 
        %date{yyyy/MM/dd HH:mm:ss fff} | %d 日期时间，不指定{}里的内容的话将使用默认格式，精确到毫秒。
        %logger 表示调用log.Info,log.Error的类的全名。
        %property{NDC} 输出NDC里的内容。
        %-5level 日志的级别，-5表示占用5个字符（左）。
        %-数字：表示该项的最小长度，如果不够，则用空格填充
        %newline | %n 换行。
        %X{mdcName} 输出MDC里名为“mdcName”的对象的值。
        %L：输出语句所在的行号
        %F：输出语句所在的文件名
        注: &#13;&#10; 表示换行
        -->
        <!-- 定义输出到文件中 -->
        <appender name="FileAppender" type="X3Platform.Logging.Appender.FileAppender">
            <!--定义文件存放位置-->
            <file value="${ApplicationPathRoot}\logs\logging.txt" />
            <appendToFile value="true" />
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <!--输出格式-->
                <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
                <conversionPattern value="记录时间: %date{yyyy-MM-dd HH:mm:ss.fff}%n所属线程: %thread%n日志来源: %logger%n日志级别: %-5level%n详细描述: %n%message%n------------------------------------------------------------------------------%n" />
                <!--每条日志头部的文字说明-->
                <!--<header value="========================================================================&#13;&#10;" />-->
                <!--每条日志末尾的文字说明-->
                <!--<footer value="========================================================================&#13;&#10;&#13;&#10;" />-->
            </layout>
        </appender>

        <!--信息日志配置-->
        <appender name="RollingFileAppender" type="X3Platform.Logging.Appender.RollingFileAppender">
            <!--定义文件存放位置-->
            <file value="${ApplicationPathRoot}logs\" />
            <appendToFile value="true" />
            <maximumFileSize value="20MB" />
            <maxSizeRollBackups value="100" />
            <staticLogFileName value="false" />
            <datePattern value="\\yyyyMM\\yyyyMMdd.txt" />
            <rollingStyle value="Composite" />
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <conversionPattern value="%n&#13;&#10;--------------------------------------------------------------------------------------&#13;&#10;%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
                <!--每条日志头部的文字说明-->
                <!--<header value="========================================================================&#13;&#10;" />-->
                <!--每条日志末尾的文字说明-->
                <!--<footer value="========================================================================&#13;&#10;&#13;&#10;" />-->
            </layout>
        </appender>

        <!-- 定义输出到控制台命令行中 -->
        <appender name="ConsoleAppender" type="X3Platform.Logging.Appender.ConsoleAppender">
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%" />
            </layout>
        </appender>

        <!-- 定义输出到Windows事件中 -->
        <appender name="EventLogAppender" type="X3Platform.Logging.Appender.EventLogAppender">
            <filter type="X3Platform.Logging.Filter.LevelRangeFilter">
                <levelMin value="WARN" />
                <levelMax value="FATAL" />
            </filter>
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <conversionPattern value="记录时间: %date{yyyy-MM-dd HH:mm:ss.fff}%n所属线程: %thread%n日志来源: %logger%n日志级别: %-5level%n详细描述: %n%message" />
            </layout>
        </appender>

        <!-- 定义输出到数据库中，这里举例输出到 SQLite 数据库中，数据库为C盘的 log4net.mdb -->
        <appender name="AdoNetAppender" type="X3Platform.Logging.Appender.AdoNetAppender">
            <bufferSize value="5" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="server=RUANYU-LAPTOP\SQLEXPRESS;database=X3Platform;uid=sa;pwd=sa;timeout=300;" />
            <commandText value="INSERT INTO tb_Logging ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@Date,@Thread,@Level,@Logger,@Message,@Exception)" />
            <!-- 定义各个参数 -->
            <parameter>
                <parameterName value="@Date" />
                <dbType value="DateTime" />
                <size value="200" />
                <layout type="X3Platform.Logging.Layout.RawTimeStampLayout">
                    <conversionPattern value="%date" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Thread" />
                <dbType value="String" />
                <size value="800" />
                <layout type="X3Platform.Logging.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Level" />
                <dbType value="String" />
                <size value="400" />
                <layout type="X3Platform.Logging.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Logger" />
                <dbType value="String" />
                <size value="400" />
                <layout type="X3Platform.Logging.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="X3Platform.Logging.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@Exception" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="X3Platform.Logging.Layout.PatternLayout">
                    <conversionPattern value="%exception" />
                </layout>
            </parameter>
        </appender>

        <!--2.定义日志的输出媒介, 下面定义日志以四种方式输出. 也可以下面的按照一种类型或其他类型输出。-->
        <root>
            <!--[ALL < DEBUG < INFO < WARN < ERROR < FATAL]-->
            <level value="ALL" />
            <!-- 文件形式记录日志 -->
            <!-- <appender-ref ref="FileAppender" /> -->
            <!-- 文件以滚动形式记录日志 -->
            <appender-ref ref="RollingFileAppender" />
            <!-- 控制台控制显示日志 -->
            <appender-ref ref="ConsoleAppender" />
            <!-- Windows事件日志 -->
            <appender-ref ref="EventLogAppender" />
            <!-- 如果不启用相应的日志记录，可以通过这种方式注释掉 -->
            <!-- <appender-ref ref="AdoNetAppender" /> -->
        </root>
    </logging>
</configuration>