<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The ajax application block configuration file.
     *
     * Update : 2010.01.01
     */     
-->
<configuration>
    <ajax>
        <keys>
            <add name="CamelStyle" value="On" />
        </keys>
        <specialWords>
            <add name="QQ" value="qq" />
            <add name="MSN" value="msn" />
            <add name="IP" value="ip" />
            <add name="PinYin" value="pinyin" />
            <add name="RMB" value="rmb" />
        </specialWords>
    </ajax>
</configuration>