<?xml version="1.0" encoding="utf-8"?>
<!--
    /*
     * The url rewriter application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="rewriterConfiguration" type="X3Platform.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, X3Platform" />
    </configSections>
    
    <!-- url rewriter configuration begin -->
    
    <rewriterConfiguration>
        <!-- home setting begin -->
        <rule>
            <lookfor><![CDATA[~/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/default.aspx?(.*)]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?$1]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/city/(.*)/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?city=$1]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/corporation/(.*)/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?corporation=$1]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/lang/(.*)/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?language=$1]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/lang/(.*)/city/(.*)/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?language=$1&city=$2]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/lang/(.*)/corporation/(.*)/default.aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/default.aspx?language=$1&corporation=$2]]></sendto>
        </rule>
        <!-- home setting end -->
        
        <!-- 01-02.application setting begin -->
        <rule>
            <lookfor><![CDATA[~/api/(.*).aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/platform/api-method-adapter.aspx?name=$1]]></sendto>
        </rule>
        <rule>
            <lookfor><![CDATA[~/api/(.*).aspx?(.*)]]></lookfor>
            <sendto><![CDATA[~/apps/pages/platform/api-method-adapter.aspx?name=$1&$2]]></sendto>
        </rule>

        <rule>
            <lookfor><![CDATA[~/services/(.*).aspx]]></lookfor>
            <sendto><![CDATA[~/apps/pages/platform/api-custom-service-transact.aspx?path=services/$1]]></sendto>
        </rule>
        <!-- 01-02.application setting end -->

        <!-- 01-07.attachmentStorage setting begin -->
        <rule>
            <lookfor>~/attachment/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/attachment/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/attachment/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/attachment/download.aspx?id=$1]]></sendto>
        </rule>
        <!-- 01-07.attachmentStorage setting end -->

        <!-- 01-09.tasks setting begin -->
        <rule>
            <lookfor>~/tasks/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/tasks/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/tasks/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/tasks/process.aspx?id=$1]]></sendto>
        </rule>
        <!-- 01-09.tasks setting end -->

        <!-- 02-04.news setting begin -->
        <rule>
            <lookfor>~/news/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/news/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/news/article/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/news/news-view.aspx?id=$1]]></sendto>
        </rule>
        <rule>
            <lookfor>~/news/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/news/news-view.aspx?code=$1]]></sendto>
        </rule>
        <!-- 02-04.news setting end -->

        <!-- 02-05.forum setting begin -->
        <rule>
            <lookfor>~/forum/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/forum/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/forum/article/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/forum/forum-thread-view.aspx?id=$1]]></sendto>
        </rule>
        <rule>
            <lookfor>~/forum/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/forum/forum-thread-view.aspx?code=$1]]></sendto>
        </rule>
        <!-- 02-05.forum setting end -->
        
        <!-- 03-01.account setting begin -->
        <rule>
            <lookfor>~/account/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/account/identity.aspx?id=$1]]></sendto>
        </rule>
        <!-- 03-01.account setting end -->

        <!-- 04-01.projects setting begin -->
        <rule>
            <lookfor>~/projects/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/projects/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/projects/article/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/projects/project-view.aspx?id=$1]]></sendto>
        </rule>
        <rule>
            <lookfor>~/projects/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/projects/project-view.aspx?code=$1]]></sendto>
        </rule>
        <!-- 04-01.projects setting end -->

        <!-- 04-03.bugzilla setting begin -->
        <rule>
            <lookfor>~/bugzilla/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/bugzilla/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/bugzilla/article/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/bugzilla/bugzilla-view.aspx?id=$1]]></sendto>
        </rule>
        <rule>
            <lookfor>~/bugzilla/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/bugzilla/bugzilla-view.aspx?code=$1]]></sendto>
        </rule>
        <!-- 04-03.bugzilla setting end -->

        <!-- 04-05.wiki setting begin -->
        <rule>
            <lookfor>~/wiki/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/wiki/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/wiki/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/wiki/wiki-view.aspx?value=$1]]></sendto>
        </rule>
        <rule>
            <lookfor>~/wiki/book/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/wiki/wiki-full-screen.aspx?id=$1]]></sendto>
        </rule>
        <!-- 04-05.wiki setting end -->

        <!-- 05-03.meeting setting begin -->
        <rule>
            <lookfor>~/meeting/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/meeting/default.aspx]]></sendto>
        </rule>
        <rule>
            <lookfor>~/meeting/archive/([\w+\-]+).aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/meeting/meeting-view.aspx?id=$1]]></sendto>
        </rule>
        <!-- 05-03.meeting setting end -->

        <!-- 07-01.hr setting begin -->
        <rule>
            <lookfor>~/hr/default.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/hr/default.aspx]]></sendto>
        </rule>
        <!-- 07-01.hr setting end -->

        <!-- 07-02.checkin setting begin -->
        <rule>
            <lookfor>~/checkin/clocking.aspx</lookfor>
            <sendto><![CDATA[~/apps/pages/checkin/checkin-clocking.aspx]]></sendto>
        </rule>
        <!-- 07-02.checkin setting end -->
    </rewriterConfiguration>
    
    <!-- url rewriter configuration end -->
   
</configuration>
