<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The ip query application block configuration file.
     *
     * Update : 2009.01.01
     */
-->
<configuration>
	<configSections>
		<section name="ipQueryConfiguration"  type="X3Platform.Location.IPQuery.Configuration.IPQueryConfiguration,X3Platform.Location.IPQuery" />
	</configSections>

	<!-- ip query configuration begin -->

  <ipQueryConfiguration>
    <keys>
      <add name="DataSourceName" value="ConnectionString" />
      <add name="DefaultCategoryValue" value="General" />
      <add name="DefaultPriorityValue" value="5" />
    </keys>
  </ipQueryConfiguration>

  <!-- ip query configuration end -->

</configuration>