<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The security application block configuration file.
     *
     * Update : 2010.01.01
     */     
-->
<configuration>
    <security>
        <keys>
            <!-- 对象名称首字母小写 -->
            <add name="CamelStyle" value="On" />
        </keys>
    </security>
</configuration>