## Ajax 请求封装类生成模板
##
## 参数:
## - ${namespacePrefix}
## - ${namespace}
## - ${className}
## - ${entityClass}
## - ${applicationName}
## - ${businessLogicInterface}
## - ${businessLogicServiceInstance}
namespace ${namespace}
{
    #region Using Libraries
    using System;
    using System.Collections.Generic;
    using System.Xml;
    using System.Text;

    using X3Platform.Ajax;
    using X3Platform.Apps;
    using X3Platform.Data;
    using X3Platform.DigitalNumber;
    using X3Platform.Util;

    using ${namespacePrefix}.IBLL;
    using ${namespacePrefix}.Model;
    #endregion

    /// <summary></summary>
    public class ${className}
    {
        /// <summary>数据服务</summary>
        private ${businessLogicInterface} service = null; // ${businessLogicServiceInstance};

        // -------------------------------------------------------
        // 保存 删除
        // -------------------------------------------------------

        #region 函数:Save(XmlDocument doc)
        /// <summary>保存记录</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string Save(XmlDocument doc)
        {
            ${entityClass} param = new ${entityClass}();

            param = (${entityClass})AjaxUtil.Deserialize(param, doc);

            this.service.Save(param);

            return "{\"message\":{\"returnCode\":0,\"value\":\"保存成功。\"}}";
        }
        #endregion

        #region 函数:Delete(XmlDocument doc)
        /// <summary>删除记录</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string Delete(XmlDocument doc)
        {
            string id = XmlHelper.Fetch("id", doc);

            this.service.Delete(id);

            return "{\"message\":{\"returnCode\":0,\"value\":\"删除成功。\"}}";
        }
        #endregion

        // -------------------------------------------------------
        // 查询
        // -------------------------------------------------------

        #region 函数:FindOne(XmlDocument doc)
        /// <summary>获取详细信息</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string FindOne(XmlDocument doc)
        {
            StringBuilder outString = new StringBuilder();

            string id = XmlHelper.Fetch("id", doc);

            ${entityClass} param = this.service.FindOne(id);

            outString.Append("{\"data\":" + AjaxUtil.Parse<${entityClass}>(param) + ",");

            outString.Append("\"message\":{\"returnCode\":0,\"value\":\"查询成功。\"}}");

            return outString.ToString();
        }
        #endregion

        #region 函数:FindAll(XmlDocument doc)
        /// <summary>获取列表信息</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string FindAll(XmlDocument doc)
        {
            StringBuilder outString = new StringBuilder();

            string searchText = XmlHelper.Fetch("searchText", doc);

            int length = Convert.ToInt32(XmlHelper.Fetch("length", doc));

            DataQuery query = new DataQuery();

            // 根据实际需要设置当前用户权限
            // query.Variables["accountId"] = KernelContext.Current.User.Id;

            // if (XmlHelper.Fetch("su", doc) == "1" && AppsSecurity.IsAdministrator(KernelContext.Current.User, ${applicationName}Configuration.ApplicationName))
            // {
            //   query.Variables["elevatedPrivileges"] = "1";
            // }

            // 根据实际需要设置查询参数
            // query.Where.Add("Name", searchText);
            query.Length = length;

            IList<${entityClass}> list = this.service.FindAll(query);

            outString.Append("{\"data\":" + AjaxUtil.Parse<${entityClass}>(list) + ",");

            outString.Append("\"message\":{\"returnCode\":0,\"value\":\"查询成功。\"}}");

            return outString.ToString();
        }
        #endregion

        // -------------------------------------------------------
        // 自定义功能
        // -------------------------------------------------------

        #region 函数:GetPaging(XmlDocument doc)
        /// <summary>获取带分页的列表信息</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string GetPaging(XmlDocument doc)
        {
            StringBuilder outString = new StringBuilder();

            PagingHelper paging = PagingHelper.Create(XmlHelper.Fetch("paging", doc, "xml"), XmlHelper.Fetch("query", doc, "xml"));

            // 根据实际需要设置当前用户权限
            // paging.Query.Variables["accountId"] = KernelContext.Current.User.Id;

            // if (XmlHelper.Fetch("su", doc) == "1" && AppsSecurity.IsAdministrator(KernelContext.Current.User, ${applicationName}Configuration.ApplicationName))
            // {
            //   paging.Query.Variables["elevatedPrivileges"] = "1";
            // }

            int rowCount = -1;

            IList<${entityClass}> list = this.service.GetPaging(paging.RowIndex, paging.PageSize, paging.Query, out rowCount);

            paging.RowCount = rowCount;

            outString.Append("{\"data\":" + AjaxUtil.Parse<${entityClass}>(list) + ",");
            outString.Append("\"paging\":" + paging + ",");
            outString.Append("\"total\":" + paging.RowCount + ",");
            outString.Append("\"metaData\":{\"root\":\"data\",\"idProperty\":\"id\",\"totalProperty\":\"total\",\"successProperty\":\"success\",\"messageProperty\": \"message\"},");
            outString.Append("\"success\":1,");
            outString.Append("\"msg\":\"success\",");
            outString.Append("\"message\":{\"returnCode\":0,\"value\":\"查询成功。\"}}");

            return outString.ToString();
        }
        #endregion

        #region 函数:IsExist(XmlDocument doc)
        /// <summary>查询是否存在相关的记录</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string IsExist(XmlDocument doc)
        {
            string id = XmlHelper.Fetch("id", doc);

            bool result = this.service.IsExist(id);

            return "{\"message\":{\"returnCode\":0,\"value\":\"" + result.ToString().ToLower() + "\"}}";
        }
        #endregion

        #region 函数:CreateNewObject(XmlDocument doc)
        /// <summary>创建新的对象</summary>
        /// <param name="doc">Xml 文档对象</param>
        /// <returns>返回操作结果</returns>
        public string CreateNewObject(XmlDocument doc)
        {
            StringBuilder outString = new StringBuilder();

            ${entityClass} param = new ${entityClass}();

            param.Id = DigitalNumberContext.Generate("Key_Guid");

            param.Status = 1;

            param.ModifiedDate = param.CreatedDate = DateTime.Now;

            outString.Append("{\"data\":" + AjaxUtil.Parse<${entityClass}>(param) + ",");

            outString.Append("\"message\":{\"returnCode\":0,\"value\":\"创建成功。\"}}");

            return outString.ToString();
        }
        #endregion
    }
}
