## 实体类生成模板
##
## 可选参数:
## - ${namespace}
## - ${className}
## - ${fields}
namespace ${namespace}
{
    #region Using Libraries
    using System;
    using System.Collections.Generic;
    #endregion

    /// <summary></summary>
    public class ${className}
    {
        #region 默认构造函数:${className}()
        /// <summary>默认构造函数</summary>
        public ${className}()
        {
        }
        #endregion
#foreach($field in $fields)

        #region 属性:${field.Name}
        /// <summary>${field.Description}</summary>
        public ${field.Type} ${field.Name} { get; set; }
        #endregion
#end
    }
}
