<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The favorite application block configuration file.
     *
     * Update : 2010.01.01
     */     
     
     DataSourceName : ConnectionString (SQLServer) | config\X3Platform.Membership.IBatis.SqlMap.config (IBatis) 
-->
<configuration>
    <configSections>
        <section name="favoriteConfiguration"  type="X3Platform.Plugins.Favorite.Configuration.FavoriteConfiguration, X3Platform.Plugins.Favorite" />
    </configSections>

    <!-- favorite configuration begin -->

    <favoriteConfiguration>
        <keys>
            <!-- SQL Server : 数据库连接名称 -->
            <add name="DataSourceName" value="ConnectionString" />
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.Plugins.Favorite.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Plugins.Favorite.IBatis.SqlMap.config" />
        </keys>
    </favoriteConfiguration>

    <!-- favorite configuration end -->

</configuration>