<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>服务提供者配置信息/数据提供者配置信息</description>

    <!-- 收藏夹 -->
    <object name="X3Platform.Plugins.Favorite.IBLL.IFavoriteService"
            type="X3Platform.Plugins.Favorite.BLL.FavoriteService,X3Platform.Plugins.Favorite"
            lazy-init="true" />

    <object name="X3Platform.Plugins.Favorite.IDAL.IFavoriteProvider"
            type="X3Platform.Plugins.Favorite.DAL.IBatis.FavoriteProvider,X3Platform.Plugins.Favorite"
            lazy-init="true" />

</objects>
