<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The attachmentStorage application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <configSections>
        <section name="attachmentStorageConfiguration"  type="X3Platform.AttachmentStorage.Configuration.AttachmentStorageConfiguration,X3Platform.AttachmentStorage" />
    </configSections>

    <!-- attachmentStorage configuration begin -->

    <attachmentStorage>
        <keys>
            <!-- SQL Server : 数据库连接名称 -->
            <add name="DataSourceName" value="ConnectionString" />
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.AttachmentStorage.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.AttachmentStorage.IBatis.SqlMap.config" />
            <!-- 上传文件夹物理目录根路径 -->
            <add name="PhysicalUploadFolder" value="${ApplicationPathRoot}uploads\" />
            <!-- 上传文件夹物理路径规则 -->
            <add name="PhysicalUploadFolderRule" value="folder\year\quarter\month\" />
            <!-- 上传文件夹虚拟目录根路径 -->
            <add name="VirtualUploadFolder" value="/uploads/" />
            <!-- 生成图片名称的格式 : 可选的值 1.guid(默认) 2.yyyyMMddHHmmssfff -->
            <add name="IdentityFormat" value="yyyyMMddHHmmssfff" />
            <!-- 匿名上传文件 : 可选的值 1.On 2.Off(默认) -->
            <add name="AnonymousUpload" value="Off" />
            <!-- 分布式文件模式 : 可选的值 1.On 2.Off(默认) -->
            <add name="DistributedFileStorageMode" value="Off" />
        </keys>
    </attachmentStorage>

    <!-- attachmentStorage configuration end -->

</configuration>