<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>服务提供者配置信息 | 数据提供者配置信息</description>
    
    <!-- 实现 IAttachmentFileInfo 接口的对象 -->
    <object id="X3Platform.AttachmentStorage.IAttachmentFileInfo"
            type="X3Platform.AttachmentStorage.AttachmentFileInfo"
            singleton="false" />
    
    <!-- 附件存储记录 -->
    <object id="X3Platform.AttachmentStorage.IBLL.IAttachmentFileService"
            type="X3Platform.AttachmentStorage.BLL.AttachmentStorageService"
            lazy-init="true" />

    <object id="X3Platform.AttachmentStorage.IDAL.IAttachmentFileProvider"
            type="X3Platform.AttachmentStorage.DAL.IBatis.AttachmentStorageProvider"
            lazy-init="true" />

    <!-- 附件二进制文件 -->
    <object id="X3Platform.AttachmentStorage.IBLL.IAttachmentDistributedFileService"
            type="X3Platform.AttachmentStorage.BLL.AttachmentDistributedFileService"
            lazy-init="true" />

    <object id="X3Platform.AttachmentStorage.IDAL.IAttachmentDistributedFileProvider"
            type="X3Platform.AttachmentStorage.DAL.IBatis.AttachmentDistributedFileProvider"
            lazy-init="true" />

    <!-- 附件警告信息 -->
    <object id="X3Platform.AttachmentStorage.IBLL.IAttachmentWarnService"
            type="X3Platform.AttachmentStorage.BLL.AttachmentWarnService"
            lazy-init="true" />

    <object id="X3Platform.AttachmentStorage.IDAL.IAttachmentWarnProvider"
            type="X3Platform.AttachmentStorage.DAL.IBatis.AttachmentWarnProvider"
            lazy-init="true" />

</objects>
