<?xml version="1.0" encoding="utf-8"?>
<!--
    /*
     * The web apis application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <web.apis>
    <!-- 验证 -->
    <api>
      <name><![CDATA[connect.auth.authorize]]></name>
      <description><![CDATA[验证授权]]></description>
      <className><![CDATA[X3Platform.Connect.Ajax.ConnectAuthWrapper,X3Platform.Connect]]></className>
      <methodName><![CDATA[GetAuthorizeCode]]></methodName>
    </api>
  </web.apis>
</configuration>
