/**********************************************************

CSS Document 2.0

default / style.css

**********************************************************/
html,
body {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font: 12px/1.5 tahoma, helvetica, arial, "Hiragino Sans GB", "微软雅黑", "宋体", sans-serif;
}
body * {
  vertical-align: baseline;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #faffbd;
}
.clear {
  border-top: 0px solid transparent !important;
  /*margin-top:-1px !important;*/
  border-top: 0;
  margin-top: 0;
  clear: both;
  visibility: hidden;
}
/*#region window-sign-in-container*/
.window-sign-in-main-wrapper {
  widtH: 780px;
  /* border:1px solid #f00; */
  margin: auto;
}
.window-sign-in-form-wrapper a {
  color: #000;
}
.window-sign-in-form-wrapper a:hover {
  color: #b92f2f;
}
.window-sign-in-main-logo {
  padding: 30px 0 0 50px;
}
.window-sign-in-main-application-wall {
  float: left;
  margin: 40px 0 0 20px;
  width: 320px;
  /* border:1px solid #ff0; */
}
.window-sign-in-main-application-wall td {
  padding: 6px;
  text-align: center;
}
.window-sign-in-main-application-wall img {
  padding: 4px;
}
.window-sign-in-main-application-wall span {
  display: block;
  text-align: center;
  color: #ccc;
}
.window-sign-in-form-wrapper {
  background-color: #eeeeee;
  padding: 8px;
  width: 360px;
  margin: 50px auto 0 auto;
  border-radius: 5px;
}
.window-sign-in-form-container {
  line-height: 200%;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}
.window-sign-in-form-input {
  margin: 20px 20px 0 20px;
  clear: both;
}
.window-sign-in-input-style {
  background-image: url(images/login_input_bg.png);
  background-repeat: repeat-x;
  border: 0px solid #fff;
  height: 19px;
  width: 240px;
  padding: 6px 10px 2px 10px;
  *padding: 8px 10px 0 10px;
}
.window-sign-in-input-style-over {
  background-image: url(images/login_input_bg.png);
  background-repeat: repeat-x;
  background-position: 0 -27px;
  border: 0px solid #fff;
  height: 19px;
  width: 240px;
  padding: 6px 10px 2px 10px;
  *padding: 8px 10px 0 10px;
  color: #333;
}
.window-sign-in-form-remember-me {
  text-align: right;
  padding: 4px 30px 0px 20px;
  clear: both;
}
.window-sign-in-form-remember-me * {
  vertical-align: middle;
}
.window-sign-in-form-remember-me a {
  color: #666;
}
.window-sign-in-button-wrapper {
  padding: 6px 24px 10px 0px;
  height: 60px;
  clear: both;
}
.window-sign-in-loading {
  float: right;
  margin: 0px 0 0 20px;
  padding: 8px 10pt 0pt 0px;
}
.window-sign-in-button-submit {
  float: right;
  margin: 0px 0 0 20px;
}
.window-sign-in-button-submit a {
  background-image: url(images/login_btn_cancel_bg.png);
  display: block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  height: 24px;
  width: 62px;
  text-align: center;
  padding: 3px 0 0 0;
  /* Fixed IE6+ */
  *padding: 3px 0 0 0;
  *height: 24px;
}
.window-sign-in-button-submit a:hover {
  color: #fff;
}
.window-sign-in-form-bottom {
  border-top: 1px solid #ccc;
  background-color: #f6f6f6;
  padding: 6px 10px 4px 10px;
  text-align: right;
}
.window-sign-in-form-bottom a {
  font-weight: bold;
  padding: 0px 10px 0px 0px;
}
.window-sign-in-bottom-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 2px solid #cccccc;
  background-color: #ededed;
}
.window-sign-in-bottom-wrapper a {
  color: #a0a0a0;
}
.window-sign-in-bottom-wrapper a:hover {
  color: #b92f2f;
}
.window-sign-in-bottom-container {
  color: #a0a0a0;
  width: 720px;
  margin: auto;
}
.window-sign-in-bottom-friendly-links a {
  margin-right: 14px;
}
.window-sign-in-bottom-links {
  padding: 20px 0 24px 0;
  text-align: center;
  color: #a0a0a0;
  background-image: url('/resources/images/corporation/x3platform/x3platform.login.separate.line.png');
  background-repeat: repeat-x;
  width: 720px;
  margin: auto;
}
.window-sign-in-bottom-links span,
.window-sign-in-bottom-links a {
  margin: 0 10px 0 10px;
}
/*#endregion*/
/*#region window-sign-up-container*/
.window-sign-up-form-wrapper {
  margin: auto;
  background-color: #eee;
  padding: 8px;
}
.window-sign-up-form-wrapper a {
  color: #000;
}
.window-sign-up-form-wrapper a:hover {
  color: #b92f2f;
}
.window-sign-up-form {
  margin: auto;
  padding: 0 20px 0 20px;
  line-height: 200%;
  border: 1px solid #ccc;
  background-color: #fff;
}
.window-sign-up-form-input {
  clear: both;
}
.window-sign-up-form-wrapper span,
.window-sign-up-form-input input {
  margin-top: 15px;
  font-size: 12px;
}
.window-sign-up-form dl.form dt.input-label {
  margin-top: 10px;
  font-size: 16px;
  padding: 0 0 5px 0;
}
.window-sign-up-form dl.form dd {
  margin: 0;
}
.window-sign-up-form dl.form dd p.note {
  color: #ccc;
  line-height: 120%;
  margin-top: 4px;
}
.form-actions {
  padding-bottom: 10px;
}
.form-actions:before {
  display: table;
  content: "";
}
.form-actions:after {
  display: table;
  clear: both;
  content: "";
}
.form-actions .button-submit {
  float: right;
  margin: 0px 0 0 20px;
}
.form-actions .button-submit a {
  background-image: url(images/login_btn_cancel_bg.png);
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  background-repeat: repeat-x;
  border-color: #4a993e;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  line-height: 120%;
}
.form-actions .button-submit a:hover {
  color: #fff;
  background-image: linear-gradient(#79d858, #569e3d);
}
.form-actions .loading {
  float: right;
  margin: 0 15px 0 0;
}
.window-sign-up-form-terms-of-service {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 150%;
  padding: 4px 0 4px 0;
}
.window-sign-up-form-bottom {
  border: 1px solid #ccc;
  border-top: none;
  background-color: #f6f6f6;
  padding: 6px 10px 4px 10px;
  text-align: right;
  line-height: 200%;
}
.window-sign-up-form-bottom a {
  font-weight: bold;
  padding: 0px 10px 0px 0px;
}
/*#endregion*/
