<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>服务提供者配置信息 | 数据提供者配置信息</description>

    <!-- 任务 -->
    <object name="X3Platform.Tasks.IBLL.ITaskService"
            type="X3Platform.Tasks.BLL.TaskService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITaskProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TaskProvider"
            lazy-init="true"></object>

    <!-- 任务接收者 -->
    <object name="X3Platform.Tasks.IBLL.ITaskReceiverService"
            type="X3Platform.Tasks.BLL.TaskReceiverService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITaskReceiverProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TaskReceiverProvider"
            lazy-init="true"></object>

    <!-- 任务类别 -->
    <object name="X3Platform.Tasks.IBLL.ITaskCategoryService"
            type="X3Platform.Tasks.BLL.TaskCategoryService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITaskCategoryProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TaskCategoryProvider"
            lazy-init="true"></object>

    <!-- 历史记录 -->
    <object name="X3Platform.Tasks.IBLL.ITaskHistoryService"
            type="X3Platform.Tasks.BLL.TaskHistoryService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITaskHistoryProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TaskHistoryProvider"
            lazy-init="true"></object>

    <!-- 延迟的任务 -->
    <object name="X3Platform.Tasks.IBLL.ITimingTaskService"
            type="X3Platform.Tasks.BLL.TimingTaskService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITimingTaskProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TimingTaskProvider"
            lazy-init="true"></object>

    <!-- 延迟的任务接收者 -->
    <object name="X3Platform.Tasks.IBLL.ITimingTaskReceiverService"
            type="X3Platform.Tasks.BLL.TimingTaskReceiverService"
            lazy-init="true"></object>

    <object name="X3Platform.Tasks.IDAL.ITimingTaskReceiverProvider"
            type="X3Platform.Tasks.DAL.SQLServer.TimingTaskReceiverProvider"
            lazy-init="true"></object>
</objects>
