<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>服务提供者配置信息/数据提供者配置信息</description>

    <!-- 收藏夹 -->
    <object name="X3Platform.Plugins.Contacts.IBLL.IContactService"
            type="X3Platform.Plugins.Contacts.BLL.ContactService,X3Platform.Plugins.Contacts"
            lazy-init="true" />

    <object name="X3Platform.Plugins.Contacts.IDAL.IContactProvider"
            type="X3Platform.Plugins.Contacts.DAL.IBatis.ContactProvider,X3Platform.Plugins.Contacts"
            lazy-init="true" />

</objects>
