<!DOCTYPE html>

<html>
<head>
  <title>忘记密码-@X3Platform.Configuration.KernelConfigurationView.Instance.SystemName</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all" href="/resources/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" media="all" href="/resources/styles/default/style.css" type="text/css" />
  <link rel="shortcut icon" href="/favorite.ico" />
  <script type="text/javascript" id="jquery-script" src="/resources/scripts/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" id="bootstrap-script" src="/resources/bootstrap/js/bootstrap.min.js"></script>
  <script id="x-client-api-core-script" type="text/javascript" src="/resources/scripts/x-client-api-core.zh-cn.min.js"></script>
  <script id="crypto-sha1-script" type="text/javascript" src="/resources/scripts/crypto/rollups/sha1.js"></script>
  <script type="text/javascript" src="/views/main/account/forgot-password.js"></script>
</head>

<body>
  <div class="container">
    <div class="window-sign-up-form-wrapper" style="width:400px; margin:20px auto; border-radius:5px;">
      <div class="window-sign-up-form">
        <form id="form1" method="post" action="/account/set-password">
          <dl class="form">
            @if (ViewBag.registration == "mobile")
            {
              <dt class="input-label">手机号码</dt>
              <dd>
                <input id="mobile" name="mobile" type="text" x-dom-data-type="value" class="form-control" maxlength="100" value="" />
              </dd>
            }
            else
            {
              <dt class="input-label">电子邮箱</dt>
              <dd>
                <input id="email" name="email" type="text" x-dom-data-type="value" class="form-control" maxlength="100" value="" />
              </dd>
            }
          </dl>
          @if (ViewBag.captchaMode == "ON")
          {
            <dl class="form">
              <dt class="input-label">验证码</dt>
              <dd>
                <div class="form-inline clearfix">
                  <input id="captcha" type="text" value="" maxlength="6" x-dom-data-type="value" class="form-control pull-left" style="width:100px;" />
                  <img id="captchaImage" class="pull-left" />
                </div>
                <p class="note">填写完验证码后，点击【获取验证码】按钮，系统将会发送邮件验证码至您填写的电子邮箱，请及时查收。<p>
              </dd>
            </dl>
          }
          <dl class="form">
            @if (ViewBag.registration == "mobile")
            {
              <text>短信验证码</text>
            }
            else
            {
              <text>邮件验证码</text>
            }
            <dd>
              <div class="form-inline">
                <input id="code" name="code" type="text" value="" maxlength="6" x-dom-data-type="value" class="form-control" style="width:100px;" />
                <button id="btnVerificationCode" type="button" class="btn btn-default" style="width:130px;">获取验证码</button>
              </div>
            </dd>
          </dl>
          <p class="window-sign-up-form-terms-of-service">
            填写验证码后，单击“重置密码”，将会跳转到重置密码页面。
          </p>
          <input id="captchaMode" name="captchaMode" type="hidden" x-dom-data-type="value" value="@ViewBag.captchaMode" />
          <input id="registration" name="registration" type="hidden" x-dom-data-type="value" value="@ViewBag.registration" />
          <div class="form-actions">
            <div class="button-submit button primary"><button id="btnSubmit" type="button" class="btn btn-success">重置密码</button></div>
            <div class="loading" style="display:none;"><img src="/resources/images/loading.gif" alt="正在发送邮件..." /></div>
          </div>
        </form>
      </div>
      <div class="window-sign-up-form-bottom">
        <a href="/">返回</a>
      </div>
    </div>
  </div>
  <input id="session-client-id" name="session-client-id" type="hidden" value="@ViewBag.ClientId" />
</body>
</html>
