<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
    <description>配置信息</description>

    <object name="X3Platform.Entities.IBLL.IEntityClickService"
            type="X3Platform.Entities.BLL.EntityClickService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityClickProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityClickProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntityDocObjectService"
            type="X3Platform.Entities.BLL.EntityDocObjectService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityDocObjectProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityDocObjectProvider"
            lazy-init="true" />
    
    <object name="X3Platform.Entities.IBLL.IEntityDraftService"
            type="X3Platform.Entities.BLL.EntityDraftService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityDraftProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityDraftProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntityFeedbackService"
            type="X3Platform.Entities.BLL.EntityFeedbackService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityFeedbackProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityFeedbackProvider"
            lazy-init="true" />
    
    <object name="X3Platform.Entities.IBLL.IEntityLifeHistoryService"
            type="X3Platform.Entities.BLL.EntityLifeHistoryService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityLifeHistoryProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityLifeHistoryProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntityMetaDataService"
            type="X3Platform.Entities.BLL.EntityMetaDataService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityMetaDataProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityMetaDataProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntityOperationLogService"
            type="X3Platform.Entities.BLL.EntityOperationLogService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntityOperationLogProvider"
            type="X3Platform.Entities.DAL.IBatis.EntityOperationLogProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntitySchemaService"
            type="X3Platform.Entities.BLL.EntitySchemaService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntitySchemaProvider"
            type="X3Platform.Entities.DAL.IBatis.EntitySchemaProvider"
            lazy-init="true" />

    <object name="X3Platform.Entities.IBLL.IEntitySnapshotService"
            type="X3Platform.Entities.BLL.EntitySnapshotService"
            lazy-init="true" />

    <object name="X3Platform.Entities.IDAL.IEntitySnapshotProvider"
            type="X3Platform.Entities.DAL.IBatis.EntitySnapshotProvider"
            lazy-init="true" />
</objects>
