@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script type="text/javascript" src="/resources/scripts/app/x.app.js"></script>
<script type="text/javascript" src="/views/main/forum/assets-scripts.js"></script>
<script type="text/javascript" src="/views/main/forum/forum-thread-list.js"></script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"应用管理\应用配置管理" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header x-freeze-height">
      <span>帖子查询</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <input id="isAdminToken" name="isAdminToken" type="hidden" x-dom-data-type="value" value="@ViewBag.isAdminToken" />
      <div class="table-row-filter form-inline text-right x-freeze-height">
        <input id="query-searchText" type="text" class="form-control input-sm" style="width:140px" placeholder="标题\内容\作者" />
        <button id="btnFilter" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search" title="查询"></i></button>
      </div>
      <div id="window-main-table-container"><span class="tooltip-loading-text "><img src="/resources/images/loading.gif" alt="正在加载..." /></span></div>
    </div>
    <div id="window-main-table-footer" class="table-footer x-freeze-height"></div>
  </div>
</div>