<!-- /shared?path=wizards/application-wizard -->
@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script type="text/javascript" id="shared-wizards-application-setting-group-wizard-script" src="/views/shared/wizards/application-setting-group-wizard.js"></script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"向导组件管理\应用参数分组向导" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table-style" style="width:100%;">
    <div id="window-main-table-header" class="table-header">
      <span>应用参数分组向导</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div id="window-main-table-container">
        <div class="form-inline" style="padding:10px 10px 20px 10px;">
          <label>应用参数分组名称</label>
          <div class="input-group">
            <input id="applicationSettingGroupName" name="applicationSettingGroupName" type="text" class="form-control" />
            <input id="applicationSettingGroupId" name="applicationSettingGroupId" type="hidden" />
            <a href="javascript:x.ui.wizards.getApplicationSettingGroupWizard({targetViewName:'applicationSettingGroupName',targetValueName:'applicationSettingGroupId',applicationId:'00000000-0000-0000-0000-000000000006',applicationDisplayName:'问题跟踪'});" class="input-group-addon" title="编辑"><i class="glyphicon glyphicon-modal-window"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>