<!-- /shared?path=wizards/project-wizard -->
@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
@section scripts {
<script type="text/javascript" id="shared-wizards-corporation-wizard-script" src="/views/shared/wizards/corporation-wizard.js"></script>
}
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"向导组件管理\公司选择向导" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header">
      <span>公司选择向导</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div id="window-main-table-container">
        <div class="form-inline" style="padding:10px 10px 20px 10px;">
          <div>
            <label>公司名称</label>
            <div class="input-group">
              <input id="corporationName" name="corporationName" type="text" class="form-control" />
              <input id="corporationId" name="corporationId" type="hidden" />
              <a href="javascript:x.ui.wizards.getCorporationWizard({targetViewName:'corporationName',targetValueName:'corporationId'});" class="input-group-addon" title="编辑"><i class="glyphicon glyphicon-modal-window"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>