<!-- /shared?path=wizards/project-wizard -->
@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
@section scripts {
  <script type="text/javascript" id="shared-wizards-project-wizard-script" src="/views/shared/wizards/project-wizard.js"></script>
}
<script id="x-main" type="text/javascript">
  x.register('main.wizards.project.wizard');

  main.wizards.project.wizard = {

    /*
    * 同步组织架构数据
    */
    synchronize: function(fetchAll)
    {
      var url = '/services/X3Platform/Projects/Ajax.ProjectWrapper.aspx';

      var outString = '<?xml version="1.0" encoding="utf-8" ?>';

      outString += '<request>';
      outString += '<action><![CDATA[synchronize]]></action>';
      outString += '<fetchAll><![CDATA[' + fetchAll + ']]></fetchAll>';
      outString += '</request>';

      x.net.xhr(url, outString, {
        popResultValue: 1,
        callback: function(response)
        {
          // main.projects.home.getPages(1);
        }
      });
    },

    /*
    * 页面加载事件
    */
    load: function()
    {
      $('#resultValue').val('');
    }
  }

  $(document).ready(main.wizards.project.wizard.load);
</script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"向导组件管理\项目选择向导" } }))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table">
    <div id="window-main-table-header" class="table-header">
      <span>项目选择向导</span>
    </div>
    <div id="window-main-table-body" class="table-body">
      <div id="window-main-table-container">
        <div style="padding:10px 10px 20px 10px;">
          <div class="form-inline" style="margin-bottom:10px;">
            <label>项目名称</label>
            <div class="input-group">
              <input id="projectView" name="projectView" type="text" class="form-control" style="width:200px;" value="测试项目1;测试项目2;测试项目3" />
              <input id="projectValue" name="projectValue" type="hidden" value="project#00000000-0001#测试项目1,project#000000002#测试项目2,project#000000003#测试项目3" />
              <a href="javascript:x.ui.wizards.getProjectWizard({targetViewName:'projectView',targetValueName:'projectValue'});" class="input-group-addon" title="编辑"><i class="glyphicon glyphicon-modal-window"></i></a>
            </div>
          </div>
          <div class="form-inline">
            <label>项目名称</label>
            <input id="projectId" name="projectId" type="text" x-dom-data-type="value" x-dom-feature="project" value="44cfce8e-cd78-4e5f-b09d-256acd5b6aab" selectedtext="思晖在线学习系统" class="form-control custom-forms-data-required" style="width:420px;" dataverifywarning="必须填写【所属项目】。" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>