/****** Object:  Table [dbo].[tb_Application]    Script Date: 01/07/2011 11:11:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Application]') AND type in (N'U'))
DROP TABLE [dbo].[tb_Application]
GO
/****** Object:  Default [DF_tb_Application_ApplicationKey]    Script Date: 01/07/2011 11:11:25 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_tb_Application_ApplicationKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[tb_Application]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_tb_Application_ApplicationKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tb_Application] DROP CONSTRAINT [DF_tb_Application_ApplicationKey]
END

End
GO
/****** Object:  Table [dbo].[tb_Application]    Script Date: 01/07/2011 11:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_Application]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tb_Application](
	[Id] [nvarchar](36) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[AccountId] [nvarchar](36) COLLATE Chinese_PRC_CI_AS NULL,
	[ParentId] [nvarchar](36) COLLATE Chinese_PRC_CI_AS NULL,
	[Code] [nvarchar](30) COLLATE Chinese_PRC_CI_AS NULL,
	[ApplicationName] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ApplicationDisplayName] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[ApplicationKey] [nvarchar](36) COLLATE Chinese_PRC_CI_AS NULL,
	[ApplicationSecret] [nvarchar](36) COLLATE Chinese_PRC_CI_AS NULL,
	[Description] [nvarchar](800) COLLATE Chinese_PRC_CI_AS NULL,
	[AdministratorEmail] [nvarchar](100) COLLATE Chinese_PRC_CI_AS NULL,
	[Authority] [int] NULL,
	[IsSync] [bit] NULL,
	[ReciveUrl] [nvarchar](800) COLLATE Chinese_PRC_CI_AS NULL,
	[OrderId] [nvarchar](20) COLLATE Chinese_PRC_CI_AS NULL,
	[Status] [int] NULL,
	[Remark] [nvarchar](200) COLLATE Chinese_PRC_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Application_Configuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[tb_Application] ([Id], [AccountId], [ParentId], [Code], [ApplicationName], [ApplicationDisplayName], [ApplicationKey], [ApplicationSecret], [Description], [AdministratorEmail], [Authority], [IsSync], [ReciveUrl], [OrderId], [Status], [Remark], [ModifiedDate], [CreatedDate]) VALUES (N'00000000-0000-0000-0000-000000000001', N'00000000-0000-0000-0000-000000010033', N'00000000-0000-0000-0000-000000000000', N'0001', N'ApplicationManagement', N'应用管理', N'', N'', N'易联', N'', 1, 1, N'', NULL, 0, NULL, NULL, CAST(0x00009A1600000000 AS DateTime))
INSERT [dbo].[tb_Application] ([Id], [AccountId], [ParentId], [Code], [ApplicationName], [ApplicationDisplayName], [ApplicationKey], [ApplicationSecret], [Description], [AdministratorEmail], [Authority], [IsSync], [ReciveUrl], [OrderId], [Status], [Remark], [ModifiedDate], [CreatedDate]) VALUES (N'00000000-0000-0000-0000-000000000002', N'00000000-0000-0000-0000-000000010033', N'00000000-0000-0000-0000-000000000010', N'0002', N'Knowledge', N'知识管理', N'', N'', N'知识', N'', 1, 1, N'', NULL, 1, NULL, CAST(0x00009E5600E47557 AS DateTime), CAST(0x00009A1600000000 AS DateTime))
INSERT [dbo].[tb_Application] ([Id], [AccountId], [ParentId], [Code], [ApplicationName], [ApplicationDisplayName], [ApplicationKey], [ApplicationSecret], [Description], [AdministratorEmail], [Authority], [IsSync], [ReciveUrl], [OrderId], [Status], [Remark], [ModifiedDate], [CreatedDate]) VALUES (N'00000000-0000-0000-0000-000000000003', N'00000000-0000-0000-0000-000000010033', N'00000000-0000-0000-0000-000000000010', N'0003', N'WorkflowPlus', N'工作流管理', NULL, NULL, N'工作流', NULL, 1, 0, NULL, NULL, 1, NULL, NULL, CAST(0x00009A1600000000 AS DateTime))
/****** Object:  Default [DF_tb_Application_ApplicationKey]    Script Date: 01/07/2011 11:11:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_tb_Application_ApplicationKey]') AND parent_object_id = OBJECT_ID(N'[dbo].[tb_Application]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_tb_Application_ApplicationKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tb_Application] ADD  CONSTRAINT [DF_tb_Application_ApplicationKey]  DEFAULT (replace(lower(newid()),'-','')) FOR [ApplicationKey]
END


End
GO
