-- ================================================
-- 应用管理初始化脚本 MySQL 版 (2010-01-01)
-- ================================================

-- 创建数据库: `sys_config`
-- CREATE DATABASE `sys_config`

-- 创建表: `tb_Application`
CREATE TABLE IF NOT EXISTS `tb_Application` (
	`Id` varchar(36) NOT NULL,
	`AccountId` varchar(36) NULL,
	`ParentId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`ApplicationName` varchar(50) NULL,
	`ApplicationDisplayName` varchar(100) NULL,
	`ApplicationKey` varchar(36) NULL,
	`ApplicationSecret` varchar(50) NULL,
	`PinYin` varchar(100) NULL,
	`Description` varchar(800) NULL,
	`AdministratorEmail` varchar(100) NULL,
	`Authority` int NULL,
	`IsSync` bit NULL,
	`ReciveUrl` varchar(800) NULL,
	`ReciveFilter` varchar(400) NULL,
	`IconPath` varchar(400) NULL,
	`BigIconPath` varchar(400) NULL,
	`HelpUrl` varchar(800) NULL,
	`LicenseStatus` varchar(20) NULL,
	`Hidden` bit NULL,
	`Lock` int NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application` ADD CONSTRAINT `PK_tb_Application` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Scope`
CREATE TABLE IF NOT EXISTS `tb_Application_Scope`(
	`ApplicationId` varchar(36) NOT NULL,
	`AuthorityId` varchar(36) NOT NULL,
	`AuthorizationObjectType` varchar(20) NOT NULL,
	`AuthorizationObjectId` varchar(36) NOT NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `ApplicationId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`
ALTER TABLE `tb_Application_Scope` ADD CONSTRAINT `PK_tb_Application_Scope` PRIMARY KEY CLUSTERED (`ApplicationId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`);

-- 创建表: `tb_Application_Error`
CREATE TABLE IF NOT EXISTS `tb_Application_Error` (
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`Title` varchar(50) NULL,
	`Description` text NULL,
	`StatusCode` int NULL,
	`Lock` int NULL,
	`Tags` varchar(50) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Error` ADD CONSTRAINT `PK_tb_Application_Error` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Option`
CREATE TABLE `tb_Application_Option`(
	`ApplicationId` varchar(36) NULL,
	`Name` varchar(50) NOT NULL,
	`Value` varchar(800) NULL,
	`IsInternal` bit NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Name`
ALTER TABLE `tb_Application_Option` ADD CONSTRAINT `PK_tb_Application_Option` PRIMARY KEY CLUSTERED (`Name`);

-- 创建表: `tb_Application_SettingGroup`
CREATE TABLE IF NOT EXISTS `tb_Application_SettingGroup`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`ParentId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`Name` varchar(100) NULL,
	`DisplayName` varchar(50) NULL,
	`ContentType` int NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_SettingGroup` ADD CONSTRAINT `PK_tb_Application_SettingGroup` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Setting`
CREATE TABLE IF NOT EXISTS `tb_Application_Setting`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`ApplicationSettingGroupId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`Text` varchar(200) NULL,
	`Value` varchar(100) NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Setting` ADD CONSTRAINT `PK_tb_Application_Setting` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Method`
CREATE TABLE `tb_Application_Method`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`Name` varchar(100) NULL,
	`Description` text NULL,
	`Type` varchar(20) NULL,
	`Options` text NULL,
	`EffectScope` int NULL,
	`Version` int NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Method` ADD CONSTRAINT `PK_tb_Application_Method` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Event`
CREATE TABLE IF NOT EXISTS `tb_Application_Event`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`Tags` varchar(100) NULL,
	`Description` varchar(800) NULL,
	`StartTime` datetime NULL,
	`FinishTime` datetime NULL,
	`TimeSpan` float NULL,
	`IP` varchar(20) NULL,
	`Date` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Event` ADD CONSTRAINT `PK_tb_Application_Event` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Event`
CREATE TABLE IF NOT EXISTS `tb_Application_Event`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`Tags` varchar(100) NULL,
	`Description` varchar(800) NULL,
	`StartTime` datetime NULL,
	`FinishTime` datetime NULL,
	`TimeSpan` float NULL,
	`IP` varchar(20) NULL,
	`Date` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Event` ADD CONSTRAINT `PK_tb_Application_Event` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Feature`
CREATE TABLE `tb_Application_Feature`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`ParentId` varchar(36) NULL,
	`Code` varchar(10) NULL,
	`Name` varchar(50) NULL,
	`DisplayName` varchar(50) NULL,
	`Type` varchar(20) NULL,
	`Url` varchar(800) NULL,
	`Target` varchar(20) NULL,
	`IconPath` varchar(400) NULL,
	`BigIconPath` varchar(400) NULL,
	`HelpUrl` varchar(800) NULL,
	`AuthorizationReadScopeObjectText` text NULL,
	`Hidden` bit NULL,
	`EffectScope` int NULL,
	`TreeViewScope` int NULL,
	`Lock` int NULL,
	`OrderId` varchar(20) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Feature` ADD CONSTRAINT `PK_tb_Application_Feature` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_FeatureDateLimit`
CREATE TABLE `tb_Application_FeatureDateLimit`(
	`Id` varchar(36) NOT NULL,
	`BeginDate` datetime NULL,
	`EndDate` datetime NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_FeatureDateLimit` ADD CONSTRAINT `PK_tb_Application_FeatureDateLimit` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Feature_Scope`
CREATE TABLE `tb_Application_Feature_Scope`(
	`EntityId` varchar(36) NOT NULL,
	`EntityClassName` varchar(400) NULL,
	`AuthorityId` varchar(36) NOT NULL,
	`AuthorizationObjectType` varchar(20) NOT NULL,
	`AuthorizationObjectId` varchar(36) NOT NULL
);

-- 设置主键: `EntityId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`
ALTER TABLE `tb_Application_Feature_Scope` ADD CONSTRAINT `PK_tb_Application_Feature_Scope` PRIMARY KEY CLUSTERED (`EntityId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`);

-- 创建表: `tb_Application_Menu`
CREATE TABLE `tb_Application_Menu`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`ParentId` varchar(36) NULL,
	`Code` varchar(30) NULL,
	`Name` varchar(100) NULL,
	`Description` varchar(200) NULL,
	`Url` varchar(800) NULL,
	`Target` varchar(20) NULL,
	`MenuType` varchar(30) NULL,
	`IconPath` varchar(400) NULL,
	`BigIconPath` varchar(400) NULL,
	`DisplayType` varchar(20) NULL,
	`HasChild` int NULL,
	`ContextObject` varchar(200) NULL,
	`OrderId` varchar(50) NULL,
	`Status` int NULL,
	`Remark` varchar(200) NULL,
	`FullPath` varchar(800) NULL,
	`UpdateDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Menu` ADD CONSTRAINT `PK_tb_Application_Menu` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_Feature`
CREATE TABLE `tb_Application_Menu_Scope`(
	`EntityId` varchar(36) NOT NULL,
	`EntityClassName` varchar(400) NULL,
	`AuthorityId` varchar(36) NOT NULL,
	`AuthorizationObjectType` varchar(20) NOT NULL,
	`AuthorizationObjectId` varchar(36) NOT NULL
);

-- 设置主键: `EntityId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`
ALTER TABLE `tb_Application_Menu_Scope` ADD CONSTRAINT `PK_tb_Application_Menu_Scope` PRIMARY KEY CLUSTERED (`EntityId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`);

-- 创建表: `tb_Application_Option`
CREATE TABLE `tb_Application_Package`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`Direction` varchar(20) NULL,
	`Code` int NULL,
	`ParentCode` int NULL,
	`Type` varchar(50) NULL,
	`Path` varchar(800) NULL,
	`BeginDate` datetime NULL,
	`EndDate` datetime NULL,
	`CreateDate` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_Package` ADD CONSTRAINT `PK_tb_Application_Package` PRIMARY KEY CLUSTERED (`Id`);

-- 创建表: `tb_Application_PackageLog`
CREATE TABLE `tb_Application_PackageLog`(
	`Id` varchar(36) NOT NULL,
	`ApplicationId` varchar(36) NULL,
	`PackageCode` int NULL,
	`Success` bit NULL,
	`Message` text NULL,
	`Date` datetime NULL
);

-- 设置主键: `Id`
ALTER TABLE `tb_Application_PackageLog` ADD CONSTRAINT `PK_tb_Application_PackageLog` PRIMARY KEY CLUSTERED (`Id`);

-- tb_Application

INSERT `tb_Application_Scope` (`ApplicationId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`, `UpdateDate`, `CreateDate`) VALUES ('00000000-0000-0000-0000-000000000000', '00000000-0000-0000-0000-000000001001', 'Account', '00000000-0000-0000-0000-000000100000', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Scope` (`ApplicationId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`, `UpdateDate`, `CreateDate`) VALUES ('00000000-0000-0000-0000-000000000004', '00000000-0000-0000-0000-000000001001', 'Account', '00000000-0000-0000-0000-000000001001', NULL, NULL);
INSERT `tb_Application_Scope` (`ApplicationId`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`, `UpdateDate`, `CreateDate`) VALUES ('00000000-0000-0000-0000-000000000004', '00000000-0000-0000-0000-000000001001', 'Account', '00000000-0000-0000-0000-000000100008', NULL, NULL);

-- tb_Application_Option
INSERT `tb_Application_Option` (`ApplicationId`, `Name`, `Value`, `IsInternal`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('', 'ApplicationClientId', '8ffdec2a3a2c406482800aebd86de17c', 1, '', 1, '内置客户端的标识', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Option` (`ApplicationId`, `Name`, `Value`, `IsInternal`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('', 'ApplicationClientSecret', '19af94', 1, '', 1, '内置客户端的 Secret', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Option` (`ApplicationId`, `Name`, `Value`, `IsInternal`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('', 'ApplicationHomePage', '/apps/pages/default.aspx', 1, '1001', 1, '应用默认主页', '2000-01-01', '2000-01-01');

-- tb_Application_Method
INSERT `tb_Application_Method` (`Id`, `ApplicationId`, `Code`, `Name`, `Description`, `Type`, `Options`, `EffectScope`, `Version`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('01-01-17-E01-M01', '5079360f-ceed-496b-8a5e-a121c5ad7461', '01-01-17-E01-M01', 'kernel.digitalNumber.generate', '', 'generic', '{className:"X3Platform.DigitalNumber.Ajax.DigitalNumberWrapper,X3Platform.Apps",methodName:"Generate"}', 1, 1, '10001', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Method` (`Id`, `ApplicationId`, `Code`, `Name`, `Description`, `Type`, `Options`, `EffectScope`, `Version`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('01-01-E01-M01', '00000000-0000-0000-0000-000000000001', '01-01-E01-M01', 'kernel.security.authority.query', '', 'generic', '{className:"X3Platform.Security.Authority.Ajax.AuthorityWrapper,X3Platform",methodName:"GetPages"}', 1, 1, '10001', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Method` (`Id`, `ApplicationId`, `Code`, `Name`, `Description`, `Type`, `Options`, `EffectScope`, `Version`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('01-01-E01-M02', '00000000-0000-0000-0000-000000000001', '01-01-E01-M02', 'kernel.security.authority.findOne', '', 'generic', '{className:"X3Platform.Security.Authority.Ajax.AuthorityWrapper,X3Platform",methodName:"FindOne"}', 1, 1, '10001', 1, '', '2000-01-01', '2000-01-01');

-- tb_Application_Error
INSERT `tb_Application_Error` (`Id`, `ApplicationId`, `Code`, `Title`, `Description`, `StatusCode`, `Lock`, `Tags`, `UpdateDate`, `CreateDate`) VALUES ('401', '00000000-0000-0000-0000-000000000000', '401', '噢，系统找到相关数据内容，但是未授权给你查阅权限，请联系数据拥有者。', '<ul><li>直接复制粘贴的地址;</li><li>没有相关内容的查看权限;</li><li>请求的内容正在审核中或者被禁止查阅;</li></ul>', 401, 1, '常见错误', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Error` (`Id`, `ApplicationId`, `Code`, `Title`, `Description`, `StatusCode`, `Lock`, `Tags`, `UpdateDate`, `CreateDate`) VALUES ('404', '00000000-0000-0000-0000-000000000000', '404', '哎呀，系统经过努力的查找，居然没找到相关的内容。', '<ul><li>请求的内容不存在;</li><li>请求的内容正在审核中或者被禁止查阅;</li><li>请求的内容已被删除;</li></ul>', 404, 1, '常见错误', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Error` (`Id`, `ApplicationId`, `Code`, `Title`, `Description`, `StatusCode`, `Lock`, `Tags`, `UpdateDate`, `CreateDate`) VALUES ('500', '00000000-0000-0000-0000-000000000000', '500', '哟，系统正在思考人生。。。', '<ul><li>系统发生内部错误;</li><li>发送的请求过多，系统忙不过来了，请稍候再试;</li></ul>', 500, 1, '常见错误', '2000-01-01', '2000-01-01');

-- tb_Application_Menu
INSERT `tb_Application_Menu` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `Description`, `Url`, `Target`, `MenuType`, `IconPath`, `BigIconPath`, `DisplayType`, `HasChild`, `ContextObject`, `OrderId`, `Status`, `Remark`, `FullPath`, `UpdateDate`, `CreateDate`) VALUES ('03a5a3d6-5d1d-4bbc-857e-474fdf601775', 'e3bf3960-101e-4377-bf1f-c2a6979a8fbc', '00000000-0000-0000-0000-000000000000', '100025', '流程设置', '流程设置', '/apps/pages/survey/survey-workflow-template-list.aspx', '_self', 'ApplicationMenu', '', '', 'MenuItem', 0, '', '10010', 1, '', '问卷调查\流程设置', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Menu` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `Description`, `Url`, `Target`, `MenuType`, `IconPath`, `BigIconPath`, `DisplayType`, `HasChild`, `ContextObject`, `OrderId`, `Status`, `Remark`, `FullPath`, `UpdateDate`, `CreateDate`) VALUES ('03e23eaa-7c13-416a-8505-0ff2a7b6f3a0', 'df45ddaa-b9f4-49ef-bb32-07c8f0a83b90', '00000000-0000-0000-0000-000000000000', '100037', '提交表单', '提交表单', '/apps/pages/custom-forms/custom-form-template-launcher.aspx', '_self', 'ApplicationMenu', '', '', 'MenuItem', 0, '', '10002', 1, '', '表单管理\提交表单', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Menu` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `Description`, `Url`, `Target`, `MenuType`, `IconPath`, `BigIconPath`, `DisplayType`, `HasChild`, `ContextObject`, `OrderId`, `Status`, `Remark`, `FullPath`, `UpdateDate`, `CreateDate`) VALUES ('047cb199-c281-42ca-9264-45a69b507e73', '4c65fa99-82e3-4c49-a97a-07a6344c13f3', '00000000-0000-0000-0000-000000000000', '100018', '发布新的帖子', '发布新的帖子', '/apps/pages/forum/forum-thread-form.aspx', '_blank', 'ApplicationMenu', '', '', 'MenuItem', 0, '', '10002', 1, '', '论坛管理\发布新的帖子', '2000-01-01', '2000-01-01');

-- tb_Application_Scope
INSERT `tb_Application_Menu_Scope` (`EntityId`, `EntityClassName`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`) VALUES ('03a5a3d6-5d1d-4bbc-857e-474fdf601775', 'X3Platform.Apps.Model.ApplicationMenuInfo, X3Platform.Apps', '00000000-0000-0000-0000-000000000001', 'Role', '00000000-0000-0000-0000-000000000000');
INSERT `tb_Application_Menu_Scope` (`EntityId`, `EntityClassName`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`) VALUES ('03e23eaa-7c13-416a-8505-0ff2a7b6f3a0', 'X3Platform.Apps.Model.ApplicationMenuInfo, X3Platform.Apps', '00000000-0000-0000-0000-000000000001', 'Role', '00000000-0000-0000-0000-000000000000');
INSERT `tb_Application_Menu_Scope` (`EntityId`, `EntityClassName`, `AuthorityId`, `AuthorizationObjectType`, `AuthorizationObjectId`) VALUES ('047cb199-c281-42ca-9264-45a69b507e73', 'X3Platform.Apps.Model.ApplicationMenuInfo, X3Platform.Apps', '00000000-0000-0000-0000-000000000001', 'Role', '00000000-0000-0000-0000-000000000000');

-- tb_Application_SettingGroup
INSERT `tb_Application_SettingGroup` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `DisplayName`, `ContentType`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('1043554a-c6bf-4cf9-870e-1e0019809589', '4d946db8-2be7-40f3-9cdf-8e8bb30a09c5', '00000000-0000-0000-0000-000000000000', '100001', '应用管理_协同平台_新闻管理_文档状态管理', '文档状态管理', 0, '', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_SettingGroup` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `DisplayName`, `ContentType`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('106a2a41-94f7-4f23-a310-b8a7db9691b5', '00000000-0000-0000-0000-000000000003', '00000000-0000-0000-0000-000000000000', '100036', '应用管理_协同平台_工作流管理_业务对象管理', '业务对象管理', 0, '10003', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_SettingGroup` (`Id`, `ApplicationId`, `ParentId`, `Code`, `Name`, `DisplayName`, `ContentType`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('12a0f106-c192-4401-becd-0e157ebc27cc', '00000000-0000-0000-0000-000000000009', '00000000-0000-0000-0000-000000000000', '100035', '应用管理_协同平台_项目管理_项目状态', '项目状态', NULL, '1', 1, '', '2000-01-01', '2000-01-01');

-- tb_Application_Setting
INSERT `tb_Application_Setting` (`Id`, `ApplicationId`, `ApplicationSettingGroupId`, `Code`, `Text`, `Value`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('00f9bd39-549c-4ecb-8b3a-5e77624e7367', '00000000-0000-0000-0000-000000000001', '1ed555f3-824c-465d-82a9-c3457295103e', '100020', '顶部菜单', 'TopMenu', '0002', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Setting` (`Id`, `ApplicationId`, `ApplicationSettingGroupId`, `Code`, `Text`, `Value`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('044a5d98-0dd6-4ee8-ae93-128aa882825e', '00000000-0000-0000-0000-000000000003', 'ec4f9c29-3119-46b7-ba2b-55d09f96b001', '100042', '小于等于', '=<', '10003', 1, '', '2000-01-01', '2000-01-01');
INSERT `tb_Application_Setting` (`Id`, `ApplicationId`, `ApplicationSettingGroupId`, `Code`, `Text`, `Value`, `OrderId`, `Status`, `Remark`, `UpdateDate`, `CreateDate`) VALUES ('047f8feb-31b4-47d2-93e7-c71b9d6ac24a', '00000000-0000-0000-0000-000000000009', '12a0f106-c192-4401-becd-0e157ebc27cc', '100050', '集成测试', '3', '0004', 1, '', '2000-01-01', '2000-01-01');
