@{
    Layout = "~/views/templates/themes/genius/render.cshtml";
}
<script id="x-main" type="text/javascript" >
    x.require({ files: [
        { fileType: 'script', id: 'x-client-api-template-script', path: x.dir() + 'x-client-api-template.zh-cn.js' },
        { fileType: 'script', id: 'x-client-api-ui-script', path: x.dir() + 'x-client-api-ui.zh-cn.js' },
        { fileType: 'script', id: 'x-ui-pkg-tabs-script', path: x.ui.pkg.dir() + 'x.ui.pkg.tabs.js' },
        { fileType: 'script', id: 'x-ui-pkg-tree-script', path: x.ui.pkg.dir() + 'x.ui.pkg.tree.js' },
        { fileType: 'script', id: 'x-app-script', path: x.dir() + 'app/x.app.js' },
        { fileType: 'script', id: 'shared-wizards-application-wizard-script', path: '/views/shared/wizards/application-wizard.js' },
        { fileType: 'script', id: 'shared-wizards-contacts-wizard-script', path: '/views/shared/wizards/contacts-wizard.js' },
        { fileType: 'script', id: 'main-applications-home-script', path: '/views/main/applications/application-method-list.js' }
    ]});
</script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"应用管理\应用方法管理" } }))
<div id="window-container" class="window-container">
    <div id="window-main-table" class="table">
        <div id="window-main-table-header" class="table-header x-freeze-height">
            <span>应用方法管理</span>
        </div>
        <div id="window-main-table-body" class="table-body">
            <table class="table table-nopadding">
                <tr>
                    <td class="table-sidebar">
                        <div id="window-main-table-sidebar">
                            <div class="table-sidebar-search form-inline">
                                <input id="searchText" type="text" value="" class="table-sidebar-search-text form-control input-sm" /> 
                                <button id="btnFilter" class="btn btn-default btn-sm" title="查询"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                            <div id="treeViewContainer" class="table-sidebar-tree-view"></div>
                        </div>
                    </td>
                    <td>
                        <div id="window-main-table-container"><span class="tooltip-loading-text "><img src="/resources/images/loading.gif" alt="正在加载..." /></span></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="window-main-table-footer" class="table-footer x-freeze-height"></div>
    </div>
</div>