<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The storages application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
    <!-- storages configuration begin -->
    <storages>
        <keys>
            <!-- Spring.NET : 配置文件 -->
            <add name="SpringObjectFile" value="config\X3Platform.Storages.Spring.config" />
            <!-- IBatis : 配置映射文件 -->
            <add name="IBatisMapping" value="config\X3Platform.Storages.IBatis.SqlMap.config" />
        </keys>
    </storages>
    <!-- storages configuration end -->
</configuration>