<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
        <section name="system.x.kernel" type="Elane.X.Configuration.KernelConfigurationSectionHandler, Elane.X"/>
    </configSections>
    <cachingConfiguration defaultCacheManager="Cache Manager">
        <cacheManagers>
            <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
        </cacheManagers>
        <backingStores>
            <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage"/>
        </backingStores>
    </cachingConfiguration>
    <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
        <listeners>
            <add databaseInstanceName="ConnectionString" writeLogStoredProcName="Data_Logging_Log_InsertObject" addCategoryStoredProcName="Data_Logging_Category_InsertObject" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" name="Database Trace Listener"/>
        </listeners>
        <formatters>
            <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
        </formatters>
        <logFilters>
            <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category">
                <categoryFilters>
                    <add name="UI Events"/>
                </categoryFilters>
            </add>
            <add minimumPriority="2" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority"/>
            <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="LogEnabled Filter"/>
        </logFilters>
        <categorySources>
            <add switchValue="All" name="Data Access Events">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Debug">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Trace">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="Troubleshooting">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
            <add switchValue="All" name="UI Events">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Database Trace Listener"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>

    <dataConfiguration defaultDatabase="ConnectionString"/>

    <system.x.kernel>
        <!-- 系统名称 -->
        <key name="SystemName" value="系统框架设计" />
        <!-- 应用服务器名称 -->
        <key name="HostName" value="http://x.workspace.com" />
        <!-- 静态文件服务器名称 -->
        <key name="StaticFileHostName" value="http://x.workspace.com" />
        <!-- 域名称 -->
        <key name="Domain" value="longhu.net" />
        <!-- 版本 -->
        <key name="Version" value="1.0.0.0" />
        <!-- 作者 -->
        <key name="Author" value="Elane" />
        <!-- 管理员邮箱 -->
        <key name="WebmasterEmail" value="ruany@chinalmtc.com" />
        <!-- 应用程序的根目录 -->
        <key name="ApplicationPathRoot" value="E:\Workspace\Elane.X\trunk\WebSite\1.0.0\" />
        <!-- 数据库的服务器地址 -->
        <key name="DatabaseSettings.DataSource" value="(local)" />
        <!-- 数据库的应用数据库名称 -->
        <key name="DatabaseSettings.Database" value="Elane.X.longfor.uc" />
        <!-- 数据库的登录帐号 -->
        <key name="DatabaseSettings.LoginName" value="sa" />
        <!-- 数据库的登录密码 -->
        <key name="DatabaseSettings.Password" value="sa" />
        <!-- 数据库的SQL配置文件地址 -->
        <key name="DatabaseSettings.IBatisSqlMapFilePathRoot" value="${ApplicationPathRoot}config\" />
        <!-- 同步更新包文件夹根目录位置 -->
        <key name="Membership.PackageStoragePathRoot" value="D:\Elane.X.Applications\packages\" />
        <!-- 同步更新包输出时使用的 ApplicationId -->
        <key name="Membership.PackageStorageOutputApplicationId" value="4208f057-ec87-4293-842d-1cac3c6da827" />
        <!-- Active Directory 集成模式 On | Off(默认) -->
        <key name="ActiveDirectory.IntegratedMode" value="On" />
        <!-- Active Directory 域 -->
        <key name="ActiveDirectory.Domain" value="junfagroup.com" />
        <!-- Active Directory 邮箱的后缀域名 -->
        <key name="ActiveDirectory.SuffixEmailDomain" value="@www.junfagroup.com" />
        <!-- Active Directory 对象唯一名称的后缀 -->
        <key name="ActiveDirectory.SuffixDistinguishedName" value=",DC=junfagroup,DC=com" />
        <!-- Active Directory LDAP Path -->
        <key name="ActiveDirectory.LDAPPath" value="LDAP://192.168.4.217/DC=junfagroup,DC=com" />
        <!-- Active Directory 登录名 -->
        <key name="ActiveDirectory.LoginName" value="junfagroup\mossadmin" />
        <!-- Active Directory 密码 -->
        <key name="ActiveDirectory.Password" value="pass@jf1" />
        <!-- Active Directory 公司组织存放的根目录 (包括角色) -->
        <key name="ActiveDirectory.CorporationOrganizationFolderRoot" value="组织结构" />
        <!-- Active Directory 公司用户存放的根目录 -->
        <key name="ActiveDirectory.CorporationUserFolderRoot" value="组织用户" />
        <!-- Active Directory 公司群组存放的根目录 -->
        <key name="ActiveDirectory.CorporationGroupFolderRoot" value="常用群组" />
        <!-- Active Directory 公司角色存放的根目录 (非组织结构中的角色数据) -->
        <key name="ActiveDirectory.CorporationRoleFolderRoot" value="通用岗位" />
        <!-- 应用测试路径根目录 -->
        <key name="MSTestPathRoot" value="E:\Workspace\Elane.X\trunk\ActiveDirectory\ActiveDirectory.TestSuite\"/>
    </system.x.kernel>

    <appSettings>
        <add key="fullConfigPath" value="E:\Workspace\Elane.X\trunk\ActiveDirectory\ActiveDirectory\config\Elane.X.ActiveDirectory.config"/>
    </appSettings>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=Elane.X.longfor.uc;uid=sa;pwd=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
