<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging" />
        </sectionGroup>
        <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
        <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support" />
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="X3Platform.Logging.LoggerFactoryAdapter,X3Platform.Support">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <logging>
        <root>
            <!-- [DEBUG < INFO < WARN < ERROR < FATAL] -->
            <level value="DEBUG" />
            <appender-ref ref="FirePHPAppender" />
            <appender-ref ref="RollingFileAppender" />
        </root>

        <!-- 定义输出到控制台命令行中 -->
        <appender name="FirePHPAppender" type="X3Platform.Logging.Appender.FirePHPAppender">
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <conversionPattern value="%date{yyyy-MM-dd HH:mm.ss.fff} %-5level %logger - %message" />
            </layout>
        </appender>

        <!-- 日志配置 -->
        <appender name="RollingFileAppender" type="X3Platform.Logging.Appender.RollingFileAppender">
            <!--定义文件存放位置-->
            <file value="${ApplicationPathRoot}..\logs\" />
            <appendToFile value="true" />
            <maximumFileSize value="20MB" />
            <maxSizeRollBackups value="100" />
            <staticLogFileName value="false" />
            <datePattern value="\\yyyyMM\\yyyyMMdd&quot;.txt&quot;" />
            <rollingStyle value="Composite" />
            <layout type="X3Platform.Logging.Layout.PatternLayout">
                <conversionPattern value="记录时间: %date{yyyy-MM-dd HH:mm:ss.fff}%n所属线程: %thread%n日志来源: %logger%n日志级别: %-5level%n详细描述: %n%message%n------------------------------------------------------------------------------%n" />
            </layout>
        </appender>
    </logging>
    <!-- kernel configuration begin -->
    <kernel>
        <key name="SystemName" value="测试系统X10"/>
        <key name="Domain" value="x3platform.com"/>
        <key name="HostName" value="http://x10.fx.x3platform.com"/>
        <key name="DatabaseSettings.DataSource" value="localhost"/>
        <key name="DatabaseSettings.Database" value="{test}"/>
        <key name="DatabaseSettings.LoginName" value="root"/>
        <key name="DatabaseSettings.Password" value="root"/>
        <key name="DatabaseSettings.IBatisSqlMapFilePathRoot" value="${ApplicationPathRoot}\config\"/>
    </kernel>
    <!-- kernel configuration end -->

    <connectionStrings></connectionStrings>

    <appSettings></appSettings>

    <system.web>
        <!--
        /*
         * set http module.
         */ -->
        <httpModules>
        </httpModules>
        <!--
        /*
         * set http handler.
         *
         */ -->
        <httpHandlers>
            <add verb="*" path="*.aspx" type="X3Platform.Web.UrlRewriter.RewriterFactoryHandler,X3Platform.Support" />
        </httpHandlers>
        <!--
        /*
         * compile
         */
        -->
        <compilation debug="true" defaultLanguage="c#">
            <assemblies>
                <add assembly="*" />
            </assemblies>
        </compilation>
        <trace enabled="true" traceMode="SortByCategory" requestLimit="40" pageOutput="false" localOnly="true"/>
        <!--
        /*
         * authentication
         */
         -->
        <authentication mode="Windows"/>
        <!--
        /*
         * customErrors
         */
        -->
        <customErrors mode="Off"/>
        <!--
        /*
         * pages
         */
        -->
        <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
        <!--
        /*
         * globalization
         */
        -->
        <globalization culture="auto:zh-CN" uiCulture="auto:zh-CN" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
