<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging" />
    </sectionGroup>
    <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
    <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="X3Platform.Logging.LoggerFactoryAdapter,X3Platform.Support">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <logging>
    <root>
      <!-- [Levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF] -->
      <level value="DEBUG" />
      <appender-ref ref="FirePHPAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <!-- 定义输出到控制台命令行中 -->
    <appender name="FirePHPAppender" type="X3Platform.Logging.Appender.FirePHPAppender">
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm.ss.fff} %-5level %logger - %message" />
      </layout>
    </appender>

    <!-- 日志配置 -->
    <appender name="RollingFileAppender" type="X3Platform.Logging.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="${ApplicationPathRoot}logs\" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <maximumFileSize value="2MB" />
      <maxSizeRollBackups value="100" />
      <staticLogFileName value="false" />
      <datePattern value="\\yyyy\\MM\\dd&quot;.txt&quot;" />
      <rollingStyle value="Composite" />
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%5level %date{yyyy-MM-dd HH:mm:ss.fff} thread: [%thread] source: [%logger] description: %message%n" />
      </layout>
    </appender>
  </logging>
  <kernel>
    <!-- 系统名称 -->
    <key name="SystemName" value="演示系统 v1.0" />
    <!-- 系统状态 Debug | Release -->
    <key name="SystemStatus" value="Debug"/>
    <!-- 应用服务器名称 -->
    <key name="HostName" value="http://local.x3platform.com" />
    <!-- 应用所属的域信息 -->
    <key name="Domain" value="x3platform.com"/>
    <!-- 数据库的服务器地址 -->
    <key name="DatabaseSettings.DataSource" value="localhost" />
    <!-- 数据库的默认数据库名称 -->
    <key name="DatabaseSettings.Database" value="{database}"/>
    <!-- 数据库的登录帐号 -->
    <key name="DatabaseSettings.LoginName" value="{loginName}"/>
    <!-- 数据库的登录密码 -->
    <key name="DatabaseSettings.Password" value="{password}"/>
  </kernel>
  <system.web>
    <!--
        /*
         * set http module.
         */ -->
    <httpModules>
    </httpModules>
    <!--
        /*
         * set http handler.
         *
         */ 
         -->
    <httpHandlers>
      <add verb="*" path="*.aspx" type="X3Platform.Web.UrlRewriter.RewriterFactoryHandler,X3Platform.Support" />
    </httpHandlers>
    <!--
        /*
         * compile
         */
        -->
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="*" />
      </assemblies>
    </compilation>
    <trace enabled="true" traceMode="SortByCategory" requestLimit="40" pageOutput="false" localOnly="true"/>
    <!--
        /*
         * authentication
         */
         -->
    <authentication mode="Windows"/>
    <!--
        /*
         * customErrors
         */
        -->
    <customErrors mode="Off"/>
    <!--
        /*
         * pages
         */
        -->
    <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--
        /*
         * globalization
         */
        -->
    <globalization culture="auto:zh-CN" uiCulture="auto:zh-CN" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--
        /*
         * httpRuntime
         * 设置最大请求数据大小50MB, 执行超时时间为600秒
         */
        -->
    <httpRuntime maxRequestLength="512000" executionTimeout="600" requestValidationMode="2.0" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
