<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The spring application block configuration file.
     *
     * Update : 2009.03.10
     */     
-->
<configuration>
    <!-- spring configuration begin -->
    <spring>
        <keys>
            <add name="DataSourceName" value="ConnectionString" />
        </keys>
        <files>
            <add name="X3Platform.Spring.Objects.config" value="${ApplicationPathRoot}config\X3Platform.Spring.Objects.config" />
            <!--
            <add name="X3Platform.Apps.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Apps.Spring.config" />
            <add name="X3Platform.DigitalNumber.Spring.config" value="${ApplicationPathRoot}config\X3Platform.DigitalNumber.Spring.config" />
            <add name="X3Platform.Entities.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Entities.Spring.config" />
            <add name="X3Platform.Membership.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Membership.Spring.config" />
            <add name="X3Platform.Membership.AccumulatePoint.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Membership.AccumulatePoint.Spring.config" />
            <add name="X3Platform.Membership.HumanResources.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Membership.HumanResources.Spring.config" />
            <add name="X3Platform.Navigation.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Navigation.Spring.config" />
            <add name="X3Platform.Web.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Web.Spring.config" />
            <add name="X3Platform.Tasks.Spring.config" value="${ApplicationPathRoot}config\X3Platform.Tasks.Spring.config" />-->
        </files>
    </spring>
    <!-- spring configuration end -->
</configuration>