<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <description>配置信息</description>

  <!-- 帐号验证 -->
  <object id="X3Platform.Security.Authentication.IAuthenticationManagement"
          type="X3Platform.Membership.Authentication.HttpAuthenticationManagement,X3Platform.Membership"
          lazy-init="true" />

  <!-- 邮箱 -->
  <object id="X3Platform.Email.Client.IEmailClientProvider"
          type="X3Platform.Email.Client.EmailClientProvider"
          lazy-init="true" />

  <!-- 缓存 -->
  <object id="X3Platform.CacheBuffer.ICacheBufferProvider"
          type="X3Platform.CacheBuffer.DAL.Memory.CacheBufferProvider,X3Platform.Support"
          lazy-init="true" />

  <!-- 插件 -->
  <object id="X3Platform.Plugins.IBLL.IPluginService"
          type="X3Platform.Plugins.BLL.PluginService"
          lazy-init="true" />

  <object id="X3Platform.Plugins.IDAL.IPluginProvider"
          type="X3Platform.Plugins.DAL.MySQL.PluginProvider"
          lazy-init="true" />

  <!-- 数字流水号 -->
  <object id="X3Platform.DigitalNumber.IBLL.IDigitalNumberService"
          type="X3Platform.DigitalNumber.BLL.DigitalNumberService"
          lazy-init="true"></object>

  <object id="X3Platform.DigitalNumber.IDAL.IDigitalNumberProvider"
          type="X3Platform.DigitalNumber.DAL.MySQL.DigitalNumberProvider"
          lazy-init="true"></object>
</objects>
