<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The email client application block configuration file.
     *
     * Update : 2010.01.01
     *
     * stmp host 
     *
     * smtp.exmail.qq.com
     *
     */
-->
<configuration>
  <!-- email client configuration begin -->
  <email.client>
    <smtp>
      <!-- 地址 -->
      <host value="smtp.exmail.qq.com" />
      <!-- 端口 -->
      <port value="25" />
      <!-- 启用SSL -->
      <enableSsl value="true" />
      <!-- 控制 DefaultCredentials 是否随请求一起发送 -->
      <useDefaultCredentials value="false" />
      <!-- 帐户 -->
      <username value="service@x3platform.com" />
      <!-- 密码 -->
      <password value="hhxx,ttxs!" />
      <!-- 默认发送邮件的邮箱地址 -->
      <defaultSenderEmailAddress value="service@x3platform.com" />
    </smtp>
  </email.client>
  <!-- email client configuration end -->
</configuration>