<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The velocity application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <!-- velocity configuration begin -->
  <velocity>
    <keys>
      <add name="TemplateCacheMode" value="Off" />
      <add name="TemplatePath" value="${ApplicationPathRoot}views\templates" />
    </keys>
  </velocity>
  <!-- velocity configuration end -->
</configuration>