<?xml version="1.0" encoding="utf-8"?>
<!--
    /*
     * The web apis application block configuration file.
     *
     * Update : 2010.01.01
     */
-->
<configuration>
  <!-- web apis configuration begin -->
  <web.apis>
    <!-- API 类型定义 -->
    <types>
      <type>
        <name>rest</name>
        <className>X3Platform.Web.APIs.Methods.RESTMethod,X3Platform.Web.APIs</className>
      </type>
      <type>
        <name>ws</name>
        <className>X3Platform.Web.APIs.Methods.WebServiceMethod,X3Platform.Web.APIs</className>
      </type>
    </types>
    <!-- home setting begin -->
    <api>
      <name value="method1" />
      <description><![CDATA[测试方法1]]></description>
      <className><![CDATA[Test1]]></className>
      <methodName><![CDATA[Test1]]></methodName>
    </api>
    <api>
      <name ><![CDATA[method2]]></name>
      <description><![CDATA[测试方法2]]></description>
      <className value="X3Platform.Web.Controllers.APIController,X3Platform.WebSiteV10" />
      <methodName><![CDATA[Test1]]></methodName>
    </api>
    <api>
      <name ><![CDATA[method3]]></name>
      <description><![CDATA[测试方法2]]></description>
      <className value="X3Platform.Web.Controllers.API12Controller,X3Platform.WebSiteV10" />
      <methodName><![CDATA[Test1]]></methodName>
    </api>
    <api>
      <name><![CDATA[contacts.findAll]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Plugins.Contacts.Ajax.ContactWrapper,X3Platform.Plugins.Contacts]]></className>
      <methodName><![CDATA[FindAll]]></methodName>
    </api>
    <api>
      <name><![CDATA[contacts.findOne]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Plugins.Contacts.Ajax.ContactWrapper,X3Platform.Plugins.Contacts]]></className>
      <methodName><![CDATA[FindOne]]></methodName>
    </api>
    <api>
      <name><![CDATA[contacts.createNewObject]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Plugins.Contacts.Ajax.ContactWrapper,X3Platform.Plugins.Contacts]]></className>
      <methodName><![CDATA[CreateNewObject]]></methodName>
    </api>
    <api>
      <name><![CDATA[contacts.save]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Plugins.Contacts.Ajax.ContactWrapper,X3Platform.Plugins.Contacts]]></className>
      <methodName><![CDATA[Save]]></methodName>
    </api>
    <api>
      <name><![CDATA[connect.auth.authorize]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Connect.Ajax.ConnectAuthWrapper,X3Platform.Connect.Mixed]]></className>
      <methodName><![CDATA[GetAuthorizeCode]]></methodName>
    </api>
    <!-- admins -->
    <api>
      <name><![CDATA[admins.admin.auth]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Admins.Ajax.AdminWrapper,X3Platform.Admins]]></className>
      <methodName><![CDATA[Auth]]></methodName>
    </api>
    <api>
      <name><![CDATA[kernel.drawing.captcha.create]]></name>
      <description><![CDATA[]]></description>
      <className><![CDATA[X3Platform.Drawing.Captcha.Web.Ajax.CaptchaWrapper,X3Platform.Drawing.Captcha]]></className>
      <methodName><![CDATA[CreateNewObject]]></methodName>
    </api>
  </web.apis>
  <!-- web apis configuration end -->
</configuration>
