<?xml version="1.0" encoding="utf-8" ?>
<!--
    /*
     * The ajax application block configuration file.
     *
     * Update : 2010.01.01
     */     
-->
<configuration>
  <ajax>
    <keys>
      <!-- 命名规则 Camel 驼峰命名规则 首字母小写其余单词的首字母大写 | Underline 下划线命名规则 所有字母小写加下划线分隔-->
      <add name="NamingRule" value="Camel" />
      <!-- 日期格式序列化器 -->
      <add name="DateTimeSerializer" value="X3Platform.Ajax.AjaxDateTimeSerializer,X3Platform.Support" />
    </keys>
    <specialWords>
      <add name="QQ" value="qq" />
      <add name="MSN" value="msn" />
      <add name="IP" value="ip" />
      <add name="PinYin" value="pinyin" />
      <add name="RMB" value="rmb" />
    </specialWords>
  </ajax>
</configuration>