@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script type="text/javascript" id="main-account-settings-admin-script" src="/views/main/account/settings/admin.js"></script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table" style="width:100%;">
  
  </div>
</div>