@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }
<script type="text/javascript" src="/resources/javascript/cropbox/cropbox.js"></script>
<script type="text/javascript" src="/views/main/account/settings/avatar.js"></script>
@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName, new Dictionary<string, string> { { "currentMenuFullPath", @"我的控制台\头像信息" } }))
<style type="text/css">
  .imageBox {
    position: relative;
    height: 240px;
    width: 240px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
  }

    .imageBox .thumbBox {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 180px;
      height: 180px;
      margin-top: -90px;
      margin-left: -90px;
      box-sizing: border-box;
      border: 1px dashed rgb(102, 102, 102);
      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
      background: none repeat scroll 0% 0% transparent;
    }

    .imageBox .spinner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      line-height: 400px;
      background: rgba(0,0,0,0.7);
    }
</style>
<input id="avatar_180x180" type="hidden" value="@ViewBag.avatar_180x180" />
<table>
  <tr>
    <td>
      <div class="container" style="width:270px; height:270px; margin-top:15px;">
        <div class="imageBox">
          <div class="thumbBox"></div>
          <div class="spinner" style="display: none">Loading...</div>
        </div>

        <div class="action">
          <input type="button" id="btnCrop" value="Crop" class="btn btn-default btn-xs">
          <input type="button" id="btnZoomIn" value="+" class="btn btn-default btn-xs">
          <input type="button" id="btnZoomOut" value="-" class="btn btn-default btn-xs">
        </div>

        <input type="file" id="file" style="float:left;">
      </div>
    </td>
    <td>
      <div class="cropped"></div>
    </td>
  </tr>
</table>