@{ Layout = "~/views/templates/themes/" + ViewBag.ThemeName + "/render.cshtml"; }

@Html.Raw(X3Platform.Web.Builder.BuilderContext.Instance.MenuManagement.GetMenu(ViewBag.account, ViewBag.application.ApplicationName))
<div id="window-container" class="window-container">
  <div id="window-main-table" class="table-style border-4" style="width:100%;">

  </div>
</div>