@{
    ViewBag.Title = "软件开发工具包";
    Layout = "~/views/templates/internal/sdk/render.cshtml";
}
<div class="list-container" >
<h3>常用</h3>
<ul>
  <li><a href="/sdk/uuid" >UUID生成工具</a></li>
  <li><a href="/sdk/password" >密码生成工具</a></li>
  <li><a href="/sdk/location" >中国区划查询</a></li>
  <li><a href="/sdk/ip" >IP在线查询工具</a></li>
  <li><a href="/sdk/mobile" >手机归属地查询工具</a></li>
  <li><a href="/sdk/tq" >天气查询工具</a></li>
  <li><a href="/sdk/qrcode" >二维码在线生成工具</a></li>
  <li><a href="/sdk/captcha" >验证码 校验工具</a></li>
  <li><a href="/sdk/xhr" >XHR 查询工具</a></li>
  <li><a href="/sdk/xhrsignature" >XHR 签名生成工具</a></li>
</ul>
<h3>编码</h3>
<ul >
  <li><a href="/sdk/md5" >MD5 加密工具</a></li>
  <li><a href="/sdk/sha1" >SHA1 加密工具</a></li>
  <li><a href="/sdk/base64" >BASE64 加密工具</a></li>
  <li><a href="/sdk/aes" >AES 加密工具</a></li>
</ul>
<h3>SEO</h3>
<ul >
  <li><a href="/sdk/pr" >PR值在线查询</a></li>
  <li><a href="/sdk/words" >关键字值查询</a></li>
  <li><a href="/sdk/useragent" >User Agent 在线查询</a></li>
</ul>
</div>