@{
    ViewBag.Title = "JSONP请求工具";
    Layout = "~/views/templates/internal/sdk/render.cshtml";
}
<script type="text/javascript">
    function callback(responseText)
    {
        x.dom('#result').val(JSON.stringify(responseText));
    }

    x.dom.ready(function()
    {
        x.dom("#btnSend").on('click', function()
        {
            var url = x.dom('#url').val();

            x.jsonp({ url: url, jsonpCallback: 'callback' });
        });
    });
</script>
<div class="form-container" >
    <div class="form-top" >
        <h3>JSONP请求工具</h3>
    </div>
    <div class="form-main" >
        <dl class="form-cell">
            <dt class="input-label">Url</dt> 
            <dd>
                <input id="url" name="url" type="text" x-dom-data-type="value" x-dom-feature="text" value="" />
            </dd>
        </dl>
        <dl class="form-cell">
            <dt class="input-label">参数</dt> 
            <dd>
                <textarea id="args" name="args" style="width:100%; height:60px;" ></textarea>
                <p class="note" >注:多个参数中间以 & 符号连接</p>
            </dd>
        </dl>
        <dl class="form-cell">
            <dt class="input-label">结果</dt> 
            <dd>
                <textarea id="result" name="result" style="width:100%; height:80px;" ></textarea>
            </dd>
        </dl>
        <div class="form-actions">
            <div class="button-submit button primary" ><a id="btnSend" href="javascript:void(0);" >发送</a></div>
        </div>    
        <input id="methodName" name="methodName" type="hidden" x-dom-data-type="value" value="@HttpContext.Current.Request["methodName"]" />    
    </div>
    <div class="form-bottom" ><a href="/sdk/" >在线软件开发工具集</a></div>
</div>