@{
    ViewBag.Title = "SHA1 加密工具";
    Layout = "~/views/templates/internal/sdk/render.cshtml";
}
<form id="form1" method="post" >
<div class="form-container" >
    <div class="form-top" >
        <h3>SHA1 加密工具</h3>
    </div>
    <div class="form-main" >
        <dl class="form-cell">
            <dt class="input-label">原文</dt> 
            <dd>
                <input id="text" name="text" type="text" x-dom-data-type="value" x-dom-feature="text" maxlength="100" value="@HttpContext.Current.Request["text"]" />
            </dd>
        </dl>
        <dl class="form-cell">
            <dt class="input-label">密文</dt> 
            <dd>
                <input id="ciphertext" name="ciphertext" type="text" x-dom-data-type="value" x-dom-feature="text" maxlength="100" value="@ViewBag.Ciphertext" />
            </dd>
        </dl>
        <div class="form-actions">
            <div class="button-submit button primary" ><a id="btnSubmit" href="javascript:void(0);" onclick="document.getElementById('form1').submit();" >加密</a></div>
        </div>
    </div>
    <div class="form-bottom" ><a href="/sdk/" >在线软件开发工具集</a></div>
</div>
</form>