<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="codeBuilder" type="X3Platform.CodeBuilder.Configuration.CodeBuilderConfigurationSectionHandler,codebuilder" />
  </configSections>
  <codeBuilder>
    <!-- 主名称空间 -->
    <namespaceRoot>X3Platform.Plugins.News</namespaceRoot>
    <!-- 数据库提供器 -->
    <!--
        -*- MySql -*-
        <databaseProvider assembly="X3Platform.CodeBuilder" className="X3Platform.CodeBuilder.Data.DbSchemaProviders.MySqlSchemaProvider" type="MySql" >
            <connectionString>Data Source=localhost;Initial Catalog=X3Platform.debug;Persist Security Info=True;User ID=sa;Password=sa;</connectionString>
        </databaseProvider>
		-*- Oracle -*-
        <databaseProvider assembly="X3Platform.CodeBuilder" className="X3Platform.CodeBuilder.Data.DbSchemaProviders.OracleSchemaProvider" type="Oracle" >
            <connectionString>Data Source=.;User Id=test;Password=test;</connectionString>
        </databaseProvider>
		-*- SqlServr -*-
        <databaseProvider assembly="X3Platform.CodeBuilder" className="X3Platform.CodeBuilder.Data.DbSchemaProviders.SqlServerSchemaProvider" type="SqlServer" ownerName="dbo">
            <connectionString>Data Source=(local);Initial Catalog=X3_Testing;Persist Security Info=True;User ID=sa;Password=sa;</connectionString>
        </databaseProvider>
		-->
    <databaseProvider assembly="X3Platform.CodeBuilder" className="X3Platform.CodeBuilder.Data.MySqlSchemaProvider" type="MySql" >
      <connectionString>Data Source=localhost;Initial Catalog=X3Platform.debug;Persist Security Info=True;User ID=sa;Password=sa;</connectionString>
    </databaseProvider>

    <!-- 字段格式化 -->
    <specialWords>
      <add name="Categoryid" value="CategoryId"/>
      <add name="Publishtime" value="Publishtime"/>
      <add name="Publishtime" value="Publishtime"/>
    </specialWords>
    <!-- Css 2.0 Styles -->
    <task name="Task.Web.Styles.Style" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Style">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="style.css" />
    </task>
    <task name="Task.Web.Styles.Default" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Default">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="default.css" />
    </task>
    <task name="Task.Web.Styles.Form" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Form">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="form.css" />
    </task>
    <task name="Task.Web.Styles.Sign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Sign">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="sign.css" />
    </task>
    <task name="Task.Web.Styles.Table" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Table">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="table.css" />
    </task>
    <task name="Task.Web.Styles.Text" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Text">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="text.css" />
    </task>
    <task name="Task.Web.Styles.Window" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Css.Window">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="window.css" />
    </task>
    <!--
		//=========================================================================
		//
		// 共享的类
		//
		//=========================================================================
		-->

    <!-- 数据工厂 -->
    <task name="Task.CSharp.DALFactory.DataAcces" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DALFactory" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="Namespace" value="DALFactory" />
      <property name="ClassName" value="DataAccess" />
      <property name="DataAccessInterface" value="IDAL.IAccount" />
      <property name="DataAccessClass" value="Account" />
      <property name="Directory" value="CSharp\DALFactory" />
      <property name="File" value="DataAccess.cs" />
    </task>

    <!-- 数据存储操作信息 -->
    <task name="Task.CSharp.IDAL.MessageCourier" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.MessageCourier">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="Key" value="Result,Message,Description,URL" />
      <property name="Directory" value="CSharp\IDAL" />
    </task>

    <!-- 数据库公共信息 -->
    <task name="Task.CSharp.DAL.CommonDatabaseObject" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.CommonDatabaseObject">
      <observer type="File" />
      <property name="Namespace" value="DAL" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="CommonDatabaseObject.cs" />
    </task>

    <!-- 测试对象 -->
    <task name="Task.CSharp.NUnit.Program" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.Program">
      <observer type="File" />
      <property name="Namespace" value="NUnit" />
      <property name="Directory" value="CSharp\NUnit" />
      <property name="File" value="Program.cs" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Template_Category
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.TemplateCategoryInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Template_Category" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="TemplateCategoryInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="TemplateCategoryInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ITemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="ITemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ITemplateCategory.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ITemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Category" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="ITemplateCategory" />
      <property name="InterfaceName" value="IBLL.ITemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ITemplateCategory.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.TemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="TemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ITemplateCategory" />
      <property name="DataAccessInterface" value="IDAL.ITemplateCategory" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateTemplateCategory" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="TemplateCategory.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.ITemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="ITemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ITemplateCategory.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ITemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Category" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="ITemplateCategory" />
      <property name="InterfaceName" value="IDAL.ITemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ITemplateCategory.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.TemplateCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Template_Category" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="TemplateCategory" />
      <property name="DataAccessInterface" value="IDAL.ITemplateCategory" />
      <property name="EntityClass" value="Model.TemplateCategoryInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="TemplateCategory.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Template_Category" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Template_Category" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Template_Design
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.TemplateDesignInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Template_Design" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="TemplateDesignInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="TemplateDesignInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ITemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="ITemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ITemplateDesign.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ITemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="ITemplateDesign" />
      <property name="InterfaceName" value="IBLL.ITemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ITemplateDesign.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.TemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="TemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ITemplateDesign" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesign" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateTemplateDesign" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="TemplateDesign.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.ITemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="ITemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ITemplateDesign.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ITemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="ITemplateDesign" />
      <property name="InterfaceName" value="IDAL.ITemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ITemplateDesign.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.TemplateDesign" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Template_Design" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="TemplateDesign" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesign" />
      <property name="EntityClass" value="Model.TemplateDesignInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="TemplateDesign.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Template_Design" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Template_Design" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Template_Tag
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.TemplateTagInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Template_Tag" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="TemplateTagInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="TemplateTagInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ITemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="ITemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ITemplateTag.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ITemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Tag" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="ITemplateDesignTag" />
      <property name="InterfaceName" value="IBLL.ITemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ITemplateTag.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.TemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="TemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ITemplateTag" />
      <property name="DataAccessInterface" value="IDAL.ITemplateTag" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateTemplateTag" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="TemplateTag.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.ITemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="ITemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ITemplateTag.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ITemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Tag" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="ITemplateTag" />
      <property name="InterfaceName" value="IDAL.ITemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ITemplateTag.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.TemplateTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Template_Tag" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="TemplateTag" />
      <property name="DataAccessInterface" value="IDAL.ITemplateTag" />
      <property name="EntityClass" value="Model.TemplateTagInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="TemplateTag.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Template_Tag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Template_Tag" />
      <property name="Directory" value="SQL" />
    </task>


    <!--
		//=========================================================================
		//
		// Table:Template_Design_Tag
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.TemplateDesignTagInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Tag" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="TemplateDesignTagInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="TemplateDesignTagInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ITemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="ITemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ITemplateDesignTag.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ITemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Tag" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="ITemplateDesignTag" />
      <property name="InterfaceName" value="IBLL.ITemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ITemplateDesignTag.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.TemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="TemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ITemplateDesignTag" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesignTag" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateTemplateDesignTag" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="TemplateDesignTag.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.ITemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="ITemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ITemplateDesignTag.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ITemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Tag" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="ITemplateDesignTag" />
      <property name="InterfaceName" value="IDAL.ITemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ITemplateDesignTag.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.TemplateDesignTag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Tag" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="TemplateDesignTag" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesignTag" />
      <property name="EntityClass" value="Model.TemplateDesignTagInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="TemplateDesignTag.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Template_Design_Tag" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Tag" />
      <property name="Directory" value="SQL" />
    </task>


    <!--
		//=========================================================================
		//
		// Table:Template_Design_Category
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.TemplateDesignCategoryInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Category" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="TemplateDesignCategoryInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="TemplateDesignCategoryInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ITemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="ITemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ITemplateDesignCategory.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ITemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Category" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="ITemplateDesignCategory" />
      <property name="InterfaceName" value="IBLL.ITemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ITemplateDesignCategory.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.TemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="TemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ITemplateDesignCategory" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesignCategory" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateTemplateDesignCategory" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="TemplateDesignCategory.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.ITemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="ITemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ITemplateDesignCategory.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ITemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Category" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="ITemplateDesignCategory" />
      <property name="InterfaceName" value="IDAL.ITemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ITemplateDesignCategory.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.TemplateDesignCategory" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Category" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="TemplateDesignCategory" />
      <property name="DataAccessInterface" value="IDAL.ITemplateDesignCategory" />
      <property name="EntityClass" value="Model.TemplateDesignCategoryInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="TemplateDesignCategory.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Template_Design_Category" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Template_Design_Category" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Orders
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.OrderInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Orders" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="OrderInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="OrderInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.IOrder" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="IOrder" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="IOrder.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.IOrder" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Orders" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="IOrder" />
      <property name="InterfaceName" value="IBLL.IOrder" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="IOrder.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.Order" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="Order" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.IOrder" />
      <property name="DataAccessInterface" value="IDAL.IOrder" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateOrder" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="Order.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.IOrder" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="IOrder" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="IOrder.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.IOrder" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Orders" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="IOrder" />
      <property name="InterfaceName" value="IDAL.IOrder" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="IOrder.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.Order" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Orders" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="Order" />
      <property name="DataAccessInterface" value="IDAL.IOrder" />
      <property name="EntityClass" value="Model.OrderInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="Order.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Orders" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Orders" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Administrators
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.AdministratorInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Administrators" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="AdministratorInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="AdministratorInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.IAdministrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="IAdministrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="IAdministrator.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.IAdministrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="Administrators" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="IAdministrator" />
      <property name="InterfaceName" value="IBLL.IAdministrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="IAdministrator.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.Administrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="Administrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.IAdministrator" />
      <property name="DataAccessInterface" value="IDAL.IAdministrator" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateAdministrator" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="Administrator.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.IAdministrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="IAdministrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="IAdministrator.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.IAdministrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="Administrators" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="IAdministrator" />
      <property name="InterfaceName" value="IDAL.IAdministrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="IAdministrator.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.Administrator" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="Administrators" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="Administrator" />
      <property name="DataAccessInterface" value="IDAL.IAdministrator" />
      <property name="EntityClass" value="Model.AdministratorInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="Administrator.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Administrators" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Administrators" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:ProductOptionsPricing
		//
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.ProductOptionsPricingInfo" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="ProductOptionsPricing" />
      <property name="Namespace" value="Model" />
      <property name="ClassName" value="ProductOptionsPricingInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="ProductOptionsPricingInfo.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.IProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="IBLL" />
      <property name="InterfaceName" value="IProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="IProductOptionsPricing.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.IProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IBusinessFacadeTester">
      <observer type="File" />
      <property name="DataTable" value="ProductOptionsPricing" />
      <property name="Namespace" value="IBLL.NUnit" />
      <property name="ClassName" value="IProductOptionsPricing" />
      <property name="InterfaceName" value="IBLL.IProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="IProductOptionsPricing.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.ProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="Namespace" value="BLL" />
      <property name="ClassName" value="ProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.IProductOptionsPricing" />
      <property name="DataAccessInterface" value="IDAL.IProductOptionsPricing" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateProductOptionsPricing" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="ProductOptionsPricing.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.IProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="Namespace" value="IDAL" />
      <property name="InterfaceName" value="IProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="IProductOptionsPricing.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.IProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.NUnit.IDataAccessTester">
      <observer type="File" />
      <property name="DataTable" value="ProductOptionsPricing" />
      <property name="Namespace" value="IDAL.NUnit" />
      <property name="ClassName" value="IProductOptionsPricing" />
      <property name="InterfaceName" value="IDAL.IProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="IProductOptionsPricing.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.ProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.CSharp.DataAccess.SqlServer">
      <observer type="File" />
      <property name="DataTable" value="ProductOptionsPricing" />
      <property name="Namespace" value="DAL" />
      <property name="ClassName" value="ProductOptionsPricing" />
      <property name="DataAccessInterface" value="IDAL.IProductOptionsPricing" />
      <property name="EntityClass" value="Model.ProductOptionsPricingInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="ProductOptionsPricing.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.ProductOptionsPricing" assembly="X3Platform.CodeBuilder" generator="X3Platform.CodeBuilder.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="ProductOptionsPricing" />
      <property name="Directory" value="SQL" />
    </task>
  </codeBuilder>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
